In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [2]:
filepath ='R98.xlsx'
data99 = pd.read_excel(filepath, sheet_name= None)

In [3]:
p3_sheets = {
    'R98P3S01': 'Food',
    'R98P3S02': 'Tobacco',
    'R98P3S03': 'Clothing',
    'R98P3S04': 'Housing',
    'R98P3S05': 'Furniture',
    'R98P3S06': 'Health',
    'R98P3S07': 'Transport',
    'R98P3S08': 'Communication',
    'R98P3S09': 'Recreation',
    'R98P3S11': 'Education',
    'R98P3S12': 'Hotel',
    'R98P3S13': 'Miscellaneous',
    'R98P3S14': 'Investment'
}

In [4]:
for sheet_name, expense_type in p3_sheets.items():
    if sheet_name in data99:
        columns_to_rename = {}


        if 'code' in data99[sheet_name].columns:
            columns_to_rename['code'] = f'{expense_type}_Code'

        if 'purchased' in data99[sheet_name].columns:
            columns_to_rename['purchased'] = f'{expense_type}_Purchased'

        if 'gram' in data99[sheet_name].columns:
            columns_to_rename['gram'] = f'{expense_type}_Gram'

        if 'kilogram' in data99[sheet_name].columns:
            columns_to_rename['kilogram'] = f'{expense_type}_Kilogram'

        if 'price' in data99[sheet_name].columns:
            columns_to_rename['price'] = f'{expense_type}_Price'

        if 'value' in data99[sheet_name].columns:
            columns_to_rename['value'] = f'{expense_type}_Value'

        if 'mortgage' in data99[sheet_name].columns:
            columns_to_rename['mortgage'] = f'{expense_type}_Mortgage'


        data99[sheet_name] = data99[sheet_name].rename(columns=columns_to_rename)

In [5]:
R98Data=pd.read_excel(filepath, sheet_name='R98Data')
R98P1=pd.read_excel(filepath, sheet_name='R98P1')
R98P2=pd.read_excel(filepath, sheet_name='R98P2')
R98P3S01=pd.read_excel(filepath, sheet_name='R98P3S01')
R98P3S02=pd.read_excel(filepath, sheet_name='R98P3S02')
R98P3S03=pd.read_excel(filepath, sheet_name='R98P3S03')
R98P3S04=pd.read_excel(filepath, sheet_name='R98P3S04')
R98P3S05=pd.read_excel(filepath, sheet_name='R98P3S05')
R98P3S06=pd.read_excel(filepath, sheet_name='R98P3S06')
R98P3S07=pd.read_excel(filepath, sheet_name='R98P3S07')
R98P3S08=pd.read_excel(filepath, sheet_name='R98P3S08')
R98P3S09=pd.read_excel(filepath, sheet_name='R98P3S09')
R98P3S11=pd.read_excel(filepath, sheet_name='R98P3S11')
R98P3S12=pd.read_excel(filepath, sheet_name='R98P3S12')
R98P3S13=pd.read_excel(filepath, sheet_name='R98P3S13')
R98P3S14=pd.read_excel(filepath, sheet_name='R98P3S14')
R98P4S01=pd.read_excel(filepath, sheet_name='R98P4S01')
R98P4S02=pd.read_excel(filepath, sheet_name='R98P4S02')
R98P4S03=pd.read_excel(filepath, sheet_name='R98P4S03')
R98P4S04=pd.read_excel(filepath, sheet_name='R98P4S04')

In [6]:

for sheet_name, df in data99.items():
    if 'Value' in df.columns:
        df['Value'] = pd.to_numeric(df['Value'], errors='coerce')

    data99[sheet_name] = df

بررسی شیت R98Data

In [7]:
R98Data=pd.read_excel(filepath, sheet_name='R98Data')

In [8]:
R98Data.head()

,Address,MahMorajeh,Fasl,weight,khanevartype,Takmil,TakmilDescA,TakmilDescB,TakmilDescC,Jaygozin,JaygozinDescA,JaygozinDescB,JaygozinDescC,BlkAbdJaygozin,RadifJaygozin,province,town
0,20001383908,5,2,171.199524,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Markazi,1
1,20001383911,5,2,171.199524,1,2,NaN,1.0,NaN,1.0,NaN,NaN,NaN,33.0,9.0,Markazi,1
2,20001383915,5,2,171.199524,1,2,NaN,1.0,NaN,1.0,NaN,NaN,NaN,33.0,14.0,Markazi,1
3,20001383916,5,2,171.199524,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Markazi,1
4,20001383920,5,2,171.199524,1,2,NaN,1.0,NaN,1.0,NaN,NaN,NaN,35.0,19.0,Markazi,1

In [9]:
missing_percentage = R98Data.isnull().sum() / len(R98Data) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address             0.000000
MahMorajeh          0.000000
Fasl                0.000000
weight              0.000000
khanevartype        0.000000
Takmil              0.000000
TakmilDescA       100.000000
TakmilDescB        81.117743
TakmilDescC        99.864352
Jaygozin           81.117743
JaygozinDescA     100.000000
JaygozinDescB     100.000000
JaygozinDescC     100.000000
BlkAbdJaygozin     81.117743
RadifJaygozin      81.117743
province            0.000000
town                0.000000
dtype: float64

In [10]:
threshold = 70

In [11]:
threshold = 70
R98Data_cleaned = R98Data.dropna(axis=1, thresh=int((1-threshold/100)*len(R98Data)))

In [12]:
missing_percentage = R98Data_cleaned.isnull().sum() / len(R98Data_cleaned) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address         0.0
MahMorajeh      0.0
Fasl            0.0
weight          0.0
khanevartype    0.0
Takmil          0.0
province        0.0
town            0.0
dtype: float64

In [13]:
# فقط در سال 99این دو فیچر در دیتاست سال های دیگر نبودند
#R98Data_cleaned = R98Data_cleaned.drop(columns=['IsTel', 'FVam'])

In [14]:
missing_percentage = R98Data_cleaned.isnull().sum() / len(R98Data_cleaned) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address         0.0
MahMorajeh      0.0
Fasl            0.0
weight          0.0
khanevartype    0.0
Takmil          0.0
province        0.0
town            0.0
dtype: float64

In [15]:
duplicates = R98Data_cleaned.duplicated().sum()
print(duplicates)

0

In [16]:
categorical_columns = R98Data_cleaned.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

ستون‌های دسته‌بندی‌شده:
Index(['province'], dtype='object')

In [17]:

numerical_columns = R98Data_cleaned.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)

ستون‌های عددی:
Index(['Address', 'MahMorajeh', 'Fasl', 'weight', 'khanevartype', 'Takmil',
       'town'],
      dtype='object')

In [18]:
unique_provinces = R98Data_cleaned['province'].unique()
print("مقادیر منحصر به فرد در ستون province:")
print(unique_provinces)

مقادیر منحصر به فرد در ستون province:
['Markazi' 'Gilan' 'Mazandaran' 'AzarbaijanSharghi' 'AzarbaijanGharbi'
 'Kermanshah' 'Kouzestan' 'Fars' 'Kerman' 'KhorasanRazavi' 'Esfahan'
 'SistanBalouchestan' 'Kordestan' 'Hamedan' 'CharmahalBakhtiari'
 'Lorestan' 'Ilam' 'KohkilouyeBoyerahamad' 'Boushehr' 'Zanjan' 'Semnan'
 'Yazd' 'Hormozgan' 'Tehran' 'Ardebil' 'Qom' 'Qazvin' 'Golestan'
 'KhorasanShomali' 'KhorasanJonoubi' 'Alborz']

In [19]:
# مشاهده تعداد هر دسته‌بندی در ستون province
province_counts = R98Data_cleaned['province'].value_counts()
print("تعداد هر دسته در ستون province:")
print(province_counts)

تعداد هر دسته در ستون province:
province
Markazi                  836
KhorasanRazavi           816
Fars                     788
Kouzestan                738
KhorasanJonoubi          705
Kermanshah               696
KhorasanShomali          685
Golestan                 684
SistanBalouchestan       680
AzarbaijanSharghi        677
Esfahan                  658
Hormozgan                655
Yazd                     653
AzarbaijanGharbi         629
Kerman                   609
Hamedan                  593
KohkilouyeBoyerahamad    584
Qazvin                   572
Lorestan                 572
Ilam                     533
Mazandaran               531
Alborz                   525
Boushehr                 517
Zanjan                   509
Tehran                   485
Semnan                   482
CharmahalBakhtiari       474
Ardebil                  433
Gilan                    405
Qom                      390
Kordestan                316
Name: count, dtype: int64

In [20]:
# دیکشنری برای انکود کردن مقادیر province
province_encoding = {
    'Markazi': '00', 'Gilan': '01', 'Mazandaran': '02', 'AzarbaijanSharghi': '03', 
    'AzarbaijanGharbi': '04', 'Kermanshah': '05', 'Kouzestan': '06', 'Fars': '07', 
    'Kerman': '08', 'KhorasanRazavi': '09', 'Esfahan': '10', 'SistanBalouchestan': '11', 
    'Kordestan': '12', 'Hamedan': '13', 'CharmahalBakhtiari': '14', 'Lorestan': '15', 
    'Ilam': '16', 'KohkilouyeBoyerahamad': '17', 'Boushehr': '18', 'Zanjan': '19', 
    'Semnan': '20', 'Yazd': '21', 'Hormozgan': '22', 'Tehran': '23', 'Ardebil': '24', 
    'Qom': '25', 'Qazvin': '26', 'Golestan': '27', 'KhorasanShomali': '28', 
    'KhorasanJonoubi': '29', 'Alborz': '30'
}

In [21]:
# انکود کردن ستون province با استفاده از دیکشنری
R98Data_cleaned['province_encoded'] = R98Data_cleaned['province'].map(province_encoding)

# بررسی نتیجه
print(R98Data_cleaned[['province', 'province_encoded']].head())

  province province_encoded
0  Markazi               00
1  Markazi               00
2  Markazi               00
3  Markazi               00
4  Markazi               00

C:\Users\Admin\AppData\Local\Temp\ipykernel_13308\4173686901.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R98Data_cleaned['province_encoded'] = R98Data_cleaned['province'].map(province_encoding)

In [22]:
unique_provinces = R98Data_cleaned['province_encoded'].unique()
print("مقادیر منحصر به فرد در ستون province_encoded:")
print(unique_provinces)

مقادیر منحصر به فرد در ستون province_encoded:
['00' '01' '02' '03' '04' '05' '06' '07' '08' '09' '10' '11' '12' '13'
 '14' '15' '16' '17' '18' '19' '20' '21' '22' '23' '24' '25' '26' '27'
 '28' '29' '30']

In [23]:
R98Data_cleaned = R98Data_cleaned.drop(columns=['province'])

In [24]:

# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = R98Data_cleaned[column].quantile(0.25)
    Q3 = R98Data_cleaned[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((R98Data_cleaned[column] < (Q1 - 1.5 * IQR)) | (R98Data_cleaned[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

تعداد داده‌های پرت در ستون weight: 514
تعداد داده‌های پرت در ستون khanevartype: 9
تعداد داده‌های پرت در ستون Takmil: 3913
تعداد داده‌های پرت در ستون town: 993

In [25]:


# محاسبه IQR و اعمال بازه‌بندی (Capping)
for column in ['weight']:
    Q1 = R98Data_cleaned[column].quantile(0.25)
    Q3 = R98Data_cleaned[column].quantile(0.75)
    IQR = Q3 - Q1
    
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    # اعمال بازه‌بندی
    R98Data_cleaned[column] = np.where(R98Data_cleaned[column] < lower_bound, lower_bound, R98Data_cleaned[column])
    R98Data_cleaned[column] = np.where(R98Data_cleaned[column] > upper_bound, upper_bound, R98Data_cleaned[column])
    
    # اعمال تبدیل لگاریتمی برای مقادیر مثبت
    R98Data_cleaned[column] = np.log1p(R98Data_cleaned[column])

In [26]:
# جایگزینی مقادیر پرت با Mode (پرتکرارترین مقدار)
def replace_outliers_with_mode(column, threshold=0.01):
    mode = R98Data_cleaned[column].mode()[0]
    
    # شناسایی دسته‌های نادر (کمتر از آستانه threshold)
    value_counts = R98Data_cleaned[column].value_counts(normalize=True)
    rare_values = value_counts[value_counts < threshold].index
    
    # جایگزینی مقادیر نادر با Mode
    R98Data_cleaned[column] = R98Data_cleaned[column].apply(lambda x: mode if x in rare_values else x)

# اعمال جایگزینی با Mode برای ستون‌های دسته‌ای
for column in ['khanevartype', 'Takmil', 'town']:
    replace_outliers_with_mode(column)

In [27]:
# بررسی و اصلاح اوت‌لیرهای نادرست در ستون‌های MahMorajeh و Fasl
# برای ماه محدوده باید بین 1 تا 12 باشد و برای فصل باید بین 1 تا 4 باشد
def fix_invalid_values(column, valid_range):
    R98Data_cleaned[column] = np.where(~R98Data_cleaned[column].isin(valid_range), np.nan, R98Data_cleaned[column])

# اعمال اصلاح برای ستون‌های MahMorajeh و Fasl
fix_invalid_values('MahMorajeh', range(1, 13))  # ماه‌ها باید بین 1 تا 12 باشند
fix_invalid_values('Fasl', range(1, 5))  # فصل‌ها باید بین 1 تا 4 باشند

In [28]:
unique_values = R98Data_cleaned['town'].unique()
print(unique_values)

[ 1  2  3  4  5  6  7  9 10 11 12 13  8 14 15 16 19 20 17]

In [29]:
unique_values = R98Data_cleaned['Takmil'].unique()
print(unique_values)

[1 2]

In [30]:
R98Data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18430 entries, 0 to 18429
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           18430 non-null  int64
 1   MahMorajeh        18430 non-null  float64
 2   Fasl              18430 non-null  float64
 3   weight            18430 non-null  float64
 4   khanevartype      18430 non-null  int64
 5   Takmil            18430 non-null  int64
 6   town              18430 non-null  int64
 7   province_encoded  18430 non-null  object
dtypes: float64(3), int64(4), object(1)
memory usage: 1.1+ MB

بررسی شیت R98P1

In [31]:
R98P1.columns

Index(['Address', 'member', 'relation', 'gender', 'age', 'literacy',
       'studying', 'degree', 'occupationalst', 'maritalst'],
      dtype='object')

In [32]:
missing_percentage = R98P1.isnull().sum() / len(R98P1) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address            0.000000
member             0.000000
relation           0.000000
gender             0.000000
age                0.000000
literacy           9.703559
studying          29.735909
degree            29.735909
occupationalst    16.623118
maritalst         16.621563
dtype: float64

In [33]:
# بررسی وجود داده‌های تکراری
duplicate_rows = R98P1.duplicated().sum()
print(f"تعداد ردیف‌های تکراری: {duplicate_rows}")

تعداد ردیف‌های تکراری: 0

In [34]:
# بررسی ستون‌های دسته‌بندی‌شده (غیر عددی)
categorical_columns = R98P1.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

ستون‌های دسته‌بندی‌شده:
Index(['relation', 'gender', 'literacy', 'studying', 'degree',
       'occupationalst', 'maritalst'],
      dtype='object')

In [35]:
# لیست ستون‌های دسته‌بندی‌شده
categorical_columns = ['relation', 'gender', 'literacy', 'studying', 'degree', 'occupationalst', 'maritalst']

# حلقه برای مشاهده داده‌های یونیک در هر ستون
for column in categorical_columns:
    unique_values = R98P1[column].unique()
    print(f"مقادیر یونیک در ستون '{column}':")
    print(unique_values)
    print("-" * 50)  # جداکننده برای خوانایی بیشتر

مقادیر یونیک در ستون 'relation':
['Head' 'Spouse' 'Child' 'Parent' 'GrandSonDaughter' 'Sibling'
 'OtherRelative' 'SonDaughter_inLaw' 'NonRelative']
--------------------------------------------------
مقادیر یونیک در ستون 'gender':
['Male' 'Female']
--------------------------------------------------
مقادیر یونیک در ستون 'literacy':
['literate' 'illiterate' nan]
--------------------------------------------------
مقادیر یونیک در ستون 'studying':
['No' nan 'Yes']
--------------------------------------------------
مقادیر یونیک در ستون 'degree':
['Elemantry' nan 'Bachelor' 'Secondary' 'Diploma' 'Master' 'HighSchool'
 'College' 'Other' 'PhD']
--------------------------------------------------
مقادیر یونیک در ستون 'occupationalst':
['employed' 'Housewife' 'Student' nan 'IncomeWOJob' 'unemployed' 'Other']
--------------------------------------------------
مقادیر یونیک در ستون 'maritalst':
['Married' 'Single' nan 'Widowed' 'Divorced']
--------------------------------------------------

In [36]:
# دیکشنری‌های انکودینگ
relation_encoding = {
    'Head': '1', 'Spouse': '2', 'Child': '3', 'SonDaughter_inLaw': '4', 
    'GrandSonDaughter': '5', 'Parent': '6', 'Sibling': '7', 'OtherRelative': '8', 
    'NonRelative': '9'
}

gender_encoding = {'Male': '1', 'Female': '2'}

literacy_encoding = {'literate': '1', 'illiterate': '2'}

yesno_encoding = {'Yes': '1', 'No': '2'}

education_encoding = {
    'Elemantry': '1', 'Secondary': '2', 'HighSchool': '3', 'Diploma': '4', 
    'College': '5', 'Bachelor': '6', 'Master': '7', 'PhD': '8', 'Other': '9'
}

occupation_encoding = {
    'employed': '1', 'unemployed': '2', 'IncomeWOJob': '3', 'Student': '4', 
    'Housewife': '5', 'Other': '6'
}

marital_encoding = {'Married': '1', 'Widowed': '2', 'Divorced': '3', 'Single': '4'}

In [37]:

R98P1['relation_encoded'] = R98P1['relation'].map(relation_encoding)
R98P1['gender_encoded'] = R98P1['gender'].map(gender_encoding)
R98P1['literacy_encoded'] = R98P1['literacy'].map(literacy_encoding)
R98P1['studying_encoded'] = R98P1['studying'].map(yesno_encoding)
R98P1['degree_encoded'] = R98P1['degree'].map(education_encoding)
R98P1['occupationalst_encoded'] = R98P1['occupationalst'].map(occupation_encoding)
R98P1['maritalst_encoded'] = R98P1['maritalst'].map(marital_encoding)

In [38]:
R98P1 = R98P1.drop(columns=['relation', 'gender', 'literacy', 'studying', 'degree', 'occupationalst', 'maritalst'])

In [39]:
R98P1.head()

,Address,member,age,relation_encoded,gender_encoded,literacy_encoded,studying_encoded,degree_encoded,occupationalst_encoded,maritalst_encoded
0,20010394208,1,50,1,1,1,2,1,1,1
1,20010394208,2,45,2,2,2,NaN,NaN,5,1
2,20010394208,3,26,3,2,1,2,1,5,1
3,20010394208,4,25,3,1,1,2,6,1,4
4,20010394208,5,14,3,1,1,1,2,4,4

In [40]:
# نمایش نوع داده‌ها برای هر ستون
print("نوع داده‌های هر ستون:")
print(R98P1.dtypes)

نوع داده‌های هر ستون:
Address                    int64
member                     int64
age                        int64
relation_encoded          object
gender_encoded            object
literacy_encoded          object
studying_encoded          object
degree_encoded            object
occupationalst_encoded    object
maritalst_encoded         object
dtype: object

In [41]:
# بررسی مقادیر یونیک در هر ستون انکود شده
print("مقادیر یونیک در ستون 'relation_encoded':", R98P1['relation_encoded'].unique())
print("مقادیر یونیک در ستون 'gender_encoded':", R98P1['gender_encoded'].unique())
print("مقادیر یونیک در ستون 'literacy_encoded':", R98P1['literacy_encoded'].unique())
print("مقادیر یونیک در ستون 'studying_encoded':", R98P1['studying_encoded'].unique())
print("مقادیر یونیک در ستون 'degree_encoded':", R98P1['degree_encoded'].unique())
print("مقادیر یونیک در ستون 'occupationalst_encoded':", R98P1['occupationalst_encoded'].unique())
print("مقادیر یونیک در ستون 'maritalst_encoded':", R98P1['maritalst_encoded'].unique())

مقادیر یونیک در ستون 'relation_encoded': ['1' '2' '3' '6' '5' '7' '8' '4' '9']
مقادیر یونیک در ستون 'gender_encoded': ['1' '2']
مقادیر یونیک در ستون 'literacy_encoded': ['1' '2' nan]
مقادیر یونیک در ستون 'studying_encoded': ['2' nan '1']
مقادیر یونیک در ستون 'degree_encoded': ['1' nan '6' '2' '4' '7' '3' '5' '9' '8']
مقادیر یونیک در ستون 'occupationalst_encoded': ['1' '5' '4' nan '3' '2' '6']
مقادیر یونیک در ستون 'maritalst_encoded': ['1' '4' nan '2' '3']

In [42]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, recall_score, f1_score, classification_report

In [43]:
df_encoded = R98P1.copy()

In [44]:
# بررسی ستون‌ها و جدا کردن داده‌های مفقود و غیر مفقود
df_not_null = df_encoded[df_encoded['studying_encoded'].notnull()]
df_null = df_encoded[df_encoded['studying_encoded'].isnull()]

In [45]:
X = df_not_null.drop(['studying_encoded'], axis=1)
y = df_not_null['studying_encoded']

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [47]:

model = RandomForestClassifier()


model.fit(X_train, y_train)


y_pred = model.predict(X_test)


y_test_numeric = y_test.astype(int)
y_pred_numeric = y_pred.astype(int)

# محاسبه دقت (Accuracy)
accuracy = accuracy_score(y_test_numeric, y_pred_numeric)
print(f'Accuracy: {accuracy}')

# محاسبه Recall و F1 Score
recall = recall_score(y_test_numeric, y_pred_numeric)
f1 = f1_score(y_test_numeric, y_pred_numeric)

print(f'Recall: {recall}')
print(f'F1 Score: {f1}')

Accuracy: 0.9942452412571935
Recall: 0.9843107956667911
F1 Score: 0.9902292371288989

In [48]:

X_null = df_null.drop(['studying_encoded'], axis=1)


df_null.loc[:, 'studying_encoded'] = model.predict(X_null)


R98P1_filled = pd.concat([df_not_null, df_null])


R98P1_filled.sort_index(inplace=True)


print(R98P1_filled.head())

       Address  member  age relation_encoded gender_encoded literacy_encoded  \
0  20010394208       1   50                1              1                1
1  20010394208       2   45                2              2                2
2  20010394208       3   26                3              2                1
3  20010394208       4   25                3              1                1
4  20010394208       5   14                3              1                1

  studying_encoded degree_encoded occupationalst_encoded maritalst_encoded
0                2              1                      1                 1
1                2            NaN                      5                 1
2                2              1                      5                 1
3                2              6                      1                 4
4                1              2                      4                 4

In [49]:
missing_percentage = R98P1_filled.isnull().sum() / len(R98P1) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address                    0.000000
member                     0.000000
age                        0.000000
relation_encoded           0.000000
gender_encoded             0.000000
literacy_encoded           9.703559
studying_encoded           0.000000
degree_encoded            29.735909
occupationalst_encoded    16.623118
maritalst_encoded         16.621563
dtype: float64

In [50]:
df_encoded2 = R98P1_filled.copy()

In [51]:

df_not_null = df_encoded2[df_encoded2['literacy_encoded'].notnull()]
df_null = df_encoded2[df_encoded2['literacy_encoded'].isnull()]


X = df_not_null.drop(['literacy_encoded'], axis=1)
y = df_not_null['literacy_encoded']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = RandomForestClassifier()


model.fit(X_train, y_train)


y_pred = model.predict(X_test)




accuracy = accuracy_score(y_test_numeric, y_pred_numeric)
print(f'Accuracy: {accuracy}')





X_null = df_null.drop(['literacy_encoded'], axis=1)


df_null.loc[:, 'literacy_encoded'] = model.predict(X_null)


R98P1_filled = pd.concat([df_not_null, df_null])


R98P1_filled.sort_index(inplace=True)


print(R98P1_filled.head())

Accuracy: 0.9942452412571935
       Address  member  age relation_encoded gender_encoded literacy_encoded  \
0  20010394208       1   50                1              1                1
1  20010394208       2   45                2              2                2
2  20010394208       3   26                3              2                1
3  20010394208       4   25                3              1                1
4  20010394208       5   14                3              1                1

  studying_encoded degree_encoded occupationalst_encoded maritalst_encoded
0                2              1                      1                 1
1                2            NaN                      5                 1
2                2              1                      5                 1
3                2              6                      1                 4
4                1              2                      4                 4

In [52]:
missing_percentage = R98P1_filled.isnull().sum() / len(R98P1) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address                    0.000000
member                     0.000000
age                        0.000000
relation_encoded           0.000000
gender_encoded             0.000000
literacy_encoded           0.000000
studying_encoded           0.000000
degree_encoded            29.735909
occupationalst_encoded    16.623118
maritalst_encoded         16.621563
dtype: float64

In [53]:
df_encoded3 = R98P1_filled.copy()

In [54]:

df_not_null = df_encoded3[df_encoded3['degree_encoded'].notnull()]
df_null = df_encoded3[df_encoded3['degree_encoded'].isnull()]


X = df_not_null.drop(['degree_encoded'], axis=1)
y = df_not_null['degree_encoded']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = RandomForestClassifier()


model.fit(X_train, y_train)


y_pred = model.predict(X_test)


print(f'Accuracy for degree_encoded: {accuracy_score(y_test, y_pred)}')


X_null = df_null.drop(['degree_encoded'], axis=1)


df_null.loc[:, 'degree_encoded'] = model.predict(X_null)


R98P1_filled = pd.concat([df_not_null, df_null])


R98P1_filled.sort_index(inplace=True)


print(R98P1_filled.head())

Accuracy for degree_encoded: 0.5303231518370961
       Address  member  age relation_encoded gender_encoded literacy_encoded  \
0  20010394208       1   50                1              1                1
1  20010394208       2   45                2              2                2
2  20010394208       3   26                3              2                1
3  20010394208       4   25                3              1                1
4  20010394208       5   14                3              1                1

  studying_encoded degree_encoded occupationalst_encoded maritalst_encoded
0                2              1                      1                 1
1                2              1                      5                 1
2                2              1                      5                 1
3                2              6                      1                 4
4                1              2                      4                 4

In [55]:
missing_percentage = R98P1_filled.isnull().sum() / len(R98P1) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address                    0.000000
member                     0.000000
age                        0.000000
relation_encoded           0.000000
gender_encoded             0.000000
literacy_encoded           0.000000
studying_encoded           0.000000
degree_encoded             0.000000
occupationalst_encoded    16.623118
maritalst_encoded         16.621563
dtype: float64

In [56]:
df_encoded4 = R98P1_filled.copy()

In [57]:

df_not_null = df_encoded4[df_encoded4['occupationalst_encoded'].notnull()]
df_null = df_encoded4[df_encoded4['occupationalst_encoded'].isnull()]


X = df_not_null.drop(['occupationalst_encoded'], axis=1)
y = df_not_null['occupationalst_encoded']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = RandomForestClassifier()


model.fit(X_train, y_train)


y_pred = model.predict(X_test)


print(f'Accuracy for occupationalst_encoded : {accuracy_score(y_test, y_pred)}')


X_null = df_null.drop(['occupationalst_encoded'], axis=1)


df_null.loc[:, 'occupationalst_encoded'] = model.predict(X_null)


R98P1_filled = pd.concat([df_not_null, df_null])


R98P1_filled.sort_index(inplace=True)


print(R98P1_filled.head())

Accuracy for occupationalst_encoded : 0.7983585152023877
       Address  member  age relation_encoded gender_encoded literacy_encoded  \
0  20010394208       1   50                1              1                1
1  20010394208       2   45                2              2                2
2  20010394208       3   26                3              2                1
3  20010394208       4   25                3              1                1
4  20010394208       5   14                3              1                1

  studying_encoded degree_encoded occupationalst_encoded maritalst_encoded
0                2              1                      1                 1
1                2              1                      5                 1
2                2              1                      5                 1
3                2              6                      1                 4
4                1              2                      4                 4

In [58]:
missing_percentage = R98P1_filled.isnull().sum() / len(R98P1) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address                    0.000000
member                     0.000000
age                        0.000000
relation_encoded           0.000000
gender_encoded             0.000000
literacy_encoded           0.000000
studying_encoded           0.000000
degree_encoded             0.000000
occupationalst_encoded     0.000000
maritalst_encoded         16.621563
dtype: float64

In [59]:
df_encoded5 = R98P1_filled.copy()

In [60]:

df_not_null = df_encoded5[df_encoded5['maritalst_encoded'].notnull()]
df_null = df_encoded5[df_encoded5['maritalst_encoded'].isnull()]


X = df_not_null.drop(['maritalst_encoded'], axis=1)
y = df_not_null['maritalst_encoded']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = RandomForestClassifier()


model.fit(X_train, y_train)


y_pred = model.predict(X_test)


print(f'Accuracy for maritalst_encoded : {accuracy_score(y_test, y_pred)}')


X_null = df_null.drop(['maritalst_encoded'], axis=1)


df_null.loc[:, 'maritalst_encoded'] = model.predict(X_null)


R98P1_filled = pd.concat([df_not_null, df_null])


R98P1_filled.sort_index(inplace=True)


print(R98P1_filled.head())

Accuracy for maritalst_encoded : 0.9271591121059504
       Address  member  age relation_encoded gender_encoded literacy_encoded  \
0  20010394208       1   50                1              1                1
1  20010394208       2   45                2              2                2
2  20010394208       3   26                3              2                1
3  20010394208       4   25                3              1                1
4  20010394208       5   14                3              1                1

  studying_encoded degree_encoded occupationalst_encoded maritalst_encoded
0                2              1                      1                 1
1                2              1                      5                 1
2                2              1                      5                 1
3                2              6                      1                 4
4                1              2                      4                 4

اسم شیت نهایی R98P1_filled

----------------روش دوم

In [ ]:
R98P1_filled = R98P1.copy()

In [ ]:
print("\nدرصد مقادیر نال قبل از پر کردن:")
print(R98P1_filled[feature_columns].isnull().mean() * 100)

In [ ]:
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.preprocessing import LabelEncoder

In [ ]:
categorical_columns = ['relation_encoded', 'gender_encoded', 'literacy_encoded', 'studying_encoded', 'degree_encoded', 

                     'occupationalst_encoded', 'maritalst_encoded']
feature_columns = ['Address', 'member', 'age', 'relation_encoded', 'gender_encoded'] + categorical_columns

In [ ]:
def round_to_integer(x):
    return np.round(x).astype(int)

In [ ]:
# پر کردن مقادیر نال برای ستون‌های کتگوریکال
for col in categorical_columns:
    # ایجاد یک IterativeImputer با RandomForestClassifier
    imputer = IterativeImputer(
        estimator=RandomForestClassifier(n_estimators=100, random_state=42),
        random_state=42,
        max_iter=10
    )
    
    # اعمال imputer روی داده‌ها
    imputed_data = imputer.fit_transform(R98P1_filled[feature_columns])
    
    # جایگزینی مقادیر پر شده و گرد کردن به نزدیک‌ترین عدد صحیح
    col_index = feature_columns.index(col)
    R98P1_filled[col] = round_to_integer(imputed_data[:, col_index])


    
    imputed_data = imputer.fit_transform(R98P1_filled[feature_columns])
    


#print("داده‌ها با موفقیت در دیتافریم df_imputed پر شدند.")

In [ ]:
#print("\nدرصد مقادیر نال بعد از پر کردن:")
#print(R98P1_filled[columns_to_impute].isnull().mean() * 100)

In [ ]:
R98P1_filled.head()

In [ ]:
# بررسی ستون‌های عددی
numerical_columns = R98P1_filled.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)

In [ ]:
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = R98P1_filled[column].quantile(0.25)
    Q3 = R98P1_filled[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((R98P1_filled[column] < (Q1 - 1.5 * IQR)) | (R98P1_filled[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

In [ ]:



df = R98P1_filled.copy()


Q1 = df['member'].quantile(0.25)
Q3 = df['member'].quantile(0.75)
IQR = Q3 - Q1


lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR


outliers = df[(df['member'] < lower_bound) | (df['member'] > upper_bound)]


print(f'Number of outliers: {len(outliers)}')



df['member'] = df['member'].clip(lower_bound, upper_bound)


print(df.describe())

In [ ]:
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((df[column] < (Q1 - 1.5 * IQR)) | (df[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

In [ ]:
df_P1_filled = df.copy()

شیت نهایی df_P1_filled

بررسی شیت R98P2

In [61]:
R98P2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18430 entries, 0 to 18429
Data columns (total 45 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              18430 non-null  int64
 1   tenure               18430 non-null  object
 2   room                 18430 non-null  int64
 3   space                18430 non-null  int64
 4   construction         18430 non-null  int64
 5   material             14816 non-null  object
 6   vehicle              18430 non-null  bool
 7   motorcycle           18430 non-null  bool
 8   bicycle              18430 non-null  bool
 9   radio                18430 non-null  bool
 10  radiotape            18430 non-null  bool
 11  TVbw                 18430 non-null  bool
 12  TV                   18430 non-null  bool
 13  VHS_VCD_DVD          18430 non-null  bool
 14  computer             18430 non-null  bool
 15  cellphone            18430 non-null  bool
 16  freezer              18430 non-null  bool
 17  refridgerator        18430 non-null  bool
 18  fridge               18430 non-null  bool
 19  stove                18430 non-null  bool
 20  vacuum               18430 non-null  bool
 21  washingmachine       18430 non-null  bool
 22  sewingmachine        18430 non-null  bool
 23  fan                  18430 non-null  bool
 24  evapcoolingportable  18430 non-null  bool
 25  splitportable        18430 non-null  bool
 26  dishwasher           18430 non-null  bool
 27  microwave            18430 non-null  bool
 28  none                 18430 non-null  bool
 29  pipewater            18430 non-null  bool
 30  electricity          18430 non-null  bool
 31  pipegas              18430 non-null  bool
 32  telephone            18430 non-null  bool
 33  internet             18430 non-null  bool
 34  bathroom             18430 non-null  bool
 35  kitchen              18430 non-null  bool
 36  evapcooling          18430 non-null  bool
 37  centralcooling       18430 non-null  bool
 38  centralheating       18430 non-null  bool
 39  package              18430 non-null  bool
 40  split                18430 non-null  bool
 41  wastewater           18430 non-null  bool
 42  cookingfuel          18424 non-null  object
 43  heatingfuel          17895 non-null  object
 44  waterheatingfuel     18083 non-null  object
dtypes: bool(36), int64(4), object(5)
memory usage: 1.9+ MB

In [62]:
missing_percentage = R98P2.isnull().mean() * 100  # درصد مقادیر نال
missing_percentage = missing_percentage[missing_percentage > 0]  # فقط مقادیر نال را نگه‌دارید
missing_percentage = missing_percentage.sort_values(ascending=False)  # مرتب‌سازی به ترتیب نزولی

print(missing_percentage)

material            19.609333
heatingfuel          2.902876
waterheatingfuel     1.882800
cookingfuel          0.032556
dtype: float64

In [63]:
R98P2_cleaned = R98P2.dropna(subset=['heatingfuel', 'waterheatingfuel', 'cookingfuel'])

In [64]:
missing_percentage = R98P2_cleaned.isnull().mean() * 100  # درصد مقادیر نال
missing_percentage = missing_percentage[missing_percentage > 0]  # فقط مقادیر نال را نگه‌دارید
missing_percentage = missing_percentage.sort_values(ascending=False)  # مرتب‌سازی به ترتیب نزولی

print(missing_percentage)

material    19.065378
dtype: float64

In [65]:
data_types = R98P2_cleaned.dtypes
print("نوع داده‌ها:")
print(data_types)

نوع داده‌ها:
Address                 int64
tenure                 object
room                    int64
space                   int64
construction            int64
material               object
vehicle                  bool
motorcycle               bool
bicycle                  bool
radio                    bool
radiotape                bool
TVbw                     bool
TV                       bool
VHS_VCD_DVD              bool
computer                 bool
cellphone                bool
freezer                  bool
refridgerator            bool
fridge                   bool
stove                    bool
vacuum                   bool
washingmachine           bool
sewingmachine            bool
fan                      bool
evapcoolingportable      bool
splitportable            bool
dishwasher               bool
microwave                bool
none                     bool
pipewater                bool
electricity              bool
pipegas                  bool
telephone                bool
internet                 bool
bathroom                 bool
kitchen                  bool
evapcooling              bool
centralcooling           bool
centralheating           bool
package                  bool
split                    bool
wastewater               bool
cookingfuel            object
heatingfuel            object
waterheatingfuel       object
dtype: object

In [66]:
categorical_columns = R98P2_cleaned.select_dtypes(include=['object']).columns

In [67]:
categorical_columns

Index(['tenure', 'material', 'cookingfuel', 'heatingfuel', 'waterheatingfuel'], dtype='object')

In [68]:
# لیست ستون‌های دسته‌بندی‌شده
categorical_columns = ['tenure', 'material', 'cookingfuel', 'heatingfuel', 'waterheatingfuel']

# حلقه برای مشاهده داده‌های یونیک در هر ستون
for column in categorical_columns:
    unique_values = R98P2_cleaned[column].unique()
    print(f"مقادیر یونیک در ستون '{column}':")
    print(unique_values)
    print("-" * 50)  # جداکننده برای خوانایی بیشتر

مقادیر یونیک در ستون 'tenure':
['OwnedEstateLand' 'Free' 'Rent' 'Service' 'Mortgage' 'Other'
 'OwnedEstate']
--------------------------------------------------
مقادیر یونیک در ستون 'material':
['WoodKesht' 'MetalBlock' 'BrickWood' 'KeshtGel' nan 'Brick' 'Wood'
 'Cement' 'Other']
--------------------------------------------------
مقادیر یونیک در ستون 'cookingfuel':
['NaturalGas' 'LiquidGas' 'Oil' 'Wood' 'Gasoline' 'Electricity']
--------------------------------------------------
مقادیر یونیک در ستون 'heatingfuel':
['NaturalGas' 'Electricity' 'Oil' 'Wood' 'LiquidGas' 'Gasoline']
--------------------------------------------------
مقادیر یونیک در ستون 'waterheatingfuel':
['NaturalGas' 'Oil' 'LiquidGas' 'Wood' 'Electricity' 'Other' 'Gasoline'
 'AnimalOil']
--------------------------------------------------

In [69]:
R98P2_cleaned.replace({True: 1, False: 0}, inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13308\1570508565.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  R98P2_cleaned.replace({True: 1, False: 0}, inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13308\1570508565.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R98P2_cleaned.replace({True: 1, False: 0}, inplace=True)

In [70]:
tenure_mapping = {
    'OwnedEstateLand': 1, 'OwnedEstate': 2, 'Rent': 3, 'Mortgage': 4,
    'Service': 5, 'Free': 6, 'Other': 7
}

material_mapping = {
    'MetalBlock': 1, 'BrickWood': 2, 'Cement': 3, 'Brick': 4,
    'Wood': 5, 'WoodKesht': 6, 'KeshtGel': 7, 'Other': 8
}

cookingfuel_mapping = {
    'NaturalGas': 1, 'LiquidGas': 2, 'Oil': 3, 'Electricity': 4,
    'Gasoline': 5, 'Wood': 6
}

heatingfuel_mapping = {
    'NaturalGas': 1, 'Oil': 2, 'Wood': 3, 'Electricity': 4,
    'LiquidGas': 5, 'Gasoline': 6
}

waterheatingfuel_mapping = {
    'NaturalGas': 1, 'Oil': 2, 'LiquidGas': 3, 'Wood': 4,
    'Electricity': 5, 'AnimalOil': 6, 'Gasoline': 7, 'Other': 8
}

In [71]:
R98P2_cleaned['tenure_encoded'] = R98P2_cleaned['tenure'].map(tenure_mapping)
R98P2_cleaned['Material_encoded'] = R98P2_cleaned['material'].map(material_mapping)
R98P2_cleaned['cookingFuel_encoded'] = R98P2_cleaned['cookingfuel'].map(cookingfuel_mapping)
R98P2_cleaned['HeatingFuel_encoded'] = R98P2_cleaned['heatingfuel'].map(heatingfuel_mapping)
R98P2_cleaned['waterheatingfuel_encoded'] = R98P2_cleaned['waterheatingfuel'].map(waterheatingfuel_mapping)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13308\1026615689.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R98P2_cleaned['tenure_encoded'] = R98P2_cleaned['tenure'].map(tenure_mapping)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13308\1026615689.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R98P2_cleaned['Material_encoded'] = R98P2_cleaned['material'].map(material_mapping)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13308\1026615689.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R98P2_cleaned['cookingFuel_encoded'] = R98P2_cleaned['cookingfuel'].map(cookingfuel_mapping)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13308\1026615689.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R98P2_cleaned['HeatingFuel_encoded'] = R98P2_cleaned['heatingfuel'].map(heatingfuel_mapping)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13308\1026615689.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R98P2_cleaned['waterheatingfuel_encoded'] = R98P2_cleaned['waterheatingfuel'].map(waterheatingfuel_mapping)

In [72]:
R98P2_cleaned.head()

,Address,tenure,room,space,construction,material,vehicle,motorcycle,bicycle,radio,...,split,wastewater,cookingfuel,heatingfuel,waterheatingfuel,tenure_encoded,Material_encoded,cookingFuel_encoded,HeatingFuel_encoded,waterheatingfuel_encoded
0,20011395420,OwnedEstateLand,4,100,3,WoodKesht,1,0,0,0,...,0,0,NaturalGas,NaturalGas,NaturalGas,1,6.0,1,1,1
1,20001385412,OwnedEstateLand,4,80,3,MetalBlock,1,0,1,0,...,0,0,NaturalGas,NaturalGas,NaturalGas,1,1.0,1,1,1
2,20001385423,OwnedEstateLand,3,100,3,MetalBlock,1,1,0,0,...,0,0,NaturalGas,NaturalGas,NaturalGas,1,1.0,1,1,1
3,20001385420,OwnedEstateLand,2,40,3,BrickWood,0,0,0,0,...,0,0,NaturalGas,NaturalGas,NaturalGas,1,2.0,1,1,1
4,20011395407,Free,2,60,3,WoodKesht,1,1,1,0,...,0,0,NaturalGas,NaturalGas,NaturalGas,6,6.0,1,1,1

In [73]:
R98P2_cleaned.drop(columns=['tenure', 'material', 'cookingfuel', 'heatingfuel', 'waterheatingfuel'])

,Address,room,space,construction,vehicle,motorcycle,bicycle,radio,radiotape,TVbw,...,centralcooling,centralheating,package,split,wastewater,tenure_encoded,Material_encoded,cookingFuel_encoded,HeatingFuel_encoded,waterheatingfuel_encoded
0,20011395420,4,100,3,1,0,0,0,0,0,...,0,0,0,0,0,1,6.0,1,1,1
1,20001385412,4,80,3,1,0,1,0,0,0,...,0,0,0,0,0,1,1.0,1,1,1
2,20001385423,3,100,3,1,1,0,0,0,0,...,0,0,0,0,0,1,1.0,1,1,1
3,20001385420,2,40,3,0,0,0,0,0,0,...,0,0,0,0,0,1,2.0,1,1,1
4,20011395407,2,60,3,1,1,1,0,0,0,...,0,0,0,0,0,6,6.0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18425,23003706223,4,120,3,0,0,0,0,0,0,...,0,0,0,0,0,1,1.0,1,1,1
18426,23003706218,3,80,3,1,0,0,0,0,0,...,0,0,0,0,0,1,1.0,1,1,1
18427,23003706210,3,60,3,1,1,0,0,0,0,...,0,0,0,0,0,1,1.0,1,1,1
18428,23003706220,3,100,3,1,0,0,0,0,0,...,0,0,0,0,0,1,1.0,1,1,1
18429,23003706212,2,50,3,0,0,0,0,0,0,...,0,0,0,0,0,1,1.0,1,1,1

In [74]:
# لیست ستون‌های دسته‌بندی‌شده
categorical_columns = ['tenure_encoded', 'Material_encoded', 'cookingFuel_encoded', 'HeatingFuel_encoded', 'waterheatingfuel_encoded']

# حلقه برای مشاهده داده‌های یونیک در هر ستون
for column in categorical_columns:
    unique_values = R98P2_cleaned[column].unique()
    print(f"مقادیر یونیک در ستون '{column}':")
    print(unique_values)
    print("-" * 50)  # جداکننده برای خوانایی بیشتر

مقادیر یونیک در ستون 'tenure_encoded':
[1 6 3 5 4 7 2]
--------------------------------------------------
مقادیر یونیک در ستون 'Material_encoded':
[ 6.  1.  2.  7. nan  4.  5.  3.  8.]
--------------------------------------------------
مقادیر یونیک در ستون 'cookingFuel_encoded':
[1 2 3 6 5 4]
--------------------------------------------------
مقادیر یونیک در ستون 'HeatingFuel_encoded':
[1 4 2 3 5 6]
--------------------------------------------------
مقادیر یونیک در ستون 'waterheatingfuel_encoded':
[1 2 3 4 5 8 7 6]
--------------------------------------------------

In [75]:
R98P2_cleaned = R98P2_cleaned.apply(pd.to_numeric, errors='coerce')

In [76]:
df_encoded6 = R98P2_cleaned.copy()

In [77]:

df_not_null = df_encoded6[df_encoded6['Material_encoded'].notnull()]
df_null = df_encoded6[df_encoded6['Material_encoded'].isnull()]


X = df_not_null.drop(['Material_encoded'], axis=1)
y = df_not_null['Material_encoded']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = RandomForestClassifier()


model.fit(X_train, y_train)


y_pred = model.predict(X_test)




accuracy = accuracy_score(y_test_numeric, y_pred_numeric)
print(f'Accuracy: {accuracy}')





X_null = df_null.drop(['Material_encoded'], axis=1)


df_null.loc[:, 'Material_encoded'] = model.predict(X_null)


R98P2_filled = pd.concat([df_not_null, df_null])


R98P2_filled.sort_index(inplace=True)


print(R98P2_filled.head())

Accuracy: 0.9942452412571935
       Address  tenure  room  space  construction  material  vehicle  \
0  20011395420     NaN     4    100             3       NaN        1
1  20001385412     NaN     4     80             3       NaN        1
2  20001385423     NaN     3    100             3       NaN        1
3  20001385420     NaN     2     40             3       NaN        0
4  20011395407     NaN     2     60             3       NaN        1

   motorcycle  bicycle  radio  ...  split  wastewater  cookingfuel  \
0           0        0      0  ...      0           0          NaN
1           0        1      0  ...      0           0          NaN
2           1        0      0  ...      0           0          NaN
3           0        0      0  ...      0           0          NaN
4           1        1      0  ...      0           0          NaN

   heatingfuel  waterheatingfuel  tenure_encoded  Material_encoded  \
0          NaN               NaN               1               6.0
1          NaN               NaN               1               1.0
2          NaN               NaN               1               1.0
3          NaN               NaN               1               2.0
4          NaN               NaN               6               6.0

   cookingFuel_encoded  HeatingFuel_encoded  waterheatingfuel_encoded
0                    1                    1                         1
1                    1                    1                         1
2                    1                    1                         1
3                    1                    1                         1
4                    1                    1                         1

[5 rows x 50 columns]

شیت نهایی R98P2_filled

بررسی شیت P3S01

In [78]:
missing_percentage = R98P3S01.isnull().sum() / len(R98P3S01) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address       0.000000
code          0.000000
purchased     0.000000
gram         76.741783
kilogram     23.460424
price         9.281770
value         0.000193
dtype: float64

In [79]:
R98P3S01_cleaned = R98P3S01.dropna(subset=['price', 'value'])

In [80]:

R98P3S01_cleaned['calculated_amount'] = R98P3S01_cleaned['value'] / R98P3S01_cleaned['price']


R98P3S01_cleaned['calculated_kg'] = R98P3S01_cleaned['calculated_amount'].apply(np.floor)
R98P3S01_cleaned['calculated_gram'] = (R98P3S01_cleaned['calculated_amount'] % 1) * 1000


R98P3S01_cleaned['kilogram'] = R98P3S01_cleaned['kilogram'].fillna(R98P3S01_cleaned['calculated_kg'])
R98P3S01_cleaned['gram'] = R98P3S01_cleaned['gram'].fillna(R98P3S01_cleaned['calculated_gram'])

C:\Users\Admin\AppData\Local\Temp\ipykernel_13308\1512780882.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R98P3S01_cleaned['calculated_amount'] = R98P3S01_cleaned['value'] / R98P3S01_cleaned['price']
C:\Users\Admin\AppData\Local\Temp\ipykernel_13308\1512780882.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R98P3S01_cleaned['calculated_kg'] = R98P3S01_cleaned['calculated_amount'].apply(np.floor)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13308\1512780882.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R98P3S01_cleaned['calculated_gram'] = (R98P3S01_cleaned['calculated_amount'] % 1) * 1000
C:\Users\Admin\AppData\Local\Temp\ipykernel_13308\1512780882.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R98P3S01_cleaned['kilogram'] = R98P3S01_cleaned['kilogram'].fillna(R98P3S01_cleaned['calculated_kg'])
C:\Users\Admin\AppData\Local\Temp\ipykernel_13308\1512780882.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R98P3S01_cleaned['gram'] = R98P3S01_cleaned['gram'].fillna(R98P3S01_cleaned['calculated_gram'])

In [81]:
missing_percentage = R98P3S01_cleaned.isnull().sum() / len(R98P3S01_cleaned) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address              0.0
code                 0.0
purchased            0.0
gram                 0.0
kilogram             0.0
price                0.0
value                0.0
calculated_amount    0.0
calculated_kg        0.0
calculated_gram      0.0
dtype: float64

In [82]:

numerical_columns = R98P3S01_cleaned.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)

ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'kilogram', 'price', 'value',
       'calculated_amount', 'calculated_kg', 'calculated_gram'],
      dtype='object')

بررسی شیت P3S02

In [83]:
missing_percentage = R98P3S02.isnull().sum() / len(R98P3S02) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address       0.000000
code          0.000000
purchased     0.000000
gram         99.976048
kilogram     22.347305
price        22.347305
value         0.000000
dtype: float64

In [84]:
R98P3S02_cleaned = R98P3S02.dropna(subset=['price'])

In [85]:

R98P3S02_cleaned['calculated_amount'] = R98P3S02_cleaned['value'] / R98P3S02_cleaned['price']


R98P3S02_cleaned['calculated_kg'] = R98P3S02_cleaned['calculated_amount'].apply(np.floor)
R98P3S02_cleaned['calculated_gram'] = (R98P3S02_cleaned['calculated_amount'] % 1) * 1000


R98P3S02_cleaned['kilogram'] = R98P3S02_cleaned['kilogram'].fillna(R98P3S02_cleaned['calculated_kg'])
R98P3S02_cleaned['gram'] = R98P3S02_cleaned['gram'].fillna(R98P3S02_cleaned['calculated_gram'])

C:\Users\Admin\AppData\Local\Temp\ipykernel_13308\328827225.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R98P3S02_cleaned['calculated_amount'] = R98P3S02_cleaned['value'] / R98P3S02_cleaned['price']
C:\Users\Admin\AppData\Local\Temp\ipykernel_13308\328827225.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R98P3S02_cleaned['calculated_kg'] = R98P3S02_cleaned['calculated_amount'].apply(np.floor)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13308\328827225.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R98P3S02_cleaned['calculated_gram'] = (R98P3S02_cleaned['calculated_amount'] % 1) * 1000
C:\Users\Admin\AppData\Local\Temp\ipykernel_13308\328827225.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R98P3S02_cleaned['kilogram'] = R98P3S02_cleaned['kilogram'].fillna(R98P3S02_cleaned['calculated_kg'])
C:\Users\Admin\AppData\Local\Temp\ipykernel_13308\328827225.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R98P3S02_cleaned['gram'] = R98P3S02_cleaned['gram'].fillna(R98P3S02_cleaned['calculated_gram'])

In [86]:
missing_percentage = R98P3S02_cleaned.isnull().sum() / len(R98P3S02_cleaned) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address              0.0
code                 0.0
purchased            0.0
gram                 0.0
kilogram             0.0
price                0.0
value                0.0
calculated_amount    0.0
calculated_kg        0.0
calculated_gram      0.0
dtype: float64

بررسی شیت P3S03

In [87]:
missing_percentage = R98P3S03.isnull().sum() / len(R98P3S03) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [88]:
categorical_columns = R98P3S03.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')

In [89]:
duplicates = R98P3S03.duplicated().sum()
print(duplicates)

0

In [90]:
categorical_columns = R98P3S03.select_dtypes(include=['object']).columns
print(categorical_columns)

Index([], dtype='object')

In [91]:
numerical_columns = R98P3S03.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)

ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')

In [92]:
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = R98P3S03[column].quantile(0.25)
    Q3 = R98P3S03[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((R98P3S03[column] < (Q1 - 1.5 * IQR)) | (R98P3S03[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

تعداد داده‌های پرت در ستون code: 4969
تعداد داده‌های پرت در ستون purchased: 91
تعداد داده‌های پرت در ستون value: 1382

اگر اینجا بررسی بشه ایا این داده پرت به نسبت شهر هست یا نه خیلی خوبه

بررسی شیت P3S04

In [93]:
missing_percentage = R98P3S04.isnull().sum() / len(R98P3S04) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address       0.000000
code          0.000000
mortgage     99.107130
purchased    23.242253
value         0.000000
dtype: float64

In [94]:
R98P3S04_cleaned = R98P3S04.dropna(subset=['mortgage'])

In [95]:
missing_percentage = R98P3S04_cleaned.isnull().sum() / len(R98P3S04_cleaned) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
mortgage     0.0
purchased    0.0
value        0.0
dtype: float64

In [96]:
duplicates = R98P3S04_cleaned.duplicated().sum()
print(duplicates)

0

In [97]:
categorical_columns = R98P3S04_cleaned.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

ستون‌های دسته‌بندی‌شده:
Index(['purchased'], dtype='object')

In [98]:
numerical_columns = R98P3S04_cleaned.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)

ستون‌های عددی:
Index(['Address', 'code', 'mortgage', 'value'], dtype='object')

In [99]:
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = R98P3S04_cleaned[column].quantile(0.25)
    Q3 = R98P3S04_cleaned[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((R98P3S04_cleaned[column] < (Q1 - 1.5 * IQR)) | (R98P3S04_cleaned[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

تعداد داده‌های پرت در ستون mortgage: 27
تعداد داده‌های پرت در ستون value: 30

بررسی شیت P3S05

In [100]:
missing_percentage = R98P3S05.isnull().sum() / len(R98P3S05) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [101]:
duplicates = R98P3S05.duplicated().sum()
duplicates

0

In [102]:

categorical_columns = R98P3S05.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')

In [103]:


numerical_columns = R98P3S05.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = R98P3S05[column].quantile(0.25)
    Q3 = R98P3S05[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((R98P3S05[column] < (Q1 - 1.5 * IQR)) | (R98P3S05[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون code: 25957
تعداد داده‌های پرت در ستون purchased: 1267
تعداد داده‌های پرت در ستون value: 4666

P3S06

In [104]:
missing_percentage = R98P3S06.isnull().sum() / len(R98P3S06) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [105]:
duplicates = R98P3S06.duplicated().sum()
print(duplicates)
categorical_columns = R98P3S06.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = R98P3S06.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = R98P3S06[column].quantile(0.25)
    Q3 = R98P3S06[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((R98P3S06[column] < (Q1 - 1.5 * IQR)) | (R98P3S06[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

0
ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون code: 18
تعداد داده‌های پرت در ستون purchased: 4061
تعداد داده‌های پرت در ستون value: 3646

P3S07

In [106]:
missing_percentage = R98P3S07.isnull().sum() / len(R98P3S07) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [107]:
duplicates = R98P3S07.duplicated().sum()
print(duplicates)

0

In [108]:
categorical_columns = R98P3S07.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = R98P3S07.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = R98P3S07[column].quantile(0.25)
    Q3 = R98P3S07[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((R98P3S07[column] < (Q1 - 1.5 * IQR)) | (R98P3S07[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون purchased: 116
تعداد داده‌های پرت در ستون value: 2237

P3S08

In [109]:
missing_percentage = R98P3S08.isnull().sum() / len(R98P3S08) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [110]:
duplicates = R98P3S08.duplicated().sum()
print(duplicates)

0

In [111]:
categorical_columns = R98P3S08.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = R98P3S08.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = R98P3S08[column].quantile(0.25)
    Q3 = R98P3S08[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((R98P3S08[column] < (Q1 - 1.5 * IQR)) | (R98P3S08[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون code: 11829
تعداد داده‌های پرت در ستون purchased: 18
تعداد داده‌های پرت در ستون value: 2451

P3S09

In [112]:
missing_percentage = R98P3S09.isnull().sum() / len(R98P3S09) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [113]:
duplicates = R98P3S09.duplicated().sum()
print(duplicates)

0

In [114]:
categorical_columns = R98P3S09.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = R98P3S09.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = R98P3S09[column].quantile(0.25)
    Q3 = R98P3S09[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((R98P3S09[column] < (Q1 - 1.5 * IQR)) | (R98P3S09[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون code: 2378
تعداد داده‌های پرت در ستون purchased: 67
تعداد داده‌های پرت در ستون value: 1082

P3S11

In [115]:
missing_percentage = R98P3S11.isnull().sum() / len(R98P3S11) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [116]:
duplicates = R98P3S11.duplicated().sum()
print(duplicates)

0

In [117]:
categorical_columns = R98P3S11.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = R98P3S11.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = R98P3S11[column].quantile(0.25)
    Q3 = R98P3S11[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((R98P3S11[column] < (Q1 - 1.5 * IQR)) | (R98P3S11[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون code: 218
تعداد داده‌های پرت در ستون purchased: 220
تعداد داده‌های پرت در ستون value: 919

P3S12

In [118]:
missing_percentage = R98P3S12.isnull().sum() / len(R98P3S12) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [119]:
duplicates = R98P3S12.duplicated().sum()
print(duplicates)

0

In [120]:
categorical_columns = R98P3S12.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = R98P3S12.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = R98P3S12[column].quantile(0.25)
    Q3 = R98P3S12[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((R98P3S12[column] < (Q1 - 1.5 * IQR)) | (R98P3S12[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون code: 920
تعداد داده‌های پرت در ستون purchased: 538
تعداد داده‌های پرت در ستون value: 6319

P3S13

In [121]:
missing_percentage = R98P3S13.isnull().sum() / len(R98P3S13) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address    0.000000
code       0.000000
value      0.273935
dtype: float64

In [122]:
R98P3S13 = R98P3S13.dropna(subset=['value'])

In [123]:
duplicates = R98P3S13.duplicated().sum()
print(duplicates)

188

In [124]:
R98P3S13 = R98P3S13.drop_duplicates()

In [125]:
duplicates = R98P3S13.duplicated().sum()
print(duplicates)

0

In [126]:
categorical_columns = R98P3S13.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = R98P3S13.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = R98P3S13[column].quantile(0.25)
    Q3 = R98P3S13[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((R98P3S13[column] < (Q1 - 1.5 * IQR)) | (R98P3S13[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های دسته‌بندی‌شده:
Index(['value'], dtype='object')
ستون‌های عددی:
Index(['Address', 'code'], dtype='object')

P3S14

In [127]:
missing_percentage = R98P3S14.isnull().sum() / len(R98P3S14) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.000000
code         0.000000
purchased    2.780944
value        3.122863
dtype: float64

In [128]:
R98P3S14 = R98P3S14.dropna(subset=['purchased','value'])

In [129]:
missing_percentage = R98P3S14.isnull().sum() / len(R98P3S14) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [130]:
duplicates = R98P3S14.duplicated().sum()
print(duplicates)

0

In [131]:
categorical_columns = R98P3S14.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = R98P3S14.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = R98P3S14[column].quantile(0.25)
    Q3 = R98P3S14[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((R98P3S14[column] < (Q1 - 1.5 * IQR)) | (R98P3S14[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های دسته‌بندی‌شده:
Index(['purchased'], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'value'], dtype='object')
تعداد داده‌های پرت در ستون Address: 26
تعداد داده‌های پرت در ستون value: 672

P4S01

In [132]:
missing_percentage = R98P4S01.isnull().sum() / len(R98P4S01) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address            0.000000
member             0.000000
employed_w         0.000000
ISCO_w             0.000000
ISIC_w             0.000000
status_w           0.000000
hours_w           12.033272
days_w            12.042514
income_w_m         0.000000
income_w_y         0.000000
wage_w_m           0.055453
wage_w_y           0.027726
perk_w_m           0.073937
perk_w_y           0.027726
netincome_w_m      0.000000
netincome_w_y      0.000000
Fasl               0.000000
year               0.000000
DYCOL00          100.000000
dtype: float64

In [133]:
R98P4S01 = R98P4S01.drop(columns='DYCOL00')

In [134]:

R98P4S01_cleaned = R98P4S01.dropna(subset=['hours_w','days_w','wage_w_m','wage_w_y','perk_w_m','perk_w_y'])

In [135]:
missing_percentage = R98P4S01_cleaned.isnull().sum() / len(R98P4S01_cleaned) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address          0.0
member           0.0
employed_w       0.0
ISCO_w           0.0
ISIC_w           0.0
status_w         0.0
hours_w          0.0
days_w           0.0
income_w_m       0.0
income_w_y       0.0
wage_w_m         0.0
wage_w_y         0.0
perk_w_m         0.0
perk_w_y         0.0
netincome_w_m    0.0
netincome_w_y    0.0
Fasl             0.0
year             0.0
dtype: float64

P4S02

In [136]:
missing_percentage = R98P4S02.isnull().sum() / len(R98P4S02) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address              0.000000
member               0.000000
employed_s           0.000000
ISCO_s               0.000000
ISIC_s               0.000000
status_s             0.000000
agriculture          0.000000
hours_s              1.764419
days_s               1.764419
cost_employment      9.791478
cost_raw             2.120092
cost_machinery       8.745380
cost_others          5.111932
cost_tax            12.490411
sale                 1.610991
income_s_y           0.000000
Fasl                 0.000000
year                 0.000000
DYCOL00            100.000000
dtype: float64

In [137]:
R98P4S02 = R98P4S02.drop(columns='DYCOL00')

In [138]:
R98P4S02_cleaned = R98P4S02.dropna(subset=['member','employed_s','ISCO_s','ISIC_s','hours_s','cost_raw','cost_others','sale'])

In [139]:
missing_percentage = R98P4S02_cleaned.isnull().sum() / len(R98P4S02_cleaned) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address            0.000000
member             0.000000
employed_s         0.000000
ISCO_s             0.000000
ISIC_s             0.000000
status_s           0.000000
agriculture        0.000000
hours_s            0.000000
days_s             0.007506
cost_employment    5.681903
cost_raw           0.000000
cost_machinery     4.676124
cost_others        0.000000
cost_tax           7.678451
sale               0.000000
income_s_y         0.000000
Fasl               0.000000
year               0.000000
dtype: float64

In [140]:
R98P4S02_cleaned = R98P4S02.dropna(subset=['cost_employment','cost_machinery','cost_tax'])

P4S03

In [141]:
missing_percentage = R98P4S03.isnull().sum() / len(R98P4S03) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address              0.000000
member               0.000000
income_pension      67.105752
income_rent         70.834440
income_interest     29.771073
income_aid          44.999203
income_resale       74.116960
income_transfer     56.222446
Fasl                 0.000000
year                 0.000000
DYCOL00            100.000000
dtype: float64

In [142]:
R98P4S03 = R98P4S03.drop(columns='DYCOL00')

In [143]:
R98P4S03_cleaned = R98P4S03.dropna(subset=['member'])

In [144]:
print(R98P4S03_cleaned.dtypes)

Address              int64
member               int64
income_pension      object
income_rent         object
income_interest    float64
income_aid         float64
income_resale      float64
income_transfer    float64
Fasl                 int64
year                 int64
dtype: object

In [145]:
R98P4S03_cleaned = R98P4S03_cleaned.apply(pd.to_numeric, errors='coerce')

In [146]:
df_encoded7 = R98P4S03_cleaned.copy()

اینجا برای ترین کردن از کمترین درصد نال شروع میکنم که اگر ترین غلط باشه حداقل اونایی که نالشون زیاده تاثیر زیادی نذارن

In [ ]:
df_not_null = df_encoded7[df_encoded7['income_aid'].notnull()]
df_null = df_encoded7[df_encoded7['income_aid'].isnull()]


X = df_not_null.drop(['income_aid'], axis=1)
y = df_not_null['income_aid']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = RandomForestClassifier()


model.fit(X_train, y_train)


y_pred = model.predict(X_test)


print(f'Accuracy for income_aid : {accuracy_score(y_test, y_pred)}')


X_null = df_null.drop(['income_aid'], axis=1)


df_null.loc[:, 'income_aid'] = model.predict(X_null)


R98P4S03_filled = pd.concat([df_not_null, df_null])


R98P4S03_filled.sort_index(inplace=True)


#print(R98P4S031_filled.head())

P4S04

In [148]:
missing_percentage = R98P4S04.isnull().sum() / len(R98P4S04) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address             0.0
member              0.0
subsidy_number      0.0
subsidy_month       0.0
subsidy             0.0
Fasl                0.0
year                0.0
DYCOL00           100.0
dtype: float64

In [149]:
R98P4S04 = R98P4S04.drop(columns='DYCOL00')

In [150]:
R98P4S04_cleaned = R98P4S04.dropna(subset=['subsidy_number','subsidy_month','subsidy'])

In [151]:
#p3_sheets = {
#    'R98P3S01_cleaned': 'Food',
#    'R98P3S02_cleaned': 'Tobacco',
#    'R98P3S03': 'Clothing',
#    'R98P3S04_cleaned': 'Housing',
#    'R98P3S05': 'Furniture',
#    'R98P3S06': 'Health',
#    'R98P3S07': 'Transport',
#    'R98P3S08': 'Communication',
#    'R98P3S09': 'Recreation',
#    'R98P3S11': 'Education',
#    'R98P3S12': 'Hotel',
#    'R98P3S13': 'Miscellaneous',
#    'R98P3S14': 'Investment'
#}

In [ ]:
"""
combined_df = pd.merge(data99['R98Data_cleaned'], data99['df_P1_filled'], on='Address')
combined_df = combined_df.merge(data99['R98P2_filled'], on='Address')


for sheet_name in p3_sheets.keys():
    combined_df = combined_df.merge(data99[sheet_name], on='Address', how='outer', suffixes=(None, f'_{sheet_name}'))


combined_df = combined_df.merge(data99['R98P4S01_cleaned'], on='Address')
combined_df = combined_df.merge(data99['R98P4S02_cleaned'], on='Address')
combined_df = combined_df.merge(data99['R98P4S03_cleaned'], on='Address')
combined_df = combined_df.merge(data99['R98P4S04_cleaned'], on='Address')
"""