In [84]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [85]:
filepath ='/Users/saraoliay/Downloads/Project1_data/R99.xlsx'
data99 = pd.read_excel(filepath, sheet_name= None)

In [14]:
#p3_sheets = {
    'R99P3S01': 'Food',
    'R99P3S02': 'Tobacco',
    'R99P3S03': 'Clothing',
    'R99P3S04': 'Housing',
    'R99P3S05': 'Furniture',
    'R99P3S06': 'Health',
    'R99P3S07': 'Transport',
    'R99P3S08': 'Communication',
    'R99P3S09': 'Recreation',
    'R99P3S11': 'Education',
    'R99P3S12': 'Hotel',
    'R99P3S13': 'Miscellaneous',
    'R99P3S14': 'Investment'
}

In [16]:
#for sheet_name, expense_type in p3_sheets.items():
    if sheet_name in data99:
        columns_to_rename = {}


        if 'code' in data99[sheet_name].columns:
            columns_to_rename['code'] = f'{expense_type}_Code'

        if 'purchased' in data99[sheet_name].columns:
            columns_to_rename['purchased'] = f'{expense_type}_Purchased'

        if 'gram' in data99[sheet_name].columns:
            columns_to_rename['gram'] = f'{expense_type}_Gram'

        if 'kilogram' in data99[sheet_name].columns:
            columns_to_rename['kilogram'] = f'{expense_type}_Kilogram'

        if 'price' in data99[sheet_name].columns:
            columns_to_rename['price'] = f'{expense_type}_Price'

        if 'value' in data99[sheet_name].columns:
            columns_to_rename['value'] = f'{expense_type}_Value'

        if 'mortgage' in data99[sheet_name].columns:
            columns_to_rename['mortgage'] = f'{expense_type}_Mortgage'


        data99[sheet_name] = data99[sheet_name].rename(columns=columns_to_rename)

In [86]:
R99Data=pd.read_excel(filepath, sheet_name='R99Data')
R99P1=pd.read_excel(filepath, sheet_name='R99P1')
R99P2=pd.read_excel(filepath, sheet_name='R99P2')
R99P3S01=pd.read_excel(filepath, sheet_name='R99P3S01')
R99P3S02=pd.read_excel(filepath, sheet_name='R99P3S02')
R99P3S03=pd.read_excel(filepath, sheet_name='R99P3S03')
R99P3S04=pd.read_excel(filepath, sheet_name='R99P3S04')
R99P3S05=pd.read_excel(filepath, sheet_name='R99P3S05')
R99P3S06=pd.read_excel(filepath, sheet_name='R99P3S06')
R99P3S07=pd.read_excel(filepath, sheet_name='R99P3S07')
R99P3S08=pd.read_excel(filepath, sheet_name='R99P3S08')
R99P3S09=pd.read_excel(filepath, sheet_name='R99P3S09')
R99P3S11=pd.read_excel(filepath, sheet_name='R99P3S11')
R99P3S12=pd.read_excel(filepath, sheet_name='R99P3S12')
R99P3S13=pd.read_excel(filepath, sheet_name='R99P3S13')
R99P3S14=pd.read_excel(filepath, sheet_name='R99P3S14')
R99P4S01=pd.read_excel(filepath, sheet_name='R99P4S01')
R99P4S02=pd.read_excel(filepath, sheet_name='R99P4S02')
R99P4S03=pd.read_excel(filepath, sheet_name='R99P4S03')
R99P4S04=pd.read_excel(filepath, sheet_name='R99P4S04')

In [87]:

for sheet_name, df in data99.items():
    if 'Value' in df.columns:
        df['Value'] = pd.to_numeric(df['Value'], errors='coerce')

    data99[sheet_name] = df

بررسی شیت R99Data

In [88]:
R99Data=pd.read_excel(filepath, sheet_name='R99Data')

In [89]:
R99Data.head()

,Address,MahMorajeh,Fasl,weight,khanevartype,Takmil,TakmilDescA,TakmilDescB,TakmilDescC,Jaygozin,JaygozinDescA,JaygozinDescB,JaygozinDescC,BlkAbdJaygozin,RadifJaygozin,IsTel,FVam,province,town
0,20001383916,5,2,170.110792,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,Markazi,1
1,20001383917,5,2,170.110792,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,Markazi,1
2,20001383919,5,2,170.110792,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,Markazi,1
3,20001383923,5,2,170.110792,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,Markazi,1
4,20001383926,5,2,170.110792,1,2,NaN,1.0,NaN,1.0,NaN,NaN,NaN,268.0,25.0,1.0,1.0,Markazi,1

In [90]:
missing_percentage = R99Data.isnull().sum() / len(R99Data) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address             0.000000
MahMorajeh          0.000000
Fasl                0.000000
weight              0.000000
khanevartype        0.000000
Takmil              0.000000
TakmilDescA       100.000000
TakmilDescB        79.781930
TakmilDescC        94.630431
Jaygozin           79.781930
JaygozinDescA     100.000000
JaygozinDescB     100.000000
JaygozinDescC     100.000000
BlkAbdJaygozin     79.781930
RadifJaygozin      79.781930
IsTel              19.555093
FVam               11.188428
province            0.000000
town                0.000000
dtype: float64

In [91]:
threshold = 70

In [92]:
threshold = 70
R99Data_cleaned = R99Data.dropna(axis=1, thresh=int((1-threshold/100)*len(R99Data)))

In [93]:
missing_percentage = R99Data_cleaned.isnull().sum() / len(R99Data_cleaned) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address          0.000000
MahMorajeh       0.000000
Fasl             0.000000
weight           0.000000
khanevartype     0.000000
Takmil           0.000000
IsTel           19.555093
FVam            11.188428
province         0.000000
town             0.000000
dtype: float64

In [94]:
#این دو فیچر در دیتاست سال های دیگر نبودند
R99Data_cleaned = R99Data_cleaned.drop(columns=['IsTel', 'FVam'])

In [95]:
missing_percentage = R99Data_cleaned.isnull().sum() / len(R99Data_cleaned) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address         0.0
MahMorajeh      0.0
Fasl            0.0
weight          0.0
khanevartype    0.0
Takmil          0.0
province        0.0
town            0.0
dtype: float64

In [96]:
duplicates = R99Data_cleaned.duplicated().sum()
print(duplicates)

0

In [97]:
categorical_columns = R99Data_cleaned.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

ستون‌های دسته‌بندی‌شده:
Index(['province'], dtype='object')

In [98]:

numerical_columns = R99Data_cleaned.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)

ستون‌های عددی:
Index(['Address', 'MahMorajeh', 'Fasl', 'weight', 'khanevartype', 'Takmil',
       'town'],
      dtype='object')

In [99]:
unique_provinces = R99Data_cleaned['province'].unique()
print("مقادیر منحصر به فرد در ستون province:")
print(unique_provinces)

مقادیر منحصر به فرد در ستون province:
['Markazi' 'Gilan' 'Mazandaran' 'AzarbaijanSharghi' 'AzarbaijanGharbi'
 'Kermanshah' 'Kouzestan' 'Fars' 'Kerman' 'KhorasanRazavi' 'Esfahan'
 'SistanBalouchestan' 'Kordestan' 'Hamedan' 'CharmahalBakhtiari'
 'Lorestan' 'Ilam' 'KohkilouyeBoyerahamad' 'Boushehr' 'Zanjan' 'Semnan'
 'Yazd' 'Hormozgan' 'Tehran' 'Ardebil' 'Qom' 'Qazvin' 'Golestan'
 'KhorasanShomali' 'KhorasanJonoubi' 'Alborz']

In [100]:
# مشاهده تعداد هر دسته‌بندی در ستون province
province_counts = R99Data_cleaned['province'].value_counts()
print("تعداد هر دسته در ستون province:")
print(province_counts)

تعداد هر دسته در ستون province:
province
Markazi                  847
KhorasanRazavi           805
Fars                     800
KhorasanJonoubi          713
SistanBalouchestan       692
KhorasanShomali          690
Kouzestan                686
Golestan                 682
AzarbaijanSharghi        679
Kermanshah               662
Hormozgan                661
Yazd                     654
Esfahan                  653
Kerman                   639
Qazvin                   579
KohkilouyeBoyerahamad    578
Lorestan                 570
Mazandaran               542
AzarbaijanGharbi         539
Hamedan                  531
Ilam                     526
Boushehr                 525
Alborz                   525
Zanjan                   512
Semnan                   508
Tehran                   489
CharmahalBakhtiari       483
Gilan                    402
Qom                      388
Ardebil                  373
Kordestan                318
Name: count, dtype: int64

In [101]:
# دیکشنری برای انکود کردن مقادیر province
province_encoding = {
    'Markazi': '00', 'Gilan': '01', 'Mazandaran': '02', 'AzarbaijanSharghi': '03', 
    'AzarbaijanGharbi': '04', 'Kermanshah': '05', 'Kouzestan': '06', 'Fars': '07', 
    'Kerman': '08', 'KhorasanRazavi': '09', 'Esfahan': '10', 'SistanBalouchestan': '11', 
    'Kordestan': '12', 'Hamedan': '13', 'CharmahalBakhtiari': '14', 'Lorestan': '15', 
    'Ilam': '16', 'KohkilouyeBoyerahamad': '17', 'Boushehr': '18', 'Zanjan': '19', 
    'Semnan': '20', 'Yazd': '21', 'Hormozgan': '22', 'Tehran': '23', 'Ardebil': '24', 
    'Qom': '25', 'Qazvin': '26', 'Golestan': '27', 'KhorasanShomali': '28', 
    'KhorasanJonoubi': '29', 'Alborz': '30'
}

In [102]:
# انکود کردن ستون province با استفاده از دیکشنری
R99Data_cleaned['province_encoded'] = R99Data_cleaned['province'].map(province_encoding)

# بررسی نتیجه
print(R99Data_cleaned[['province', 'province_encoded']].head())

  province province_encoded
0  Markazi               00
1  Markazi               00
2  Markazi               00
3  Markazi               00
4  Markazi               00

In [103]:
unique_provinces = R99Data_cleaned['province_encoded'].unique()
print("مقادیر منحصر به فرد در ستون province_encoded:")
print(unique_provinces)

مقادیر منحصر به فرد در ستون province_encoded:
['00' '01' '02' '03' '04' '05' '06' '07' '08' '09' '10' '11' '12' '13'
 '14' '15' '16' '17' '18' '19' '20' '21' '22' '23' '24' '25' '26' '27'
 '28' '29' '30']

In [104]:
R99Data_cleaned = R99Data_cleaned.drop(columns=['province'])

In [105]:

# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = R99Data_cleaned[column].quantile(0.25)
    Q3 = R99Data_cleaned[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((R99Data_cleaned[column] < (Q1 - 1.5 * IQR)) | (R99Data_cleaned[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

تعداد داده‌های پرت در ستون weight: 548
تعداد داده‌های پرت در ستون khanevartype: 9
تعداد داده‌های پرت در ستون Takmil: 4029
تعداد داده‌های پرت در ستون town: 982

In [106]:


# محاسبه IQR و اعمال بازه‌بندی (Capping)
for column in ['weight']:
    Q1 = R99Data_cleaned[column].quantile(0.25)
    Q3 = R99Data_cleaned[column].quantile(0.75)
    IQR = Q3 - Q1
    
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    # اعمال بازه‌بندی
    R99Data_cleaned[column] = np.where(R99Data_cleaned[column] < lower_bound, lower_bound, R99Data_cleaned[column])
    R99Data_cleaned[column] = np.where(R99Data_cleaned[column] > upper_bound, upper_bound, R99Data_cleaned[column])
    
    # اعمال تبدیل لگاریتمی برای مقادیر مثبت
    R99Data_cleaned[column] = np.log1p(R99Data_cleaned[column])

In [107]:
# جایگزینی مقادیر پرت با Mode (پرتکرارترین مقدار)
def replace_outliers_with_mode(column, threshold=0.01):
    mode = R99Data_cleaned[column].mode()[0]
    
    # شناسایی دسته‌های نادر (کمتر از آستانه threshold)
    value_counts = R99Data_cleaned[column].value_counts(normalize=True)
    rare_values = value_counts[value_counts < threshold].index
    
    # جایگزینی مقادیر نادر با Mode
    R99Data_cleaned[column] = R99Data_cleaned[column].apply(lambda x: mode if x in rare_values else x)

# اعمال جایگزینی با Mode برای ستون‌های دسته‌ای
for column in ['khanevartype', 'Takmil', 'town']:
    replace_outliers_with_mode(column)

In [108]:
# بررسی و اصلاح اوت‌لیرهای نادرست در ستون‌های MahMorajeh و Fasl
# برای ماه محدوده باید بین 1 تا 12 باشد و برای فصل باید بین 1 تا 4 باشد
def fix_invalid_values(column, valid_range):
    R99Data_cleaned[column] = np.where(~R99Data_cleaned[column].isin(valid_range), np.nan, R99Data_cleaned[column])

# اعمال اصلاح برای ستون‌های MahMorajeh و Fasl
fix_invalid_values('MahMorajeh', range(1, 13))  # ماه‌ها باید بین 1 تا 12 باشند
fix_invalid_values('Fasl', range(1, 5))  # فصل‌ها باید بین 1 تا 4 باشند

In [109]:
unique_values = R99Data_cleaned['town'].unique()
print(unique_values)

[ 1  2  3  4  5  6  7  9 10 11 12 13  8 14 15 16 19 20 17]

In [110]:
unique_values = R99Data_cleaned['Takmil'].unique()
print(unique_values)

[1 2]

In [111]:
R99Data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18251 entries, 0 to 18250
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           18251 non-null  int64
 1   MahMorajeh        18251 non-null  float64
 2   Fasl              18251 non-null  float64
 3   weight            18251 non-null  float64
 4   khanevartype      18251 non-null  int64
 5   Takmil            18251 non-null  int64
 6   town              18251 non-null  int64
 7   province_encoded  18251 non-null  object
dtypes: float64(3), int64(4), object(1)
memory usage: 1.1+ MB

بررسی شیت R99P1

In [112]:
R99P1.columns

Index(['Address', 'member', 'relation', 'gender', 'age', 'literacy',
       'studying', 'degree', 'occupationalst', 'maritalst'],
      dtype='object')

In [113]:
missing_percentage = R99P1.isnull().sum() / len(R99P1) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address            0.000000
member             0.000000
relation           0.000000
gender             0.000000
age                0.000000
literacy           9.309675
studying          27.853181
degree            27.854761
occupationalst    16.467317
maritalst         16.467317
dtype: float64

In [114]:
# بررسی وجود داده‌های تکراری
duplicate_rows = R99P1.duplicated().sum()
print(f"تعداد ردیف‌های تکراری: {duplicate_rows}")

تعداد ردیف‌های تکراری: 0

In [115]:
# بررسی ستون‌های دسته‌بندی‌شده (غیر عددی)
categorical_columns = R99P1.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

ستون‌های دسته‌بندی‌شده:
Index(['relation', 'gender', 'literacy', 'studying', 'degree',
       'occupationalst', 'maritalst'],
      dtype='object')

In [116]:
# لیست ستون‌های دسته‌بندی‌شده
categorical_columns = ['relation', 'gender', 'literacy', 'studying', 'degree', 'occupationalst', 'maritalst']

# حلقه برای مشاهده داده‌های یونیک در هر ستون
for column in categorical_columns:
    unique_values = R99P1[column].unique()
    print(f"مقادیر یونیک در ستون '{column}':")
    print(unique_values)
    print("-" * 50)  # جداکننده برای خوانایی بیشتر

مقادیر یونیک در ستون 'relation':
['Head' 'Spouse' 'Child' 'Sibling' 'Parent' 'GrandSonDaughter'
 'OtherRelative' 'SonDaughter_inLaw' 'NonRelative']
--------------------------------------------------
مقادیر یونیک در ستون 'gender':
['Male' 'Female']
--------------------------------------------------
مقادیر یونیک در ستون 'literacy':
['literate' nan 'illiterate']
--------------------------------------------------
مقادیر یونیک در ستون 'studying':
['No' 'Yes' nan]
--------------------------------------------------
مقادیر یونیک در ستون 'degree':
['Secondary' 'Elemantry' nan 'Bachelor' 'Diploma' 'HighSchool' 'College'
 'Other' 'Master' 'PhD']
--------------------------------------------------
مقادیر یونیک در ستون 'occupationalst':
['employed' 'Housewife' 'Student' nan 'Other' 'IncomeWOJob' 'unemployed']
--------------------------------------------------
مقادیر یونیک در ستون 'maritalst':
['Married' 'Single' nan 'Divorced' 'Widowed']
--------------------------------------------------

In [117]:
# دیکشنری‌های انکودینگ
relation_encoding = {
    'Head': '1', 'Spouse': '2', 'Child': '3', 'SonDaughter_inLaw': '4', 
    'GrandSonDaughter': '5', 'Parent': '6', 'Sibling': '7', 'OtherRelative': '8', 
    'NonRelative': '9'
}

gender_encoding = {'Male': '1', 'Female': '2'}

literacy_encoding = {'literate': '1', 'illiterate': '2'}

yesno_encoding = {'Yes': '1', 'No': '2'}

education_encoding = {
    'Elemantry': '1', 'Secondary': '2', 'HighSchool': '3', 'Diploma': '4', 
    'College': '5', 'Bachelor': '6', 'Master': '7', 'PhD': '8', 'Other': '9'
}

occupation_encoding = {
    'employed': '1', 'unemployed': '2', 'IncomeWOJob': '3', 'Student': '4', 
    'Housewife': '5', 'Other': '6'
}

marital_encoding = {'Married': '1', 'Widowed': '2', 'Divorced': '3', 'Single': '4'}

In [118]:

R99P1['relation_encoded'] = R99P1['relation'].map(relation_encoding)
R99P1['gender_encoded'] = R99P1['gender'].map(gender_encoding)
R99P1['literacy_encoded'] = R99P1['literacy'].map(literacy_encoding)
R99P1['studying_encoded'] = R99P1['studying'].map(yesno_encoding)
R99P1['degree_encoded'] = R99P1['degree'].map(education_encoding)
R99P1['occupationalst_encoded'] = R99P1['occupationalst'].map(occupation_encoding)
R99P1['maritalst_encoded'] = R99P1['maritalst'].map(marital_encoding)

In [119]:
R99P1 = R99P1.drop(columns=['relation', 'gender', 'literacy', 'studying', 'degree', 'occupationalst', 'maritalst'])

In [120]:
R99P1.head()

,Address,member,age,relation_encoded,gender_encoded,literacy_encoded,studying_encoded,degree_encoded,occupationalst_encoded,maritalst_encoded
0,20011394629,1,36,1,1,1,2,2,1,1
1,20011394629,2,29,2,2,1,2,1,5,1
2,20011394629,3,10,3,1,1,1,1,4,4
3,20011394629,4,5,3,1,NaN,NaN,NaN,NaN,NaN
4,20011394626,1,72,1,1,2,NaN,NaN,6,1

In [121]:
# نمایش نوع داده‌ها برای هر ستون
print("نوع داده‌های هر ستون:")
print(R99P1.dtypes)

نوع داده‌های هر ستون:
Address                    int64
member                     int64
age                        int64
relation_encoded          object
gender_encoded            object
literacy_encoded          object
studying_encoded          object
degree_encoded            object
occupationalst_encoded    object
maritalst_encoded         object
dtype: object

In [122]:
# بررسی مقادیر یونیک در هر ستون انکود شده
print("مقادیر یونیک در ستون 'relation_encoded':", R99P1['relation_encoded'].unique())
print("مقادیر یونیک در ستون 'gender_encoded':", R99P1['gender_encoded'].unique())
print("مقادیر یونیک در ستون 'literacy_encoded':", R99P1['literacy_encoded'].unique())
print("مقادیر یونیک در ستون 'studying_encoded':", R99P1['studying_encoded'].unique())
print("مقادیر یونیک در ستون 'degree_encoded':", R99P1['degree_encoded'].unique())
print("مقادیر یونیک در ستون 'occupationalst_encoded':", R99P1['occupationalst_encoded'].unique())
print("مقادیر یونیک در ستون 'maritalst_encoded':", R99P1['maritalst_encoded'].unique())

مقادیر یونیک در ستون 'relation_encoded': ['1' '2' '3' '7' '6' '5' '8' '4' '9']
مقادیر یونیک در ستون 'gender_encoded': ['1' '2']
مقادیر یونیک در ستون 'literacy_encoded': ['1' nan '2']
مقادیر یونیک در ستون 'studying_encoded': ['2' '1' nan]
مقادیر یونیک در ستون 'degree_encoded': ['2' '1' nan '6' '4' '3' '5' '9' '7' '8']
مقادیر یونیک در ستون 'occupationalst_encoded': ['1' '5' '4' nan '6' '3' '2']
مقادیر یونیک در ستون 'maritalst_encoded': ['1' '4' nan '3' '2']

In [123]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, recall_score, f1_score, classification_report

In [124]:
df_encoded = R99P1.copy()

In [125]:
# بررسی ستون‌ها و جدا کردن داده‌های مفقود و غیر مفقود
df_not_null = df_encoded[df_encoded['studying_encoded'].notnull()]
df_null = df_encoded[df_encoded['studying_encoded'].isnull()]

In [126]:
X = df_not_null.drop(['studying_encoded'], axis=1)
y = df_not_null['studying_encoded']

In [127]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [128]:

model = RandomForestClassifier()


model.fit(X_train, y_train)


y_pred = model.predict(X_test)


y_test_numeric = y_test.astype(int)
y_pred_numeric = y_pred.astype(int)

# محاسبه دقت (Accuracy)
accuracy = accuracy_score(y_test_numeric, y_pred_numeric)
print(f'Accuracy: {accuracy}')

# محاسبه Recall و F1 Score
recall = recall_score(y_test_numeric, y_pred_numeric)
f1 = f1_score(y_test_numeric, y_pred_numeric)

print(f'Recall: {recall}')
print(f'F1 Score: {f1}')

Accuracy: 0.9937588963100843
Recall: 0.9827844311377245
F1 Score: 0.9892635147862121

In [129]:

X_null = df_null.drop(['studying_encoded'], axis=1)


df_null.loc[:, 'studying_encoded'] = model.predict(X_null)


R99P1_filled = pd.concat([df_not_null, df_null])


R99P1_filled.sort_index(inplace=True)


print(R99P1_filled.head())

       Address  member  age relation_encoded gender_encoded literacy_encoded  \
0  20011394629       1   36                1              1                1
1  20011394629       2   29                2              2                1
2  20011394629       3   10                3              1                1
3  20011394629       4    5                3              1              NaN
4  20011394626       1   72                1              1                2

  studying_encoded degree_encoded occupationalst_encoded maritalst_encoded
0                2              2                      1                 1
1                2              1                      5                 1
2                1              1                      4                 4
3                1            NaN                    NaN               NaN
4                2            NaN                      6                 1

In [130]:
missing_percentage = R99P1_filled.isnull().sum() / len(R99P1) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address                    0.000000
member                     0.000000
age                        0.000000
relation_encoded           0.000000
gender_encoded             0.000000
literacy_encoded           9.309675
studying_encoded           0.000000
degree_encoded            27.854761
occupationalst_encoded    16.467317
maritalst_encoded         16.467317
dtype: float64

In [131]:
df_encoded2 = R99P1_filled.copy()

In [132]:

df_not_null = df_encoded2[df_encoded2['literacy_encoded'].notnull()]
df_null = df_encoded2[df_encoded2['literacy_encoded'].isnull()]


X = df_not_null.drop(['literacy_encoded'], axis=1)
y = df_not_null['literacy_encoded']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = RandomForestClassifier()


model.fit(X_train, y_train)


y_pred = model.predict(X_test)




accuracy = accuracy_score(y_test_numeric, y_pred_numeric)
print(f'Accuracy: {accuracy}')





X_null = df_null.drop(['literacy_encoded'], axis=1)


df_null.loc[:, 'literacy_encoded'] = model.predict(X_null)


R99P1_filled = pd.concat([df_not_null, df_null])


R99P1_filled.sort_index(inplace=True)


print(R99P1_filled.head())

Accuracy: 0.9937588963100843
       Address  member  age relation_encoded gender_encoded literacy_encoded  \
0  20011394629       1   36                1              1                1
1  20011394629       2   29                2              2                1
2  20011394629       3   10                3              1                1
3  20011394629       4    5                3              1                2
4  20011394626       1   72                1              1                2

  studying_encoded degree_encoded occupationalst_encoded maritalst_encoded
0                2              2                      1                 1
1                2              1                      5                 1
2                1              1                      4                 4
3                1            NaN                    NaN               NaN
4                2            NaN                      6                 1

In [133]:
missing_percentage = R99P1_filled.isnull().sum() / len(R99P1) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address                    0.000000
member                     0.000000
age                        0.000000
relation_encoded           0.000000
gender_encoded             0.000000
literacy_encoded           0.000000
studying_encoded           0.000000
degree_encoded            27.854761
occupationalst_encoded    16.467317
maritalst_encoded         16.467317
dtype: float64

In [134]:
df_encoded3 = R99P1_filled.copy()

In [135]:

df_not_null = df_encoded3[df_encoded3['degree_encoded'].notnull()]
df_null = df_encoded3[df_encoded3['degree_encoded'].isnull()]


X = df_not_null.drop(['degree_encoded'], axis=1)
y = df_not_null['degree_encoded']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = RandomForestClassifier()


model.fit(X_train, y_train)


y_pred = model.predict(X_test)


print(f'Accuracy for degree_encoded: {accuracy_score(y_test, y_pred)}')


X_null = df_null.drop(['degree_encoded'], axis=1)


df_null.loc[:, 'degree_encoded'] = model.predict(X_null)


R99P1_filled = pd.concat([df_not_null, df_null])


R99P1_filled.sort_index(inplace=True)


print(R99P1_filled.head())

Accuracy for degree_encoded: 0.5329610162067455
       Address  member  age relation_encoded gender_encoded literacy_encoded  \
0  20011394629       1   36                1              1                1
1  20011394629       2   29                2              2                1
2  20011394629       3   10                3              1                1
3  20011394629       4    5                3              1                2
4  20011394626       1   72                1              1                2

  studying_encoded degree_encoded occupationalst_encoded maritalst_encoded
0                2              2                      1                 1
1                2              1                      5                 1
2                1              1                      4                 4
3                1              1                    NaN               NaN
4                2              1                      6                 1

In [136]:
missing_percentage = R99P1_filled.isnull().sum() / len(R99P1) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address                    0.000000
member                     0.000000
age                        0.000000
relation_encoded           0.000000
gender_encoded             0.000000
literacy_encoded           0.000000
studying_encoded           0.000000
degree_encoded             0.000000
occupationalst_encoded    16.467317
maritalst_encoded         16.467317
dtype: float64

In [137]:
df_encoded4 = R99P1_filled.copy()

In [138]:

df_not_null = df_encoded4[df_encoded4['occupationalst_encoded'].notnull()]
df_null = df_encoded4[df_encoded4['occupationalst_encoded'].isnull()]


X = df_not_null.drop(['occupationalst_encoded'], axis=1)
y = df_not_null['occupationalst_encoded']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = RandomForestClassifier()


model.fit(X_train, y_train)


y_pred = model.predict(X_test)


print(f'Accuracy for occupationalst_encoded : {accuracy_score(y_test, y_pred)}')


X_null = df_null.drop(['occupationalst_encoded'], axis=1)


df_null.loc[:, 'occupationalst_encoded'] = model.predict(X_null)


R99P1_filled = pd.concat([df_not_null, df_null])


R99P1_filled.sort_index(inplace=True)


print(R99P1_filled.head())

Accuracy for occupationalst_encoded : 0.7949687913750709
       Address  member  age relation_encoded gender_encoded literacy_encoded  \
0  20011394629       1   36                1              1                1
1  20011394629       2   29                2              2                1
2  20011394629       3   10                3              1                1
3  20011394629       4    5                3              1                2
4  20011394626       1   72                1              1                2

  studying_encoded degree_encoded occupationalst_encoded maritalst_encoded
0                2              2                      1                 1
1                2              1                      5                 1
2                1              1                      4                 4
3                1              1                      4               NaN
4                2              1                      6                 1

In [139]:
missing_percentage = R99P1_filled.isnull().sum() / len(R99P1) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address                    0.000000
member                     0.000000
age                        0.000000
relation_encoded           0.000000
gender_encoded             0.000000
literacy_encoded           0.000000
studying_encoded           0.000000
degree_encoded             0.000000
occupationalst_encoded     0.000000
maritalst_encoded         16.467317
dtype: float64

In [140]:
df_encoded5 = R99P1_filled.copy()

In [141]:

df_not_null = df_encoded5[df_encoded5['maritalst_encoded'].notnull()]
df_null = df_encoded5[df_encoded5['maritalst_encoded'].isnull()]


X = df_not_null.drop(['maritalst_encoded'], axis=1)
y = df_not_null['maritalst_encoded']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = RandomForestClassifier()


model.fit(X_train, y_train)


y_pred = model.predict(X_test)


print(f'Accuracy for maritalst_encoded : {accuracy_score(y_test, y_pred)}')


X_null = df_null.drop(['maritalst_encoded'], axis=1)


df_null.loc[:, 'maritalst_encoded'] = model.predict(X_null)


R99P1_filled = pd.concat([df_not_null, df_null])


R99P1_filled.sort_index(inplace=True)


print(R99P1_filled.head())

Accuracy for maritalst_encoded : 0.9325704558350671
       Address  member  age relation_encoded gender_encoded literacy_encoded  \
0  20011394629       1   36                1              1                1
1  20011394629       2   29                2              2                1
2  20011394629       3   10                3              1                1
3  20011394629       4    5                3              1                2
4  20011394626       1   72                1              1                2

  studying_encoded degree_encoded occupationalst_encoded maritalst_encoded
0                2              2                      1                 1
1                2              1                      5                 1
2                1              1                      4                 4
3                1              1                      4                 4
4                2              1                      6                 1

اسم شیت نهایی R99P1_filled

----------------روش دوم

In [37]:
#R99P1_filled = R99P1.copy()

In [40]:
#print("\nدرصد مقادیر نال قبل از پر کردن:")
#print(R99P1_filled[feature_columns].isnull().mean() * 100)

درصد مقادیر نال قبل از پر کردن:
Address                    0.000000
member                     0.000000
age                        0.000000
relation_encoded           0.000000
gender_encoded             0.000000
relation_encoded           0.000000
gender_encoded             0.000000
literacy_encoded           9.309675
studying_encoded          27.853181
degree_encoded            27.854761
occupationalst_encoded    16.467317
maritalst_encoded         16.467317
dtype: float64

In [45]:
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.preprocessing import LabelEncoder

In [39]:
#categorical_columns = ['relation_encoded', 'gender_encoded', 'literacy_encoded', 'studying_encoded', 'degree_encoded', 
                       'occupationalst_encoded', 'maritalst_encoded']
#feature_columns = ['Address', 'member', 'age', 'relation_encoded', 'gender_encoded'] + categorical_columns

In [41]:
#def round_to_integer(x):
    return np.round(x).astype(int)

In [46]:
# پر کردن مقادیر نال برای ستون‌های کتگوریکال
#for col in categorical_columns:
    # ایجاد یک IterativeImputer با RandomForestClassifier
    imputer = IterativeImputer(
        estimator=RandomForestClassifier(n_estimators=100, random_state=42),
        random_state=42,
        max_iter=10
    )
    
    # اعمال imputer روی داده‌ها
    imputed_data = imputer.fit_transform(R99P1_filled[feature_columns])
    
    # جایگزینی مقادیر پر شده و گرد کردن به نزدیک‌ترین عدد صحیح
    col_index = feature_columns.index(col)
    R99P1_filled[col] = round_to_integer(imputed_data[:, col_index])


    
    imputed_data = imputer.fit_transform(R99P1_filled[feature_columns])
    


#print("داده‌ها با موفقیت در دیتافریم df_imputed پر شدند.")

:

:

In [102]:
#print("\nدرصد مقادیر نال بعد از پر کردن:")
#print(R99P1_filled[columns_to_impute].isnull().mean() * 100)

درصد مقادیر نال بعد از پر کردن:
literacy_encoded          0.0
studying_encoded          0.0
degree_encoded            0.0
occupationalst_encoded    0.0
maritalst_encoded         0.0
dtype: float64

In [142]:
R99P1_filled.head()

,Address,member,age,relation_encoded,gender_encoded,literacy_encoded,studying_encoded,degree_encoded,occupationalst_encoded,maritalst_encoded
0,20011394629,1,36,1,1,1,2,2,1,1
1,20011394629,2,29,2,2,1,2,1,5,1
2,20011394629,3,10,3,1,1,1,1,4,4
3,20011394629,4,5,3,1,2,1,1,4,4
4,20011394626,1,72,1,1,2,2,1,6,1

In [143]:
# بررسی ستون‌های عددی
numerical_columns = R99P1_filled.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)

ستون‌های عددی:
Index(['Address', 'member', 'age'], dtype='object')

In [144]:
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = R99P1_filled[column].quantile(0.25)
    Q3 = R99P1_filled[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((R99P1_filled[column] < (Q1 - 1.5 * IQR)) | (R99P1_filled[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

تعداد داده‌های پرت در ستون member: 831

In [145]:



df = R99P1_filled.copy()


Q1 = df['member'].quantile(0.25)
Q3 = df['member'].quantile(0.75)
IQR = Q3 - Q1


lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR


outliers = df[(df['member'] < lower_bound) | (df['member'] > upper_bound)]


print(f'Number of outliers: {len(outliers)}')



df['member'] = df['member'].clip(lower_bound, upper_bound)


print(df.describe())

Number of outliers: 831
            Address        member           age
count  6.328900e+04  63289.000000  63289.000000
mean   2.146042e+10      2.546051     33.522255
std    8.918270e+08      1.394037     21.724110
min    2.000138e+10      1.000000      0.000000
25%    2.070747e+10      1.000000     14.000000
50%    2.140455e+10      2.000000     32.000000
75%    2.220863e+10      3.000000     49.000000
max    2.300671e+10      6.000000     99.000000

In [146]:
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((df[column] < (Q1 - 1.5 * IQR)) | (df[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

In [147]:
df_P1_filled = df.copy()

شیت نهایی df_P1_filled

بررسی شیت R99P2

In [149]:
R99P2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18251 entries, 0 to 18250
Data columns (total 45 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              18251 non-null  int64
 1   tenure               18251 non-null  object
 2   room                 18251 non-null  int64
 3   space                18251 non-null  int64
 4   construction         18251 non-null  int64
 5   material             14664 non-null  object
 6   vehicle              18251 non-null  bool
 7   motorcycle           18251 non-null  bool
 8   bicycle              18251 non-null  bool
 9   radio                18251 non-null  bool
 10  radiotape            18251 non-null  bool
 11  TVbw                 18251 non-null  bool
 12  TV                   18251 non-null  bool
 13  VHS_VCD_DVD          18251 non-null  bool
 14  computer             18251 non-null  bool
 15  cellphone            18251 non-null  bool
 16  freezer              18251 non-null  bool
 17  refridgerator        18251 non-null  bool
 18  fridge               18251 non-null  bool
 19  stove                18251 non-null  bool
 20  vacuum               18251 non-null  bool
 21  washingmachine       18251 non-null  bool
 22  sewingmachine        18251 non-null  bool
 23  fan                  18251 non-null  bool
 24  evapcoolingportable  18251 non-null  bool
 25  splitportable        18251 non-null  bool
 26  dishwasher           18251 non-null  bool
 27  microwave            18251 non-null  bool
 28  none                 18251 non-null  bool
 29  pipewater            18251 non-null  bool
 30  electricity          18251 non-null  bool
 31  pipegas              18251 non-null  bool
 32  telephone            18251 non-null  bool
 33  internet             18251 non-null  bool
 34  bathroom             18251 non-null  bool
 35  kitchen              18251 non-null  bool
 36  evapcooling          18251 non-null  bool
 37  centralcooling       18251 non-null  bool
 38  centralheating       18251 non-null  bool
 39  package              18251 non-null  bool
 40  split                18251 non-null  bool
 41  wastewater           18251 non-null  bool
 42  cookingfuel          18250 non-null  object
 43  heatingfuel          17709 non-null  object
 44  waterheatingfuel     17953 non-null  object
dtypes: bool(36), int64(4), object(5)
memory usage: 1.9+ MB

In [150]:
missing_percentage = R99P2.isnull().mean() * 100  # درصد مقادیر نال
missing_percentage = missing_percentage[missing_percentage > 0]  # فقط مقادیر نال را نگه‌دارید
missing_percentage = missing_percentage.sort_values(ascending=False)  # مرتب‌سازی به ترتیب نزولی

print(missing_percentage)

material            19.653718
heatingfuel          2.969700
waterheatingfuel     1.632787
cookingfuel          0.005479
dtype: float64

In [151]:
R99P2_cleaned = R99P2.dropna(subset=['heatingfuel', 'waterheatingfuel', 'cookingfuel'])

In [152]:
missing_percentage = R99P2_cleaned.isnull().mean() * 100  # درصد مقادیر نال
missing_percentage = missing_percentage[missing_percentage > 0]  # فقط مقادیر نال را نگه‌دارید
missing_percentage = missing_percentage.sort_values(ascending=False)  # مرتب‌سازی به ترتیب نزولی

print(missing_percentage)

material    19.162357
dtype: float64

In [153]:
data_types = R99P2_cleaned.dtypes
print("نوع داده‌ها:")
print(data_types)

نوع داده‌ها:
Address                 int64
tenure                 object
room                    int64
space                   int64
construction            int64
material               object
vehicle                  bool
motorcycle               bool
bicycle                  bool
radio                    bool
radiotape                bool
TVbw                     bool
TV                       bool
VHS_VCD_DVD              bool
computer                 bool
cellphone                bool
freezer                  bool
refridgerator            bool
fridge                   bool
stove                    bool
vacuum                   bool
washingmachine           bool
sewingmachine            bool
fan                      bool
evapcoolingportable      bool
splitportable            bool
dishwasher               bool
microwave                bool
none                     bool
pipewater                bool
electricity              bool
pipegas                  bool
telephone                bool
internet                 bool
bathroom                 bool
kitchen                  bool
evapcooling              bool
centralcooling           bool
centralheating           bool
package                  bool
split                    bool
wastewater               bool
cookingfuel            object
heatingfuel            object
waterheatingfuel       object
dtype: object

In [154]:
categorical_columns = R99P2_cleaned.select_dtypes(include=['object']).columns

In [155]:
categorical_columns

Index(['tenure', 'material', 'cookingfuel', 'heatingfuel', 'waterheatingfuel'], dtype='object')

In [156]:
# لیست ستون‌های دسته‌بندی‌شده
categorical_columns = ['tenure', 'material', 'cookingfuel', 'heatingfuel', 'waterheatingfuel']

# حلقه برای مشاهده داده‌های یونیک در هر ستون
for column in categorical_columns:
    unique_values = R99P2_cleaned[column].unique()
    print(f"مقادیر یونیک در ستون '{column}':")
    print(unique_values)
    print("-" * 50)  # جداکننده برای خوانایی بیشتر

مقادیر یونیک در ستون 'tenure':
['OwnedEstateLand' 'Free' 'Service' 'Rent' 'Mortgage' 'OwnedEstate'
 'Other']
--------------------------------------------------
مقادیر یونیک در ستون 'material':
['WoodKesht' 'BrickWood' 'KeshtGel' 'MetalBlock' nan 'Brick' 'Cement'
 'Other' 'Wood']
--------------------------------------------------
مقادیر یونیک در ستون 'cookingfuel':
['NaturalGas' 'LiquidGas' 'Oil' 'Electricity' 'Gasoline' 'Wood']
--------------------------------------------------
مقادیر یونیک در ستون 'heatingfuel':
['NaturalGas' 'Oil' 'Wood' 'Electricity' 'LiquidGas' 'Gasoline']
--------------------------------------------------
مقادیر یونیک در ستون 'waterheatingfuel':
['NaturalGas' 'Oil' 'LiquidGas' 'Wood' 'Electricity' 'AnimalOil'
 'Gasoline' 'Other']
--------------------------------------------------

In [157]:
R99P2_cleaned.replace({True: 1, False: 0}, inplace=True)

/var/folders/ym/18chwp3114b20r5myyx5bf5w0000gn/T/ipykernel_1813/2880551165.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  R99P2_cleaned.replace({True: 1, False: 0}, inplace=True)
/var/folders/ym/18chwp3114b20r5myyx5bf5w0000gn/T/ipykernel_1813/2880551165.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R99P2_cleaned.replace({True: 1, False: 0}, inplace=True)

In [158]:
tenure_mapping = {
    'OwnedEstateLand': 1, 'OwnedEstate': 2, 'Rent': 3, 'Mortgage': 4,
    'Service': 5, 'Free': 6, 'Other': 7
}

material_mapping = {
    'MetalBlock': 1, 'BrickWood': 2, 'Cement': 3, 'Brick': 4,
    'Wood': 5, 'WoodKesht': 6, 'KeshtGel': 7, 'Other': 8
}

cookingfuel_mapping = {
    'NaturalGas': 1, 'LiquidGas': 2, 'Oil': 3, 'Electricity': 4,
    'Gasoline': 5, 'Wood': 6
}

heatingfuel_mapping = {
    'NaturalGas': 1, 'Oil': 2, 'Wood': 3, 'Electricity': 4,
    'LiquidGas': 5, 'Gasoline': 6
}

waterheatingfuel_mapping = {
    'NaturalGas': 1, 'Oil': 2, 'LiquidGas': 3, 'Wood': 4,
    'Electricity': 5, 'AnimalOil': 6, 'Gasoline': 7, 'Other': 8
}

In [159]:
R99P2_cleaned['tenure_encoded'] = R99P2_cleaned['tenure'].map(tenure_mapping)
R99P2_cleaned['Material_encoded'] = R99P2_cleaned['material'].map(material_mapping)
R99P2_cleaned['cookingFuel_encoded'] = R99P2_cleaned['cookingfuel'].map(cookingfuel_mapping)
R99P2_cleaned['HeatingFuel_encoded'] = R99P2_cleaned['heatingfuel'].map(heatingfuel_mapping)
R99P2_cleaned['waterheatingfuel_encoded'] = R99P2_cleaned['waterheatingfuel'].map(waterheatingfuel_mapping)

/var/folders/ym/18chwp3114b20r5myyx5bf5w0000gn/T/ipykernel_1813/4099347315.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R99P2_cleaned['tenure_encoded'] = R99P2_cleaned['tenure'].map(tenure_mapping)
/var/folders/ym/18chwp3114b20r5myyx5bf5w0000gn/T/ipykernel_1813/4099347315.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R99P2_cleaned['Material_encoded'] = R99P2_cleaned['material'].map(material_mapping)
/var/folders/ym/18chwp3114b20r5myyx5bf5w0000gn/T/ipykernel_1813/4099347315.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R99P2_cleaned['cookingFuel_encoded'] = R99P2_cleaned['cookingfuel'].map(cookingfuel_mapping)
/var/folders/ym/18chwp3114b20r5myyx5bf5w0000gn/T/ipykernel_1813/4099347315.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R99P2_cleaned['HeatingFuel_encoded'] = R99P2_cleaned['heatingfuel'].map(heatingfuel_mapping)
/var/folders/ym/18chwp3114b20r5myyx5bf5w0000gn/T/ipykernel_1813/4099347315.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R99P2_cleaned['waterheatingfuel_encoded'] = R99P2_cleaned['waterheatingfuel'].map(waterheatingfuel_mapping)

In [160]:
R99P2_cleaned.head()

,Address,tenure,room,space,construction,material,vehicle,motorcycle,bicycle,radio,...,split,wastewater,cookingfuel,heatingfuel,waterheatingfuel,tenure_encoded,Material_encoded,cookingFuel_encoded,HeatingFuel_encoded,waterheatingfuel_encoded
0,20009393015,OwnedEstateLand,2,40,3,WoodKesht,1,0,0,1,...,0,0,NaturalGas,NaturalGas,NaturalGas,1,6.0,1,1,1
1,20002385819,OwnedEstateLand,5,78,3,BrickWood,1,1,0,0,...,0,0,NaturalGas,NaturalGas,NaturalGas,1,2.0,1,1,1
2,20002385823,Free,3,45,3,KeshtGel,0,1,0,0,...,0,0,NaturalGas,NaturalGas,NaturalGas,6,7.0,1,1,1
3,20013397023,OwnedEstateLand,3,90,3,MetalBlock,1,0,0,0,...,0,0,NaturalGas,NaturalGas,NaturalGas,1,1.0,1,1,1
4,20013397029,OwnedEstateLand,4,80,3,MetalBlock,1,1,1,0,...,0,0,NaturalGas,NaturalGas,NaturalGas,1,1.0,1,1,1

In [161]:
R99P2_cleaned.drop(columns=['tenure', 'material', 'cookingfuel', 'heatingfuel', 'waterheatingfuel'])

,Address,room,space,construction,vehicle,motorcycle,bicycle,radio,radiotape,TVbw,...,centralcooling,centralheating,package,split,wastewater,tenure_encoded,Material_encoded,cookingFuel_encoded,HeatingFuel_encoded,waterheatingfuel_encoded
0,20009393015,2,40,3,1,0,0,1,0,0,...,0,0,0,0,0,1,6.0,1,1,1
1,20002385819,5,78,3,1,1,0,0,0,0,...,0,0,0,0,0,1,2.0,1,1,1
2,20002385823,3,45,3,0,1,0,0,0,0,...,0,0,0,0,0,6,7.0,1,1,1
3,20013397023,3,90,3,1,0,0,0,0,0,...,0,0,0,0,0,1,1.0,1,1,1
4,20013397029,4,80,3,1,1,1,0,0,0,...,0,0,0,0,0,1,1.0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18246,23002703017,3,85,1,0,0,0,0,0,0,...,0,0,0,0,0,1,NaN,1,1,1
18247,23002703022,2,100,3,1,1,0,0,0,0,...,0,0,0,0,0,1,1.0,1,1,1
18248,23003707026,3,80,3,1,0,0,0,0,0,...,0,0,0,0,0,1,1.0,1,1,1
18249,23003707029,3,95,3,1,0,0,0,0,0,...,0,0,0,0,0,4,1.0,1,1,1
18250,23002703026,4,110,1,0,0,0,0,0,0,...,0,0,0,0,0,1,NaN,1,1,1

In [162]:
# لیست ستون‌های دسته‌بندی‌شده
categorical_columns = ['tenure_encoded', 'Material_encoded', 'cookingFuel_encoded', 'HeatingFuel_encoded', 'waterheatingfuel_encoded']

# حلقه برای مشاهده داده‌های یونیک در هر ستون
for column in categorical_columns:
    unique_values = R99P2_cleaned[column].unique()
    print(f"مقادیر یونیک در ستون '{column}':")
    print(unique_values)
    print("-" * 50)  # جداکننده برای خوانایی بیشتر

مقادیر یونیک در ستون 'tenure_encoded':
[1 6 5 3 4 2 7]
--------------------------------------------------
مقادیر یونیک در ستون 'Material_encoded':
[ 6.  2.  7.  1. nan  4.  3.  8.  5.]
--------------------------------------------------
مقادیر یونیک در ستون 'cookingFuel_encoded':
[1 2 3 4 5 6]
--------------------------------------------------
مقادیر یونیک در ستون 'HeatingFuel_encoded':
[1 2 3 4 5 6]
--------------------------------------------------
مقادیر یونیک در ستون 'waterheatingfuel_encoded':
[1 2 3 4 5 6 7 8]
--------------------------------------------------

In [163]:
R99P2_cleaned = R99P2_cleaned.apply(pd.to_numeric, errors='coerce')

In [164]:
df_encoded6 = R99P2_cleaned.copy()

In [165]:

df_not_null = df_encoded6[df_encoded6['Material_encoded'].notnull()]
df_null = df_encoded6[df_encoded6['Material_encoded'].isnull()]


X = df_not_null.drop(['Material_encoded'], axis=1)
y = df_not_null['Material_encoded']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = RandomForestClassifier()


model.fit(X_train, y_train)


y_pred = model.predict(X_test)




accuracy = accuracy_score(y_test_numeric, y_pred_numeric)
print(f'Accuracy: {accuracy}')





X_null = df_null.drop(['Material_encoded'], axis=1)


df_null.loc[:, 'Material_encoded'] = model.predict(X_null)


R99P2_filled = pd.concat([df_not_null, df_null])


R99P2_filled.sort_index(inplace=True)


print(R99P2_filled.head())

Accuracy: 0.9937588963100843
       Address  tenure  room  space  construction  material  vehicle  \
0  20009393015     NaN     2     40             3       NaN        1
1  20002385819     NaN     5     78             3       NaN        1
2  20002385823     NaN     3     45             3       NaN        0
3  20013397023     NaN     3     90             3       NaN        1
4  20013397029     NaN     4     80             3       NaN        1

   motorcycle  bicycle  radio  ...  split  wastewater  cookingfuel  \
0           0        0      1  ...      0           0          NaN
1           1        0      0  ...      0           0          NaN
2           1        0      0  ...      0           0          NaN
3           0        0      0  ...      0           0          NaN
4           1        1      0  ...      0           0          NaN

   heatingfuel  waterheatingfuel  tenure_encoded  Material_encoded  \
0          NaN               NaN               1               6.0
1          NaN               NaN               1               2.0
2          NaN               NaN               6               7.0
3          NaN               NaN               1               1.0
4          NaN               NaN               1               1.0

   cookingFuel_encoded  HeatingFuel_encoded  waterheatingfuel_encoded
0                    1                    1                         1
1                    1                    1                         1
2                    1                    1                         1
3                    1                    1                         1
4                    1                    1                         1

[5 rows x 50 columns]

شیت نهایی R99P2_filled

بررسی شیت P3S01

In [166]:
missing_percentage = R99P3S01.isnull().sum() / len(R99P3S01) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address       0.000000
code          0.000000
purchased     0.000000
gram         76.189482
kilogram     24.044922
price         9.444614
value         0.000201
dtype: float64

In [167]:
R99P3S01_cleaned = R99P3S01.dropna(subset=['price', 'value'])

In [168]:

R99P3S01_cleaned['calculated_amount'] = R99P3S01_cleaned['value'] / R99P3S01_cleaned['price']


R99P3S01_cleaned['calculated_kg'] = R99P3S01_cleaned['calculated_amount'].apply(np.floor)
R99P3S01_cleaned['calculated_gram'] = (R99P3S01_cleaned['calculated_amount'] % 1) * 1000


R99P3S01_cleaned['kilogram'] = R99P3S01_cleaned['kilogram'].fillna(R99P3S01_cleaned['calculated_kg'])
R99P3S01_cleaned['gram'] = R99P3S01_cleaned['gram'].fillna(R99P3S01_cleaned['calculated_gram'])

/var/folders/ym/18chwp3114b20r5myyx5bf5w0000gn/T/ipykernel_1813/4079076533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R99P3S01_cleaned['calculated_amount'] = R99P3S01_cleaned['value'] / R99P3S01_cleaned['price']
/var/folders/ym/18chwp3114b20r5myyx5bf5w0000gn/T/ipykernel_1813/4079076533.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R99P3S01_cleaned['calculated_kg'] = R99P3S01_cleaned['calculated_amount'].apply(np.floor)
/var/folders/ym/18chwp3114b20r5myyx5bf5w0000gn/T/ipykernel_1813/4079076533.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R99P3S01_cleaned['calculated_gram'] = (R99P3S01_cleaned['calculated_amount'] % 1) * 1000
/var/folders/ym/18chwp3114b20r5myyx5bf5w0000gn/T/ipykernel_1813/4079076533.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R99P3S01_cleaned['kilogram'] = R99P3S01_cleaned['kilogram'].fillna(R99P3S01_cleaned['calculated_kg'])
/var/folders/ym/18chwp3114b20r5myyx5bf5w0000gn/T/ipykernel_1813/4079076533.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R99P3S01_cleaned['gram'] = R99P3S01_cleaned['gram'].fillna(R99P3S01_cleaned['calculated_gram'])

In [169]:
missing_percentage = R99P3S01_cleaned.isnull().sum() / len(R99P3S01_cleaned) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address              0.0
code                 0.0
purchased            0.0
gram                 0.0
kilogram             0.0
price                0.0
value                0.0
calculated_amount    0.0
calculated_kg        0.0
calculated_gram      0.0
dtype: float64

In [171]:

numerical_columns = R99P3S01_cleaned.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)

ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'kilogram', 'price', 'value',
       'calculated_amount', 'calculated_kg', 'calculated_gram'],
      dtype='object')

بررسی شیت P3S02

In [173]:
missing_percentage = R99P3S02.isnull().sum() / len(R99P3S02) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address        0.000000
code           0.000000
purchased      0.000000
gram         100.000000
kilogram      20.728368
price         20.728368
value          0.000000
dtype: float64

In [174]:
R99P3S02_cleaned = R99P3S02.dropna(subset=['price'])

In [175]:

R99P3S02_cleaned['calculated_amount'] = R99P3S02_cleaned['value'] / R99P3S02_cleaned['price']


R99P3S02_cleaned['calculated_kg'] = R99P3S02_cleaned['calculated_amount'].apply(np.floor)
R99P3S02_cleaned['calculated_gram'] = (R99P3S02_cleaned['calculated_amount'] % 1) * 1000


R99P3S02_cleaned['kilogram'] = R99P3S02_cleaned['kilogram'].fillna(R99P3S02_cleaned['calculated_kg'])
R99P3S02_cleaned['gram'] = R99P3S02_cleaned['gram'].fillna(R99P3S02_cleaned['calculated_gram'])

/var/folders/ym/18chwp3114b20r5myyx5bf5w0000gn/T/ipykernel_1813/1457424044.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R99P3S02_cleaned['calculated_amount'] = R99P3S02_cleaned['value'] / R99P3S02_cleaned['price']
/var/folders/ym/18chwp3114b20r5myyx5bf5w0000gn/T/ipykernel_1813/1457424044.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R99P3S02_cleaned['calculated_kg'] = R99P3S02_cleaned['calculated_amount'].apply(np.floor)
/var/folders/ym/18chwp3114b20r5myyx5bf5w0000gn/T/ipykernel_1813/1457424044.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R99P3S02_cleaned['calculated_gram'] = (R99P3S02_cleaned['calculated_amount'] % 1) * 1000
/var/folders/ym/18chwp3114b20r5myyx5bf5w0000gn/T/ipykernel_1813/1457424044.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R99P3S02_cleaned['kilogram'] = R99P3S02_cleaned['kilogram'].fillna(R99P3S02_cleaned['calculated_kg'])
/var/folders/ym/18chwp3114b20r5myyx5bf5w0000gn/T/ipykernel_1813/1457424044.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R99P3S02_cleaned['gram'] = R99P3S02_cleaned['gram'].fillna(R99P3S02_cleaned['calculated_gram'])

In [176]:
missing_percentage = R99P3S02_cleaned.isnull().sum() / len(R99P3S02_cleaned) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address              0.0
code                 0.0
purchased            0.0
gram                 0.0
kilogram             0.0
price                0.0
value                0.0
calculated_amount    0.0
calculated_kg        0.0
calculated_gram      0.0
dtype: float64

بررسی شیت P3S03

In [177]:
missing_percentage = R99P3S03.isnull().sum() / len(R99P3S03) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [178]:
categorical_columns = R99P3S03.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')

In [179]:
duplicates = R99P3S03.duplicated().sum()
print(duplicates)

0

In [180]:
categorical_columns = R99P3S03.select_dtypes(include=['object']).columns
print(categorical_columns)

Index([], dtype='object')

In [181]:
numerical_columns = R99P3S03.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)

ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')

In [182]:
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = R99P3S03[column].quantile(0.25)
    Q3 = R99P3S03[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((R99P3S03[column] < (Q1 - 1.5 * IQR)) | (R99P3S03[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

تعداد داده‌های پرت در ستون code: 4013
تعداد داده‌های پرت در ستون purchased: 160
تعداد داده‌های پرت در ستون value: 1039

اگر اینجا بررسی بشه ایا این داده پرت به نسبت شهر هست یا نه خیلی خوبه

بررسی شیت P3S04

In [183]:
missing_percentage = R99P3S04.isnull().sum() / len(R99P3S04) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address       0.000000
code          0.000000
mortgage     99.087000
purchased    23.303587
value         0.000000
dtype: float64

In [184]:
R99P3S04_cleaned = R99P3S04.dropna(subset=['mortgage'])

In [185]:
missing_percentage = R99P3S04_cleaned.isnull().sum() / len(R99P3S04_cleaned) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
mortgage     0.0
purchased    0.0
value        0.0
dtype: float64

In [186]:
duplicates = R99P3S04_cleaned.duplicated().sum()
print(duplicates)

0

In [187]:
categorical_columns = R99P3S04_cleaned.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

ستون‌های دسته‌بندی‌شده:
Index(['purchased'], dtype='object')

In [188]:
numerical_columns = R99P3S04_cleaned.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)

ستون‌های عددی:
Index(['Address', 'code', 'mortgage', 'value'], dtype='object')

In [189]:
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = R99P3S04_cleaned[column].quantile(0.25)
    Q3 = R99P3S04_cleaned[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((R99P3S04_cleaned[column] < (Q1 - 1.5 * IQR)) | (R99P3S04_cleaned[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

تعداد داده‌های پرت در ستون mortgage: 40
تعداد داده‌های پرت در ستون value: 44

بررسی شیت P3S05

In [190]:
missing_percentage = R99P3S05.isnull().sum() / len(R99P3S05) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [191]:
duplicates = R99P3S05.duplicated().sum()
duplicates

np.int64(0)

In [192]:

categorical_columns = R99P3S05.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')

In [193]:


numerical_columns = R99P3S05.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = R99P3S05[column].quantile(0.25)
    Q3 = R99P3S05[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((R99P3S05[column] < (Q1 - 1.5 * IQR)) | (R99P3S05[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون code: 27292
تعداد داده‌های پرت در ستون purchased: 1029
تعداد داده‌های پرت در ستون value: 6567

P3S06

In [194]:
missing_percentage = R99P3S06.isnull().sum() / len(R99P3S06) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [195]:
duplicates = R99P3S06.duplicated().sum()
print(duplicates)
categorical_columns = R99P3S06.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = R99P3S06.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = R99P3S06[column].quantile(0.25)
    Q3 = R99P3S06[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((R99P3S06[column] < (Q1 - 1.5 * IQR)) | (R99P3S06[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

0
ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون code: 13
تعداد داده‌های پرت در ستون purchased: 2736
تعداد داده‌های پرت در ستون value: 3862

P3S07

In [196]:
missing_percentage = R99P3S07.isnull().sum() / len(R99P3S07) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [197]:
duplicates = R99P3S07.duplicated().sum()
print(duplicates)

0

In [198]:
categorical_columns = R99P3S07.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = R99P3S07.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = R99P3S07[column].quantile(0.25)
    Q3 = R99P3S07[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((R99P3S07[column] < (Q1 - 1.5 * IQR)) | (R99P3S07[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون purchased: 150
تعداد داده‌های پرت در ستون value: 1900

P3S08

In [199]:
missing_percentage = R99P3S08.isnull().sum() / len(R99P3S08) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [200]:
duplicates = R99P3S08.duplicated().sum()
print(duplicates)

0

In [201]:
categorical_columns = R99P3S08.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = R99P3S08.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = R99P3S08[column].quantile(0.25)
    Q3 = R99P3S08[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((R99P3S08[column] < (Q1 - 1.5 * IQR)) | (R99P3S08[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون code: 7102
تعداد داده‌های پرت در ستون purchased: 13
تعداد داده‌های پرت در ستون value: 2224

P3S09

In [202]:
missing_percentage = R99P3S09.isnull().sum() / len(R99P3S09) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [203]:
duplicates = R99P3S09.duplicated().sum()
print(duplicates)

0

In [204]:
categorical_columns = R99P3S09.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = R99P3S09.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = R99P3S09[column].quantile(0.25)
    Q3 = R99P3S09[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((R99P3S09[column] < (Q1 - 1.5 * IQR)) | (R99P3S09[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون code: 1442
تعداد داده‌های پرت در ستون purchased: 59
تعداد داده‌های پرت در ستون value: 505

P3S11

In [205]:
missing_percentage = R99P3S11.isnull().sum() / len(R99P3S11) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [206]:
duplicates = R99P3S11.duplicated().sum()
print(duplicates)

0

In [207]:
categorical_columns = R99P3S11.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = R99P3S11.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = R99P3S11[column].quantile(0.25)
    Q3 = R99P3S11[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((R99P3S11[column] < (Q1 - 1.5 * IQR)) | (R99P3S11[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون code: 94
تعداد داده‌های پرت در ستون purchased: 204
تعداد داده‌های پرت در ستون value: 524

P3S12

In [208]:
missing_percentage = R99P3S12.isnull().sum() / len(R99P3S12) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [209]:
duplicates = R99P3S12.duplicated().sum()
print(duplicates)

0

In [210]:
categorical_columns = R99P3S12.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = R99P3S12.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = R99P3S12[column].quantile(0.25)
    Q3 = R99P3S12[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((R99P3S12[column] < (Q1 - 1.5 * IQR)) | (R99P3S12[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون code: 720
تعداد داده‌های پرت در ستون purchased: 559
تعداد داده‌های پرت در ستون value: 5632

P3S13

In [211]:
missing_percentage = R99P3S13.isnull().sum() / len(R99P3S13) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address    0.000000
code       0.000000
value      0.281687
dtype: float64

In [212]:
R99P3S13 = R99P3S13.dropna(subset=['value'])

In [213]:
duplicates = R99P3S13.duplicated().sum()
print(duplicates)

170

In [214]:
R99P3S13 = R99P3S13.drop_duplicates()

In [215]:
duplicates = R99P3S13.duplicated().sum()
print(duplicates)

0

In [216]:
categorical_columns = R99P3S13.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = R99P3S13.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = R99P3S13[column].quantile(0.25)
    Q3 = R99P3S13[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((R99P3S13[column] < (Q1 - 1.5 * IQR)) | (R99P3S13[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های دسته‌بندی‌شده:
Index(['value'], dtype='object')
ستون‌های عددی:
Index(['Address', 'code'], dtype='object')

P3S14

In [217]:
missing_percentage = R99P3S14.isnull().sum() / len(R99P3S14) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.000000
code         0.000000
purchased    4.740244
value        5.242997
dtype: float64

In [218]:
R99P3S14 = R99P3S14.dropna(subset=['purchased','value'])

In [219]:
missing_percentage = R99P3S14.isnull().sum() / len(R99P3S14) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [220]:
duplicates = R99P3S14.duplicated().sum()
print(duplicates)

0

In [221]:
categorical_columns = R99P3S14.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = R99P3S14.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = R99P3S14[column].quantile(0.25)
    Q3 = R99P3S14[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((R99P3S14[column] < (Q1 - 1.5 * IQR)) | (R99P3S14[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های دسته‌بندی‌شده:
Index(['purchased'], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'value'], dtype='object')
تعداد داده‌های پرت در ستون Address: 471
تعداد داده‌های پرت در ستون value: 641

P4S01

In [222]:
missing_percentage = R99P4S01.isnull().sum() / len(R99P4S01) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address            0.000000
member             0.000000
employed_w         0.000000
ISCO_w             0.000000
ISIC_w             0.000000
status_w           0.000000
hours_w           10.985579
days_w            10.985579
income_w_m         0.000000
income_w_y         0.000000
wage_w_m           0.128594
wage_w_y           0.009185
perk_w_m           0.082667
perk_w_y           0.018371
netincome_w_m      0.000000
netincome_w_y      0.000000
Fasl               0.000000
year               0.000000
DYCOL00          100.000000
dtype: float64

In [225]:
R99P4S01 = R99P4S01.drop(columns='DYCOL00')

In [231]:

R99P4S01_cleaned = R99P4S01.dropna(subset=['hours_w','days_w','wage_w_m','wage_w_y','perk_w_m','perk_w_y'])

In [232]:
missing_percentage = R99P4S01_cleaned.isnull().sum() / len(R99P4S01_cleaned) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address          0.0
member           0.0
employed_w       0.0
ISCO_w           0.0
ISIC_w           0.0
status_w         0.0
hours_w          0.0
days_w           0.0
income_w_m       0.0
income_w_y       0.0
wage_w_m         0.0
wage_w_y         0.0
perk_w_m         0.0
perk_w_y         0.0
netincome_w_m    0.0
netincome_w_y    0.0
Fasl             0.0
year             0.0
dtype: float64

P4S02

In [233]:
missing_percentage = R99P4S02.isnull().sum() / len(R99P4S02) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address              0.000000
member               0.007724
employed_s           0.007724
ISCO_s               0.023173
ISIC_s               0.023173
status_s             0.007724
agriculture          0.000000
hours_s              1.313147
days_s               1.266801
cost_employment     11.084505
cost_raw             2.533601
cost_machinery      10.528349
cost_others          5.770122
cost_tax            13.973428
sale                 1.676193
income_s_y           0.007724
Fasl                 0.000000
year                 0.000000
DYCOL00            100.000000
dtype: float64

In [234]:
R99P4S02 = R99P4S02.drop(columns='DYCOL00')

In [236]:
R99P4S02_cleaned = R99P4S02.dropna(subset=['member','employed_s','ISCO_s','ISIC_s','hours_s','cost_raw','cost_others','sale'])

In [237]:
missing_percentage = R99P4S02_cleaned.isnull().sum() / len(R99P4S02_cleaned) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address            0.000000
member             0.000000
employed_s         0.000000
ISCO_s             0.000000
ISIC_s             0.000000
status_s           0.000000
agriculture        0.000000
hours_s            0.000000
days_s             0.000000
cost_employment    6.658333
cost_raw           0.000000
cost_machinery     5.691667
cost_others        0.000000
cost_tax           8.475000
sale               0.000000
income_s_y         0.000000
Fasl               0.000000
year               0.000000
dtype: float64

In [238]:
R99P4S02_cleaned = R99P4S02.dropna(subset=['cost_employment','cost_machinery','cost_tax'])

P4S03

In [239]:
missing_percentage = R99P4S03.isnull().sum() / len(R99P4S03) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address              0.000000
member               0.008337
income_pension      67.703210
income_rent         72.551063
income_interest     33.509796
income_aid          21.117132
income_resale       74.568570
income_transfer     61.950813
Fasl                 0.000000
year                 0.000000
DYCOL00            100.000000
dtype: float64

In [240]:
R99P4S03 = R99P4S03.drop(columns='DYCOL00')

In [241]:
R99P4S03_cleaned = R99P4S03.dropna(subset=['member'])

In [244]:
print(R99P4S03_cleaned.dtypes)

Address              int64
member             float64
income_pension      object
income_rent         object
income_interest    float64
income_aid         float64
income_resale      float64
income_transfer    float64
Fasl                 int64
year                 int64
dtype: object

In [247]:
R99P4S03_cleaned = R99P4S03_cleaned.apply(pd.to_numeric, errors='coerce')

In [248]:
df_encoded7 = R99P4S03_cleaned.copy()

اینجا برای ترین کردن از کمترین درصد نال شروع میکنم که اگر ترین غلط باشه حداقل اونایی که نالشون زیاده تاثیر زیادی نذارن

In [249]:
df_not_null = df_encoded7[df_encoded7['income_aid'].notnull()]
df_null = df_encoded7[df_encoded7['income_aid'].isnull()]


X = df_not_null.drop(['income_aid'], axis=1)
y = df_not_null['income_aid']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = RandomForestClassifier()


model.fit(X_train, y_train)


y_pred = model.predict(X_test)


print(f'Accuracy for income_aid : {accuracy_score(y_test, y_pred)}')


X_null = df_null.drop(['income_aid'], axis=1)


df_null.loc[:, 'income_aid'] = model.predict(X_null)


R99P4S03_filled = pd.concat([df_not_null, df_null])


R99P4S03_filled.sort_index(inplace=True)


print(R99P4S031_filled.head())

Accuracy for income_aid : 0.17992073976221928

NameError: name 'R99P4S031_filled' is not defined

P4S04

In [250]:
missing_percentage = R99P4S04.isnull().sum() / len(R99P4S04) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address             0.000000
member              0.000000
subsidy_number      0.017189
subsidy_month       0.003438
subsidy             0.006876
Fasl                0.000000
year                0.000000
DYCOL00           100.000000
dtype: float64

In [251]:
R99P4S04 = R99P4S04.drop(columns='DYCOL00')

In [253]:
R99P4S04_cleaned = R99P4S04.dropna(subset=['subsidy_number','subsidy_month','subsidy'])

In [ ]:
#p3_sheets = {
    'R99P3S01_cleaned': 'Food',
    'R99P3S02_cleaned': 'Tobacco',
    'R99P3S03': 'Clothing',
    'R99P3S04_cleaned': 'Housing',
    'R99P3S05': 'Furniture',
    'R99P3S06': 'Health',
    'R99P3S07': 'Transport',
    'R99P3S08': 'Communication',
    'R99P3S09': 'Recreation',
    'R99P3S11': 'Education',
    'R99P3S12': 'Hotel',
    'R99P3S13': 'Miscellaneous',
    'R99P3S14': 'Investment'
}

In [ ]:
combined_df = pd.merge(data99['R99Data_cleaned'], data99['df_P1_filled'], on='Address')
combined_df = combined_df.merge(data99['R99P2_filled'], on='Address')


for sheet_name in p3_sheets.keys():
    combined_df = combined_df.merge(data99[sheet_name], on='Address', how='outer', suffixes=(None, f'_{sheet_name}'))


combined_df = combined_df.merge(data99['R99P4S01_cleaned'], on='Address')
combined_df = combined_df.merge(data99['R99P4S02_cleaned'], on='Address')
combined_df = combined_df.merge(data99['R99P4S03_cleaned'], on='Address')
combined_df = combined_df.merge(data99['R99P4S04_cleaned'], on='Address')