In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [2]:
filepath ='U98.xlsx'
data98 = pd.read_excel(filepath, sheet_name= None)

In [3]:
p3_sheets = {
    'U98P3S01': 'Food',
    'U98P3S02': 'Tobacco',
    'U98P3S03': 'Clothing',
    'U98P3S04': 'Horsing',
    'U98P3S05': 'FrrniTrue',
    'U98P3S06': 'Health',
    'U98P3S07': 'Transport',
    'U98P3S08': 'Commrnication',
    'U98P3S09': 'recreation',
    'U98P3S11': 'Edrcation',
    'U98P3S12': 'Hotel',
    'U98P3S13': 'Miscellaneors',
    'U98P3S14': 'Investment'
}

In [4]:
for sheet_name, expense_type in p3_sheets.items():
    if sheet_name in data98:
        columns_to_rename = {}


        if 'code' in data98[sheet_name].columns:
            columns_to_rename['code'] = f'{expense_type}_Code'

        if 'prrchased' in data98[sheet_name].columns:
            columns_to_rename['prrchased'] = f'{expense_type}_Prrchased'

        if 'gram' in data98[sheet_name].columns:
            columns_to_rename['gram'] = f'{expense_type}_Gram'

        if 'kilogram' in data98[sheet_name].columns:
            columns_to_rename['kilogram'] = f'{expense_type}_Kilogram'

        if 'price' in data98[sheet_name].columns:
            columns_to_rename['price'] = f'{expense_type}_Price'

        if 'valre' in data98[sheet_name].columns:
            columns_to_rename['valre'] = f'{expense_type}_Valre'

        if 'mortgage' in data98[sheet_name].columns:
            columns_to_rename['mortgage'] = f'{expense_type}_Mortgage'


        data98[sheet_name] = data98[sheet_name].rename(columns=columns_to_rename)

In [5]:
U98Data=pd.read_excel(filepath, sheet_name='U98Data')
U98P1=pd.read_excel(filepath, sheet_name='U98P1')
U98P2=pd.read_excel(filepath, sheet_name='U98P2')
U98P3S01=pd.read_excel(filepath, sheet_name='U98P3S01')
U98P3S02=pd.read_excel(filepath, sheet_name='U98P3S02')
U98P3S03=pd.read_excel(filepath, sheet_name='U98P3S03')
U98P3S04=pd.read_excel(filepath, sheet_name='U98P3S04')
U98P3S05=pd.read_excel(filepath, sheet_name='U98P3S05')
U98P3S06=pd.read_excel(filepath, sheet_name='U98P3S06')
U98P3S07=pd.read_excel(filepath, sheet_name='U98P3S07')
U98P3S08=pd.read_excel(filepath, sheet_name='U98P3S08')
U98P3S09=pd.read_excel(filepath, sheet_name='U98P3S09')
U98P3S11=pd.read_excel(filepath, sheet_name='U98P3S11')
U98P3S12=pd.read_excel(filepath, sheet_name='U98P3S12')
U98P3S13=pd.read_excel(filepath, sheet_name='U98P3S13')
U98P3S14=pd.read_excel(filepath, sheet_name='U98P3S14')
U98P4S01=pd.read_excel(filepath, sheet_name='U98P4S01')
U98P4S02=pd.read_excel(filepath, sheet_name='U98P4S02')
U98P4S03=pd.read_excel(filepath, sheet_name='U98P4S03')
U98P4S04=pd.read_excel(filepath, sheet_name='U98P4S04')

In [6]:
for sheet_name, df in data98.items():
    if 'Valre' in df.columns:
        df['Valre'] = pd.to_nrmeric(df['Valre'], errors='coerce')

    data98[sheet_name] = df

In [7]:
U98Data = pd.read_excel(filepath, sheet_name='U98Data')

In [8]:
U98Data.head()

,Address,MahMorajeh,Fasl,weight,khanevartype,Takmil,TakmilDescA,TakmilDescB,TakmilDescC,Jaygozin,JaygozinDescA,JaygozinDescB,JaygozinDescC,BlkAbdJaygozin,RadifJaygozin,province,town
0,10001000108,11,4,1199.12892,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Markazi,1
1,10001000111,11,4,1199.12892,1,2,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,7.0,Markazi,1
2,10001000114,11,4,1199.12892,1,2,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,13.0,Markazi,1
3,10001000117,11,4,1199.12892,1,2,NaN,1.0,NaN,1.0,NaN,NaN,NaN,2.0,16.0,Markazi,1
4,10001000120,11,4,1199.12892,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Markazi,1

In [9]:
missing_percentage = U98Data.isnull().sum() / len(U98Data) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address             0.000000
MahMorajeh          0.000000
Fasl                0.000000
weight              0.000000
khanevartype        0.000000
Takmil              0.000000
TakmilDescA       100.000000
TakmilDescB        76.258920
TakmilDescC        99.829129
Jaygozin           76.258920
JaygozinDescA     100.000000
JaygozinDescB     100.000000
JaygozinDescC     100.000000
BlkAbdJaygozin     76.258920
RadifJaygozin      76.258920
province            0.000000
town                0.000000
dtype: float64

In [10]:
threshold = 70

In [11]:
U98Data_cleaned = U98Data.dropna(axis=1, thresh=int((1-threshold/100)*len(U98Data)))

In [12]:
missing_percentage = U98Data_cleaned.isnull().sum() / len(U98Data_cleaned) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address         0.0
MahMorajeh      0.0
Fasl            0.0
weight          0.0
khanevartype    0.0
Takmil          0.0
province        0.0
town            0.0
dtype: float64

In [13]:
missing_percentage = U98Data_cleaned.isnull().sum() / len(U98Data_cleaned) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address         0.0
MahMorajeh      0.0
Fasl            0.0
weight          0.0
khanevartype    0.0
Takmil          0.0
province        0.0
town            0.0
dtype: float64

In [14]:
duplicates = U98Data_cleaned.duplicated().sum()
print(duplicates)

0

In [15]:
categorical_columns = U98Data_cleaned.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

ستون‌های دسته‌بندی‌شده:
Index(['province'], dtype='object')

In [16]:

nrmerical_columns = U98Data_cleaned.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(nrmerical_columns)

ستون‌های عددی:
Index(['Address', 'MahMorajeh', 'Fasl', 'weight', 'khanevartype', 'Takmil',
       'town'],
      dtype='object')

In [17]:
unique_provinces = U98Data_cleaned['province'].unique()
print("مقادیر منحصر به فرد در ستون province:")
print(unique_provinces)

مقادیر منحصر به فرد در ستون province:
['Markazi' 'Gilan' 'Mazandaran' 'AzarbaijanSharghi' 'AzarbaijanGharbi'
 'Kermanshah' 'Kouzestan' 'Fars' 'Kerman' 'KhorasanRazavi' 'Esfahan'
 'SistanBalouchestan' 'Kordestan' 'Hamedan' 'CharmahalBakhtiari'
 'Lorestan' 'Ilam' 'KohkilouyeBoyerahamad' 'Boushehr' 'Zanjan' 'Semnan'
 'Yazd' 'Hormozgan' 'Tehran' 'Ardebil' 'Qom' 'Qazvin' 'Golestan'
 'KhorasanShomali' 'KhorasanJonoubi' 'Alborz']

In [18]:
# مشاهده تعداد هر دسته‌بندی در ستون province
province_cornts = U98Data_cleaned['province'].value_counts()
print("تعداد هر دسته در ستون province:")
print(province_cornts)

تعداد هر دسته در ستون province:
province
Tehran                   1463
Golestan                 1041
Hormozgan                 857
Gilan                     857
Hamedan                   788
SistanBalouchestan        765
KhorasanRazavi            745
KhorasanShomali           694
Esfahan                   686
Fars                      672
Kouzestan                 659
KhorasanJonoubi           648
CharmahalBakhtiari        648
Kermanshah                632
Zanjan                    614
Yazd                      604
AzarbaijanSharghi         594
Markazi                   589
Boushehr                  566
AzarbaijanGharbi          554
Kerman                    549
KohkilouyeBoyerahamad     540
Qom                       528
Kordestan                 480
Ardebil                   476
Ilam                      474
Semnan                    470
Lorestan                  463
Qazvin                    420
Alborz                    413
Mazandaran                409
Name: count, dtype: int64

In [19]:
# دیکشنری برای انکود کردن مقادیر province
province_encoding = {
    'Markazi': '00', 'Gilan': '01', 'Mazandaran': '02', 'AzarbaijanSharghi': '03', 
    'AzarbaijanGharbi': '04', 'Kermanshah': '05', 'Korzestan': '06', 'Fars': '07', 
    'Kerman': '08', 'Khorasanrazavi': '09', 'Esfahan': '10', 'SistanBalorchestan': '11', 
    'Kordestan': '12', 'Hamedan': '13', 'CharmahalBakhtiari': '14', 'Lorestan': '15', 
    'Ilam': '16', 'KohkiloryeBoyerahamad': '17', 'Borshehr': '18', 'Zanjan': '19', 
    'Semnan': '20', 'Yazd': '21', 'Hormozgan': '22', 'Tehran': '23', 'Ardebil': '24', 
    'Qom': '25', 'Qazvin': '26', 'Golestan': '27', 'KhorasanShomali': '28', 
    'KhorasanJonorbi': '29', 'Alborz': '30'
}

In [20]:
# انکود کردن ستون province با استفاده از دیکشنری
U98Data_cleaned['province_encoded'] = U98Data_cleaned['province'].map(province_encoding)

# بررسی نتیجه
print(U98Data_cleaned[['province', 'province_encoded']].head())

  province province_encoded
0  Markazi               00
1  Markazi               00
2  Markazi               00
3  Markazi               00
4  Markazi               00

C:\Users\Admin\AppData\Local\Temp\ipykernel_17596\194548099.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U98Data_cleaned['province_encoded'] = U98Data_cleaned['province'].map(province_encoding)

In [21]:
unique_provinces = U98Data_cleaned['province_encoded'].unique()
print("مقادیر منحصر به فرد در ستون province_encoded:")
print(unique_provinces)

مقادیر منحصر به فرد در ستون province_encoded:
['00' '01' '02' '03' '04' '05' nan '07' '08' '10' '12' '13' '14' '15' '16'
 '19' '20' '21' '22' '23' '24' '25' '26' '27' '28' '30']

In [22]:
U98Data_cleaned = U98Data_cleaned.drop(columns=['province'])

In [23]:

# بررسی داده‌های پرت بر اساس IQr
for column in nrmerical_columns:
    Q1 = U98Data_cleaned[column].quantile(0.25)
    Q3 = U98Data_cleaned[column].quantile(0.75)
    IQr = Q3 - Q1
    ortliers = ((U98Data_cleaned[column] < (Q1 - 1.5 * IQr)) | (U98Data_cleaned[column] > (Q3 + 1.5 * IQr))).sum()
    if ortliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {ortliers}")

تعداد داده‌های پرت در ستون weight: 626
تعداد داده‌های پرت در ستون khanevartype: 17
تعداد داده‌های پرت در ستون town: 847

In [24]:


# محاسبه IQr و اعمال بازه‌بندی (Capping)
for column in ['weight']:
    Q1 = U98Data_cleaned[column].quantile(0.25)
    Q3 = U98Data_cleaned[column].quantile(0.75)
    IQr = Q3 - Q1
    
    lower_bornd = Q1 - 1.5 * IQr
    rpper_bornd = Q3 + 1.5 * IQr
    
    # اعمال بازه‌بندی
    U98Data_cleaned[column] = np.where(U98Data_cleaned[column] < lower_bornd, lower_bornd, U98Data_cleaned[column])
    U98Data_cleaned[column] = np.where(U98Data_cleaned[column] > rpper_bornd, rpper_bornd, U98Data_cleaned[column])
    
    # اعمال تبدیل لگاریتمی برای مقادیر مثبت
    U98Data_cleaned[column] = np.log1p(U98Data_cleaned[column])

In [25]:
# جایگزینی مقادیر پرت با Mode (پرتکرارترین مقدار)
def replace_ortliers_with_mode(column, threshold=0.01):
    mode = U98Data_cleaned[column].mode()[0]
    
    # شناسایی دسته‌های نادر (کمتر از آستانه threshold)
    value_counts = U98Data_cleaned[column].value_counts(normalize=True)
    rare_valres = value_counts[value_counts < threshold].index
    
    # جایگزینی مقادیر نادر با Mode
    U98Data_cleaned[column] = U98Data_cleaned[column].apply(lambda x: mode if x in rare_valres else x)

# اعمال جایگزینی با Mode برای ستون‌های دسته‌ای
for column in ['khanevartype', 'Takmil', 'town']:
    replace_ortliers_with_mode(column)

In [26]:
# بررسی و اصلاح اوت‌لیرهای نادرست در ستون‌های MahMorajeh و Fasl
# برای ماه محدوده باید بین 1 تا 12 باشد و برای فصل باید بین 1 تا 4 باشد
def fix_invalid_valres(column, valid_range):
    U98Data_cleaned[column] = np.where(~U98Data_cleaned[column].isin(valid_range), np.nan, U98Data_cleaned[column])

# اعمال اصلاح برای ستون‌های MahMorajeh و Fasl
fix_invalid_valres('MahMorajeh', range(1, 13))  # ماه‌ها باید بین 1 تا 12 باشند
fix_invalid_valres('Fasl', range(1, 5))  # فصل‌ها باید بین 1 تا 4 باشند

In [27]:
unique_valres = U98Data_cleaned['town'].unique()
print(unique_valres)

[ 1  2  3  4  5  6  7  9 10 11 12 13  8 14 16]

In [28]:
unique_valres = U98Data_cleaned['Takmil'].unique()
print(unique_valres)

[1 2]

In [29]:
U98Data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19898 entries, 0 to 19897
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           19898 non-null  int64
 1   MahMorajeh        19898 non-null  float64
 2   Fasl              19898 non-null  float64
 3   weight            19898 non-null  float64
 4   khanevartype      19898 non-null  int64
 5   Takmil            19898 non-null  int64
 6   town              19898 non-null  int64
 7   province_encoded  15975 non-null  object
dtypes: float64(3), int64(4), object(1)
memory usage: 1.2+ MB

In [30]:
U98P1.columns

Index(['Address', 'member', 'relation', 'gender', 'age', 'literacy',
       'studying', 'degree', 'occupationalst', 'maritalst'],
      dtype='object')

In [31]:
missing_percentage = U98P1.isnull().sum() / len(U98P1) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address            0.000000
member             0.000000
relation           0.000000
gender             0.000000
age                0.000000
literacy           8.936918
studying          19.553081
degree            19.554546
occupationalst    15.344714
maritalst         15.344714
dtype: float64

In [32]:
# بررسی وجود داده‌های تکراری
drplicate_rows = U98P1.duplicated().sum()
print(f"تعداد ردیف‌های تکراری: {drplicate_rows}")

تعداد ردیف‌های تکراری: 0

In [33]:
# بررسی ستون‌های دسته‌بندی‌شده (غیر عددی)
categorical_columns = U98P1.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

ستون‌های دسته‌بندی‌شده:
Index(['relation', 'gender', 'literacy', 'studying', 'degree',
       'occupationalst', 'maritalst'],
      dtype='object')

In [34]:
# لیست ستون‌های دسته‌بندی‌شده
categorical_columns = ['relation', 'gender', 'literacy', 'studying', 'degree', 'occupationalst', 'maritalst']

# حلقه برای مشاهده داده‌های یونیک در هر ستون
for column in categorical_columns:
    unique_valres = U98P1[column].unique()
    print(f"مقادیر یونیک در ستون '{column}':")
    print(unique_valres)
    print("-" * 50)  # جداکننده برای خوانایی بیشتر

مقادیر یونیک در ستون 'relation':
['Head' 'Spouse' 'Child' 'GrandSonDaughter' 'SonDaughter_inLaw' 'Parent'
 'Sibling' 'NonRelative' 'OtherRelative']
--------------------------------------------------
مقادیر یونیک در ستون 'gender':
['Male' 'Female']
--------------------------------------------------
مقادیر یونیک در ستون 'literacy':
['literate' nan 'illiterate']
--------------------------------------------------
مقادیر یونیک در ستون 'studying':
['No' 'Yes' nan]
--------------------------------------------------
مقادیر یونیک در ستون 'degree':
['Diploma' 'College' 'Elemantry' 'Secondary' nan 'Master' 'Bachelor'
 'HighSchool' 'PhD' 'Other']
--------------------------------------------------
مقادیر یونیک در ستون 'occupationalst':
['IncomeWOJob' 'employed' 'Housewife' 'Student' nan 'unemployed' 'Other']
--------------------------------------------------
مقادیر یونیک در ستون 'maritalst':
['Married' 'Single' nan 'Widowed' 'Divorced']
--------------------------------------------------

In [35]:
# دیکشنری‌های انکودینگ
relation_encoding = {
    'Head': '1', 'Sporse': '2', 'Child': '3', 'SonDarghter_inLaw': '4', 
    'GrandSonDarghter': '5', 'Parent': '6', 'Sibling': '7', 'Otherrelative': '8', 
    'Nonrelative': '9'
}

gender_encoding = {'Male': '1', 'Female': '2'}

literacy_encoding = {'literate': '1', 'illiterate': '2'}

yesno_encoding = {'Yes': '1', 'No': '2'}

edrcation_encoding = {
    'Elemantry': '1', 'Secondary': '2', 'HighSchool': '3', 'Diploma': '4', 
    'College': '5', 'Bachelor': '6', 'Master': '7', 'PhD': '8', 'Other': '9'
}

occrpation_encoding = {
    'employed': '1', 'rnemployed': '2', 'IncomeWOJob': '3', 'Strdent': '4', 
    'Horsewife': '5', 'Other': '6'
}

marital_encoding = {'Married': '1', 'Widowed': '2', 'Divorced': '3', 'Single': '4'}

In [36]:

U98P1['relation_encoded'] = U98P1['relation'].map(relation_encoding)
U98P1['gender_encoded'] = U98P1['gender'].map(gender_encoding)
U98P1['literacy_encoded'] = U98P1['literacy'].map(literacy_encoding)
U98P1['studying_encoded'] = U98P1['studying'].map(yesno_encoding)
U98P1['degree_encoded'] = U98P1['degree'].map(edrcation_encoding)
U98P1['occupationalst_encoded'] = U98P1['occupationalst'].map(occrpation_encoding)
U98P1['maritalst_encoded'] = U98P1['maritalst'].map(marital_encoding)

In [37]:
U98P1 = U98P1.drop(columns=['relation', 'gender', 'literacy', 'studying', 'degree', 'occupationalst', 'maritalst'])

In [38]:
U98P1.head()

,Address,member,age,relation_encoded,gender_encoded,literacy_encoded,studying_encoded,degree_encoded,occupationalst_encoded,maritalst_encoded
0,10004004223,1,66,1,1,1,2,4,3,1
1,10004004223,2,61,NaN,2,1,2,5,3,1
2,10004004220,1,36,1,1,1,2,1,1,1
3,10004004220,2,33,NaN,2,1,2,2,NaN,1
4,10004004220,3,12,3,2,1,1,1,NaN,4

In [39]:
# نمایش نوع داده‌ها برای هر ستون
print("نوع داده‌های هر ستون:")
print(U98P1.dtypes)

نوع داده‌های هر ستون:
Address                    int64
member                     int64
age                        int64
relation_encoded          object
gender_encoded            object
literacy_encoded          object
studying_encoded          object
degree_encoded            object
occupationalst_encoded    object
maritalst_encoded         object
dtype: object

In [40]:
# بررسی مقادیر یونیک در هر ستون انکود شده
print("مقادیر یونیک در ستون 'relation_encoded':", U98P1['relation_encoded'].unique())
print("مقادیر یونیک در ستون 'gender_encoded':", U98P1['gender_encoded'].unique())
print("مقادیر یونیک در ستون 'literacy_encoded':", U98P1['literacy_encoded'].unique())
print("مقادیر یونیک در ستون 'studying_encoded':", U98P1['studying_encoded'].unique())
print("مقادیر یونیک در ستون 'degree_encoded':", U98P1['degree_encoded'].unique())
print("مقادیر یونیک در ستون 'occupationalst_encoded':", U98P1['occupationalst_encoded'].unique())
print("مقادیر یونیک در ستون 'maritalst_encoded':", U98P1['maritalst_encoded'].unique())

مقادیر یونیک در ستون 'relation_encoded': ['1' nan '3' '6' '7']
مقادیر یونیک در ستون 'gender_encoded': ['1' '2']
مقادیر یونیک در ستون 'literacy_encoded': ['1' nan '2']
مقادیر یونیک در ستون 'studying_encoded': ['2' '1' nan]
مقادیر یونیک در ستون 'degree_encoded': ['4' '5' '1' '2' nan '7' '6' '3' '8' '9']
مقادیر یونیک در ستون 'occupationalst_encoded': ['3' '1' nan '6']
مقادیر یونیک در ستون 'maritalst_encoded': ['1' '4' nan '2' '3']

In [41]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, recall_score, f1_score, classification_report

In [42]:
df_encoded = U98P1.copy()

In [43]:
# بررسی ستون‌ها و جدا کردن داده‌های مفقود و غیر مفقود
df_not_null = df_encoded[df_encoded['studying_encoded'].notnull()]
df_null = df_encoded[df_encoded['studying_encoded'].isnull()]

In [44]:
X = df_not_null.drop(['studying_encoded'], axis=1)
y = df_not_null['studying_encoded']

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [46]:

model = RandomForestClassifier()


model.fit(X_train, y_train)


y_pred = model.predict(X_test)


y_test_nrmeric = y_test.astype(int)
y_pred_nrmeric = y_pred.astype(int)

# محاسبه دقت (accuracy)
accuracy = accuracy_score(y_test_nrmeric, y_pred_nrmeric)
print(f'accuracy: {accuracy}')

# محاسبه recall و F1 Score
recall = recall_score(y_test_nrmeric, y_pred_nrmeric)
f1 = f1_score(y_test_nrmeric, y_pred_nrmeric)

print(f'recall: {recall}')
print(f'F1 Score: {f1}')

accuracy: 0.9686731627356343
recall: 0.9266755142667551
F1 Score: 0.9419898819561552

In [47]:

X_null = df_null.drop(['studying_encoded'], axis=1)


df_null.loc[:, 'studying_encoded'] = model.predict(X_null)


U98P1_filled = pd.concat([df_not_null, df_null])


U98P1_filled.sort_index(inplace=True)


print(U98P1_filled.head())

       Address  member  age relation_encoded gender_encoded literacy_encoded  \
0  10004004223       1   66                1              1                1
1  10004004223       2   61              NaN              2                1
2  10004004220       1   36                1              1                1
3  10004004220       2   33              NaN              2                1
4  10004004220       3   12                3              2                1

  studying_encoded degree_encoded occupationalst_encoded maritalst_encoded
0                2              4                      3                 1
1                2              5                      3                 1
2                2              1                      1                 1
3                2              2                    NaN                 1
4                1              1                    NaN                 4

In [48]:
missing_percentage = U98P1_filled.isnull().sum() / len(U98P1) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address                    0.000000
member                     0.000000
age                        0.000000
relation_encoded          26.190930
gender_encoded             0.000000
literacy_encoded           8.936918
studying_encoded           0.000000
degree_encoded            19.554546
occupationalst_encoded    61.239651
maritalst_encoded         15.344714
dtype: float64

In [49]:
df_encoded2 = U98P1_filled.copy()

In [50]:

df_not_null = df_encoded2[df_encoded2['literacy_encoded'].notnull()]
df_null = df_encoded2[df_encoded2['literacy_encoded'].isnull()]


X = df_not_null.drop(['literacy_encoded'], axis=1)
y = df_not_null['literacy_encoded']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = RandomForestClassifier()


model.fit(X_train, y_train)


y_pred = model.predict(X_test)




accuracy = accuracy_score(y_test_nrmeric, y_pred_nrmeric)
print(f'accuracy: {accuracy}')





X_null = df_null.drop(['literacy_encoded'], axis=1)


df_null.loc[:, 'literacy_encoded'] = model.predict(X_null)


U98P1_filled = pd.concat([df_not_null, df_null])


U98P1_filled.sort_index(inplace=True)


print(U98P1_filled.head())

accuracy: 0.9686731627356343
       Address  member  age relation_encoded gender_encoded literacy_encoded  \
0  10004004223       1   66                1              1                1
1  10004004223       2   61              NaN              2                1
2  10004004220       1   36                1              1                1
3  10004004220       2   33              NaN              2                1
4  10004004220       3   12                3              2                1

  studying_encoded degree_encoded occupationalst_encoded maritalst_encoded
0                2              4                      3                 1
1                2              5                      3                 1
2                2              1                      1                 1
3                2              2                    NaN                 1
4                1              1                    NaN                 4

In [51]:
missing_percentage = U98P1_filled.isnull().sum() / len(U98P1) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address                    0.000000
member                     0.000000
age                        0.000000
relation_encoded          26.190930
gender_encoded             0.000000
literacy_encoded           0.000000
studying_encoded           0.000000
degree_encoded            19.554546
occupationalst_encoded    61.239651
maritalst_encoded         15.344714
dtype: float64

In [52]:
df_encoded3 = U98P1_filled.copy()

In [53]:

df_not_null = df_encoded3[df_encoded3['degree_encoded'].notnull()]
df_null = df_encoded3[df_encoded3['degree_encoded'].isnull()]


X = df_not_null.drop(['degree_encoded'], axis=1)
y = df_not_null['degree_encoded']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = RandomForestClassifier()


model.fit(X_train, y_train)


y_pred = model.predict(X_test)


print(f'accuracy for degree_encoded: {accuracy_score(y_test, y_pred)}')


X_null = df_null.drop(['degree_encoded'], axis=1)


df_null.loc[:, 'degree_encoded'] = model.predict(X_null)


U98P1_filled = pd.concat([df_not_null, df_null])


U98P1_filled.sort_index(inplace=True)


print(U98P1_filled.head())

accuracy for degree_encoded: 0.43306010928961747
       Address  member  age relation_encoded gender_encoded literacy_encoded  \
0  10004004223       1   66                1              1                1
1  10004004223       2   61              NaN              2                1
2  10004004220       1   36                1              1                1
3  10004004220       2   33              NaN              2                1
4  10004004220       3   12                3              2                1

  studying_encoded degree_encoded occupationalst_encoded maritalst_encoded
0                2              4                      3                 1
1                2              5                      3                 1
2                2              1                      1                 1
3                2              2                    NaN                 1
4                1              1                    NaN                 4

In [54]:
missing_percentage = U98P1_filled.isnull().sum() / len(U98P1) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address                    0.000000
member                     0.000000
age                        0.000000
relation_encoded          26.190930
gender_encoded             0.000000
literacy_encoded           0.000000
studying_encoded           0.000000
degree_encoded             0.000000
occupationalst_encoded    61.239651
maritalst_encoded         15.344714
dtype: float64

In [55]:
df_encoded4 = U98P1_filled.copy()

In [56]:

df_not_null = df_encoded4[df_encoded4['occupationalst_encoded'].notnull()]
df_null = df_encoded4[df_encoded4['occupationalst_encoded'].isnull()]


X = df_not_null.drop(['occupationalst_encoded'], axis=1)
y = df_not_null['occupationalst_encoded']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = RandomForestClassifier()


model.fit(X_train, y_train)


y_pred = model.predict(X_test)


print(f'accuracy for occupationalst_encoded : {accuracy_score(y_test, y_pred)}')


X_null = df_null.drop(['occupationalst_encoded'], axis=1)


df_null.loc[:, 'occupationalst_encoded'] = model.predict(X_null)


U98P1_filled = pd.concat([df_not_null, df_null])


U98P1_filled.sort_index(inplace=True)


print(U98P1_filled.head())

accuracy for occupationalst_encoded : 0.8178038178038178
       Address  member  age relation_encoded gender_encoded literacy_encoded  \
0  10004004223       1   66                1              1                1
1  10004004223       2   61              NaN              2                1
2  10004004220       1   36                1              1                1
3  10004004220       2   33              NaN              2                1
4  10004004220       3   12                3              2                1

  studying_encoded degree_encoded occupationalst_encoded maritalst_encoded
0                2              4                      3                 1
1                2              5                      3                 1
2                2              1                      1                 1
3                2              2                      1                 1
4                1              1                      1                 4

In [57]:
missing_percentage = U98P1_filled.isnull().sum() / len(U98P1) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address                    0.000000
member                     0.000000
age                        0.000000
relation_encoded          26.190930
gender_encoded             0.000000
literacy_encoded           0.000000
studying_encoded           0.000000
degree_encoded             0.000000
occupationalst_encoded     0.000000
maritalst_encoded         15.344714
dtype: float64

In [58]:
df_encoded5 = U98P1_filled.copy()

In [59]:

df_not_null = df_encoded5[df_encoded5['maritalst_encoded'].notnull()]
df_null = df_encoded5[df_encoded5['maritalst_encoded'].isnull()]


X = df_not_null.drop(['maritalst_encoded'], axis=1)
y = df_not_null['maritalst_encoded']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = RandomForestClassifier()


model.fit(X_train, y_train)


y_pred = model.predict(X_test)


print(f'Accuracy for maritalst_encoded : {accuracy_score(y_test, y_pred)}')


X_null = df_null.drop(['maritalst_encoded'], axis=1)


df_null.loc[:, 'maritalst_encoded'] = model.predict(X_null)


U98P1_filled = pd.concat([df_not_null, df_null])


U98P1_filled.sort_index(inplace=True)


print(U98P1_filled.head())

Accuracy for maritalst_encoded : 0.9393336218087408
       Address  member  age relation_encoded gender_encoded literacy_encoded  \
0  10004004223       1   66                1              1                1
1  10004004223       2   61              NaN              2                1
2  10004004220       1   36                1              1                1
3  10004004220       2   33              NaN              2                1
4  10004004220       3   12                3              2                1

  studying_encoded degree_encoded occupationalst_encoded maritalst_encoded
0                2              4                      3                 1
1                2              5                      3                 1
2                2              1                      1                 1
3                2              2                      1                 1
4                1              1                      1                 4

In [60]:
missing_percentage = U98P3S01.isnull().sum() / len(U98P3S01) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address       0.000000
code          0.000000
purchased     0.000000
gram         75.107494
kilogram     24.423785
price         8.941440
value         0.000000
dtype: float64

In [61]:
U98P3S01_cleaned = U98P3S01.dropna(subset=['price', 'value'])

In [62]:

U98P3S01_cleaned['calculated_amount'] = U98P3S01_cleaned['value'] / U98P3S01_cleaned['price']


U98P3S01_cleaned['calculated_kg'] = U98P3S01_cleaned['calculated_amount'].apply(np.floor)
U98P3S01_cleaned['calculated_gram'] = (U98P3S01_cleaned['calculated_amount'] % 1) * 1000


U98P3S01_cleaned['kilogram'] = U98P3S01_cleaned['kilogram'].fillna(U98P3S01_cleaned['calculated_kg'])
U98P3S01_cleaned['gram'] = U98P3S01_cleaned['gram'].fillna(U98P3S01_cleaned['calculated_gram'])

C:\Users\Admin\AppData\Local\Temp\ipykernel_17596\1060726189.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U98P3S01_cleaned['calculated_amount'] = U98P3S01_cleaned['value'] / U98P3S01_cleaned['price']
C:\Users\Admin\AppData\Local\Temp\ipykernel_17596\1060726189.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U98P3S01_cleaned['calculated_kg'] = U98P3S01_cleaned['calculated_amount'].apply(np.floor)
C:\Users\Admin\AppData\Local\Temp\ipykernel_17596\1060726189.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U98P3S01_cleaned['calculated_gram'] = (U98P3S01_cleaned['calculated_amount'] % 1) * 1000
C:\Users\Admin\AppData\Local\Temp\ipykernel_17596\1060726189.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U98P3S01_cleaned['kilogram'] = U98P3S01_cleaned['kilogram'].fillna(U98P3S01_cleaned['calculated_kg'])
C:\Users\Admin\AppData\Local\Temp\ipykernel_17596\1060726189.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U98P3S01_cleaned['gram'] = U98P3S01_cleaned['gram'].fillna(U98P3S01_cleaned['calculated_gram'])

In [63]:
missing_percentage = U98P3S01_cleaned.isnull().sum() / len(U98P3S01_cleaned) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address              0.0
code                 0.0
purchased            0.0
gram                 0.0
kilogram             0.0
price                0.0
value                0.0
calculated_amount    0.0
calculated_kg        0.0
calculated_gram      0.0
dtype: float64

In [64]:

numerical_columns = U98P3S01_cleaned.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)

ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'kilogram', 'price', 'value',
       'calculated_amount', 'calculated_kg', 'calculated_gram'],
      dtype='object')

In [65]:
missing_percentage = U98P3S02.isnull().sum() / len(U98P3S02) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address        0.000000
code           0.000000
purchased      0.000000
gram         100.000000
kilogram      16.177256
price         16.203951
value          0.000000
dtype: float64

In [66]:
U98P3S02_cleaned = U98P3S02.dropna(subset=['price'])

In [67]:

U98P3S02_cleaned['calculated_amount'] = U98P3S02_cleaned['value'] / U98P3S02_cleaned['price']


U98P3S02_cleaned['calculated_kg'] = U98P3S02_cleaned['calculated_amount'].apply(np.floor)
U98P3S02_cleaned['calculated_gram'] = (U98P3S02_cleaned['calculated_amount'] % 1) * 1000


U98P3S02_cleaned['kilogram'] = U98P3S02_cleaned['kilogram'].fillna(U98P3S02_cleaned['calculated_kg'])
U98P3S02_cleaned['gram'] = U98P3S02_cleaned['gram'].fillna(U98P3S02_cleaned['calculated_gram'])

C:\Users\Admin\AppData\Local\Temp\ipykernel_17596\47346988.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U98P3S02_cleaned['calculated_amount'] = U98P3S02_cleaned['value'] / U98P3S02_cleaned['price']
C:\Users\Admin\AppData\Local\Temp\ipykernel_17596\47346988.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U98P3S02_cleaned['calculated_kg'] = U98P3S02_cleaned['calculated_amount'].apply(np.floor)
C:\Users\Admin\AppData\Local\Temp\ipykernel_17596\47346988.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U98P3S02_cleaned['calculated_gram'] = (U98P3S02_cleaned['calculated_amount'] % 1) * 1000
C:\Users\Admin\AppData\Local\Temp\ipykernel_17596\47346988.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U98P3S02_cleaned['kilogram'] = U98P3S02_cleaned['kilogram'].fillna(U98P3S02_cleaned['calculated_kg'])
C:\Users\Admin\AppData\Local\Temp\ipykernel_17596\47346988.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U98P3S02_cleaned['gram'] = U98P3S02_cleaned['gram'].fillna(U98P3S02_cleaned['calculated_gram'])

In [68]:
missing_percentage = U98P3S01_cleaned.isnull().sum() / len(U98P3S01_cleaned) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address              0.0
code                 0.0
purchased            0.0
gram                 0.0
kilogram             0.0
price                0.0
value                0.0
calculated_amount    0.0
calculated_kg        0.0
calculated_gram      0.0
dtype: float64

In [69]:

numerical_columns = U98P3S01_cleaned.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)

ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'kilogram', 'price', 'value',
       'calculated_amount', 'calculated_kg', 'calculated_gram'],
      dtype='object')

In [70]:
missing_percentage = U98P3S02.isnull().sum() / len(U98P3S02) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address        0.000000
code           0.000000
purchased      0.000000
gram         100.000000
kilogram      16.177256
price         16.203951
value          0.000000
dtype: float64

In [71]:
U98P3S02_cleaned = U98P3S02.dropna(subset=['price'])

In [72]:

U98P3S02_cleaned['calculated_amount'] = U98P3S02_cleaned['value'] / U98P3S02_cleaned['price']


U98P3S02_cleaned['calculated_kg'] = U98P3S02_cleaned['calculated_amount'].apply(np.floor)
U98P3S02_cleaned['calculated_gram'] = (U98P3S02_cleaned['calculated_amount'] % 1) * 1000


U98P3S02_cleaned['kilogram'] = U98P3S02_cleaned['kilogram'].fillna(U98P3S02_cleaned['calculated_kg'])
U98P3S02_cleaned['gram'] = U98P3S02_cleaned['gram'].fillna(U98P3S02_cleaned['calculated_gram'])

C:\Users\Admin\AppData\Local\Temp\ipykernel_17596\47346988.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U98P3S02_cleaned['calculated_amount'] = U98P3S02_cleaned['value'] / U98P3S02_cleaned['price']
C:\Users\Admin\AppData\Local\Temp\ipykernel_17596\47346988.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U98P3S02_cleaned['calculated_kg'] = U98P3S02_cleaned['calculated_amount'].apply(np.floor)
C:\Users\Admin\AppData\Local\Temp\ipykernel_17596\47346988.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U98P3S02_cleaned['calculated_gram'] = (U98P3S02_cleaned['calculated_amount'] % 1) * 1000
C:\Users\Admin\AppData\Local\Temp\ipykernel_17596\47346988.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U98P3S02_cleaned['kilogram'] = U98P3S02_cleaned['kilogram'].fillna(U98P3S02_cleaned['calculated_kg'])
C:\Users\Admin\AppData\Local\Temp\ipykernel_17596\47346988.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U98P3S02_cleaned['gram'] = U98P3S02_cleaned['gram'].fillna(U98P3S02_cleaned['calculated_gram'])

In [73]:
missing_percentage = U98P3S02_cleaned.isnull().sum() / len(U98P3S02_cleaned) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address              0.0
code                 0.0
purchased            0.0
gram                 0.0
kilogram             0.0
price                0.0
value                0.0
calculated_amount    0.0
calculated_kg        0.0
calculated_gram      0.0
dtype: float64

In [74]:
missing_percentage = U98P3S03.isnull().sum() / len(U98P3S03) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [75]:
categorical_columns = U98P3S03.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')

In [76]:
duplicates = U98P3S03.duplicated().sum()
print(duplicates)

0

In [77]:
categorical_columns = U98P3S03.select_dtypes(include=['object']).columns
print(categorical_columns)

Index([], dtype='object')

In [78]:
numerical_columns = U98P3S03.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)

ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')

In [79]:
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = U98P3S03[column].quantile(0.25)
    Q3 = U98P3S03[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((U98P3S03[column] < (Q1 - 1.5 * IQR)) | (U98P3S03[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

تعداد داده‌های پرت در ستون code: 4946
تعداد داده‌های پرت در ستون purchased: 112
تعداد داده‌های پرت در ستون value: 1527

In [80]:
missing_percentage = U98P3S04.isnull().sum() / len(U98P3S04) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address       0.000000
code          0.000000
mortgage     95.953623
purchased    16.124058
value         0.000000
dtype: float64

In [81]:
U98P3S04_cleaned = U98P3S04.dropna(subset=['mortgage'])

In [82]:
missing_percentage = U98P3S04_cleaned.isnull().sum() / len(U98P3S04_cleaned) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
mortgage     0.0
purchased    0.0
value        0.0
dtype: float64

In [83]:
duplicates = U98P3S04_cleaned.duplicated().sum()
print(duplicates)

0

In [84]:
categorical_columns = U98P3S04_cleaned.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

ستون‌های دسته‌بندی‌شده:
Index(['mortgage', 'purchased'], dtype='object')

In [85]:
numerical_columns = U98P3S04_cleaned.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)

ستون‌های عددی:
Index(['Address', 'code', 'value'], dtype='object')

In [86]:
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = U98P3S04_cleaned[column].quantile(0.25)
    Q3 = U98P3S04_cleaned[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((U98P3S04_cleaned[column] < (Q1 - 1.5 * IQR)) | (U98P3S04_cleaned[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

تعداد داده‌های پرت در ستون code: 1
تعداد داده‌های پرت در ستون value: 350

In [87]:
missing_percentage = U98P3S05.isnull().sum() / len(U98P3S05) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [88]:
duplicates = U98P3S05.duplicated().sum()
duplicates

0

In [89]:

categorical_columns = U98P3S05.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')

In [90]:


numerical_columns = U98P3S05.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = U98P3S05[column].quantile(0.25)
    Q3 = U98P3S05[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((U98P3S05[column] < (Q1 - 1.5 * IQR)) | (U98P3S05[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون code: 28021
تعداد داده‌های پرت در ستون purchased: 1237
تعداد داده‌های پرت در ستون value: 6148

In [91]:
missing_percentage = U98P3S06.isnull().sum() / len(U98P3S06) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [92]:
duplicates = U98P3S06.duplicated().sum()
print(duplicates)
categorical_columns = U98P3S06.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = U98P3S06.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = U98P3S06[column].quantile(0.25)
    Q3 = U98P3S06[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((U98P3S06[column] < (Q1 - 1.5 * IQR)) | (U98P3S06[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

0
ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون code: 26
تعداد داده‌های پرت در ستون purchased: 3755
تعداد داده‌های پرت در ستون value: 3947

In [93]:
missing_percentage = U98P3S07.isnull().sum() / len(U98P3S07) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [94]:
duplicates = U98P3S07.duplicated().sum()
print(duplicates)

0

In [95]:
categorical_columns = U98P3S07.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = U98P3S07.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = U98P3S07[column].quantile(0.25)
    Q3 = U98P3S07[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((U98P3S07[column] < (Q1 - 1.5 * IQR)) | (U98P3S07[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون purchased: 180
تعداد داده‌های پرت در ستون value: 3357

In [96]:
missing_percentage = U98P3S05.isnull().sum() / len(U98P3S05) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [97]:
duplicates = U98P3S05.duplicated().sum()
duplicates

0

In [98]:

categorical_columns = U98P3S05.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')

In [99]:


numerical_columns = U98P3S05.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = U98P3S05[column].quantile(0.25)
    Q3 = U98P3S05[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((U98P3S05[column] < (Q1 - 1.5 * IQR)) | (U98P3S05[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون code: 28021
تعداد داده‌های پرت در ستون purchased: 1237
تعداد داده‌های پرت در ستون value: 6148

In [100]:
missing_percentage = U98P3S06.isnull().sum() / len(U98P3S06) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [101]:
duplicates = U98P3S06.duplicated().sum()
print(duplicates)
categorical_columns = U98P3S06.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = U98P3S06.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = U98P3S06[column].quantile(0.25)
    Q3 = U98P3S06[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((U98P3S06[column] < (Q1 - 1.5 * IQR)) | (U98P3S06[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

0
ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون code: 26
تعداد داده‌های پرت در ستون purchased: 3755
تعداد داده‌های پرت در ستون value: 3947

In [102]:
missing_percentage = U98P3S07.isnull().sum() / len(U98P3S07) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [103]:
duplicates = U98P3S07.duplicated().sum()
print(duplicates)

0

In [104]:
categorical_columns = U98P3S07.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = U98P3S07.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = U98P3S07[column].quantile(0.25)
    Q3 = U98P3S07[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((U98P3S07[column] < (Q1 - 1.5 * IQR)) | (U98P3S07[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون purchased: 180
تعداد داده‌های پرت در ستون value: 3357

In [105]:
missing_percentage = U98P3S08.isnull().sum() / len(U98P3S08) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [106]:
duplicates = U98P3S08.duplicated().sum()
print(duplicates)

0

In [107]:
categorical_columns = U98P3S08.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = U98P3S08.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = U98P3S08[column].quantile(0.25)
    Q3 = U98P3S08[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((U98P3S08[column] < (Q1 - 1.5 * IQR)) | (U98P3S08[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون code: 184
تعداد داده‌های پرت در ستون purchased: 12
تعداد داده‌های پرت در ستون value: 2892

In [108]:
missing_percentage = U98P3S09.isnull().sum() / len(U98P3S09) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [109]:
duplicates = U98P3S09.duplicated().sum()
print(duplicates)

0

In [110]:
categorical_columns = U98P3S09.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = U98P3S09.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = U98P3S09[column].quantile(0.25)
    Q3 = U98P3S09[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((U98P3S09[column] < (Q1 - 1.5 * IQR)) | (U98P3S09[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون code: 139
تعداد داده‌های پرت در ستون purchased: 88
تعداد داده‌های پرت در ستون value: 1349

In [111]:
missing_percentage = U98P3S11.isnull().sum() / len(U98P3S11) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [112]:
duplicates = U98P3S11.duplicated().sum()
print(duplicates)

0

In [113]:
categorical_columns = U98P3S11.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = U98P3S11.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = U98P3S11[column].quantile(0.25)
    Q3 = U98P3S11[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((U98P3S11[column] < (Q1 - 1.5 * IQR)) | (U98P3S11[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون code: 372
تعداد داده‌های پرت در ستون purchased: 355
تعداد داده‌های پرت در ستون value: 1698

In [114]:
duplicates = U98P3S12.duplicated().sum()
print(duplicates)

0

In [115]:
categorical_columns = U98P3S12.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = U98P3S12.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = U98P3S12[column].quantile(0.25)
    Q3 = U98P3S12[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((U98P3S12[column] < (Q1 - 1.5 * IQR)) | (U98P3S12[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون code: 1095
تعداد داده‌های پرت در ستون purchased: 659
تعداد داده‌های پرت در ستون value: 6681

In [116]:
missing_percentage = U98P3S13.isnull().sum() / len(U98P3S13) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address    0.000000
code       0.000000
value      0.386118
dtype: float64

In [117]:
U98P3S13 = U98P3S13.dropna(subset=['value'])

In [118]:
duplicates = U98P3S13.duplicated().sum()
print(duplicates)

519

In [119]:
U98P3S13 = U98P3S13.drop_duplicates()

In [120]:
duplicates = U98P3S13.duplicated().sum()
print(duplicates)

0

In [121]:
categorical_columns = U98P3S13.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = U98P3S13.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = U98P3S13[column].quantile(0.25)
    Q3 = U98P3S13[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((U98P3S13[column] < (Q1 - 1.5 * IQR)) | (U98P3S13[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های دسته‌بندی‌شده:
Index(['value'], dtype='object')
ستون‌های عددی:
Index(['Address', 'code'], dtype='object')

In [122]:
missing_percentage = U98P3S14.isnull().sum() / len(U98P3S14) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.000000
code         0.000000
purchased    2.506775
value        2.608401
dtype: float64

In [123]:
U98P3S14 = U98P3S14.dropna(subset=['purchased','value'])

In [124]:
missing_percentage = U98P3S14.isnull().sum() / len(U98P3S14) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [125]:
duplicates = U98P3S14.duplicated().sum()
print(duplicates)

0

In [126]:
categorical_columns = U98P3S14.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = U98P3S14.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = U98P3S14[column].quantile(0.25)
    Q3 = U98P3S14[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((U98P3S14[column] < (Q1 - 1.5 * IQR)) | (U98P3S14[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های دسته‌بندی‌شده:
Index(['purchased'], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'value'], dtype='object')
تعداد داده‌های پرت در ستون value: 532

In [127]:
missing_percentage = U98P4S01.isnull().sum() / len(U98P4S01) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address            0.000000
member             0.000000
employed_w         0.000000
ISCO_w             0.000000
ISIC_w             0.000000
status_w           0.000000
hours_w            7.032536
days_w             7.032536
income_w_m         0.000000
income_w_y         0.000000
wage_w_m           0.078401
wage_w_y           0.031360
perk_w_m           0.078401
perk_w_y           0.031360
netincome_w_m      0.000000
netincome_w_y      0.000000
Fasl               0.000000
year               0.000000
DYCOL00          100.000000
dtype: float64

In [128]:
U98P4S01 = U98P4S01.drop(columns='DYCOL00')

In [129]:

U98P4S01_cleaned = U98P4S01.dropna(subset=['hours_w','days_w','wage_w_m','wage_w_y','perk_w_m','perk_w_y'])

In [130]:
missing_percentage = U98P4S01_cleaned.isnull().sum() / len(U98P4S01_cleaned) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address          0.0
member           0.0
employed_w       0.0
ISCO_w           0.0
ISIC_w           0.0
status_w         0.0
hours_w          0.0
days_w           0.0
income_w_m       0.0
income_w_y       0.0
wage_w_m         0.0
wage_w_y         0.0
perk_w_m         0.0
perk_w_y         0.0
netincome_w_m    0.0
netincome_w_y    0.0
Fasl             0.0
year             0.0
dtype: float64

In [131]:
missing_percentage = U98P4S02.isnull().sum() / len(U98P4S02) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address              0.000000
member               0.013676
employed_s           0.013676
ISCO_s               0.027352
ISIC_s               0.027352
status_s             0.013676
agriculture          0.013676
hours_s              2.270241
days_s               2.256565
cost_employment     13.388950
cost_raw             2.666849
cost_machinery       6.031182
cost_others          3.801969
cost_tax            12.472648
sale                 0.601751
income_s_y           0.013676
Fasl                 0.000000
year                 0.000000
DYCOL00            100.000000
dtype: float64

In [132]:
U98P4S02 = U98P4S02.drop(columns='DYCOL00')

In [133]:
U98P4S02_cleaned = U98P4S02.dropna(subset=['member','employed_s','ISCO_s','ISIC_s','hours_s','cost_raw','cost_others','sale'])

In [134]:
missing_percentage = U98P4S02_cleaned.isnull().sum() / len(U98P4S02_cleaned) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address            0.000000
member             0.000000
employed_s         0.000000
ISCO_s             0.000000
ISIC_s             0.000000
status_s           0.000000
agriculture        0.000000
hours_s            0.000000
days_s             0.000000
cost_employment    9.697326
cost_raw           0.000000
cost_machinery     3.129592
cost_others        0.000000
cost_tax           8.536585
sale               0.000000
income_s_y         0.000000
Fasl               0.000000
year               0.000000
dtype: float64

In [135]:
U98P4S02_cleaned = U98P4S02.dropna(subset=['cost_employment','cost_machinery','cost_tax'])

In [136]:
missing_percentage = U98P4S03.isnull().sum() / len(U98P4S03) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address              0.000000
member               0.000000
income_pension      53.404400
income_rent         68.307467
income_interest     37.816795
income_aid          52.317500
income_resale       72.827507
income_transfer     55.954434
Fasl                 0.000000
year                 0.000000
DYCOL00            100.000000
dtype: float64

In [137]:
U98P4S03 = U98P4S03.drop(columns='DYCOL00')

In [138]:
U98P4S03_cleaned = U98P4S03.dropna(subset=['member'])

In [139]:
print(U98P4S03_cleaned.dtypes)

Address              int64
member               int64
income_pension      object
income_rent         object
income_interest    float64
income_aid         float64
income_resale      float64
income_transfer    float64
Fasl                 int64
year                 int64
dtype: object

In [140]:
U98P4S03_cleaned = U98P4S03_cleaned.apply(pd.to_numeric, errors='coerce')

In [141]:
df_encoded7 = U98P4S03_cleaned.copy()

In [142]:
df_not_null = df_encoded7[df_encoded7['income_aid'].notnull()]
df_null = df_encoded7[df_encoded7['income_aid'].isnull()]


X = df_not_null.drop(['income_aid'], axis=1)
y = df_not_null['income_aid']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = RandomForestClassifier()


model.fit(X_train, y_train)


y_pred = model.predict(X_test)


print(f'Accuracy for income_aid : {accuracy_score(y_test, y_pred)}')


X_null = df_null.drop(['income_aid'], axis=1)


df_null.loc[:, 'income_aid'] = model.predict(X_null)


U98P4S03_filled = pd.concat([df_not_null, df_null])


U98P4S03_filled.sort_index(inplace=True)


#print(U98P4S031_filled.head())

Accuracy for income_aid : 0.4438356164383562

In [143]:
missing_percentage = U98P4S04.isnull().sum() / len(U98P4S04) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address             0.0
member              0.0
subsidy_number      0.0
subsidy_month       0.0
subsidy             0.0
Fasl                0.0
year                0.0
DYCOL00           100.0
dtype: float64

In [144]:
U98P4S04 = U98P4S04.drop(columns='DYCOL00')

In [145]:
U98P4S04_cleaned = U98P4S04.dropna(subset=['subsidy_number','subsidy_month','subsidy'])

In [149]:

data_frames = {
    'U98Data': U98Data_cleaned,
    'R99P1': U98P1_filled,
    'R99P2': U98P2,
    'Food': U98P3S01_cleaned,
    'Tobacco': U98P3S02_cleaned,
    'Clothing': U98P3S03,
    'Housing': U98P3S04_cleaned,
    'Furniture': U98P3S05,
    'Health': U98P3S06,
    'Transport': U98P3S07,
    'Communication': U98P3S08,
    'Recreation': U98P3S09,
    'Education': U98P3S11,
    'Hotel': U98P3S12,
    'Miscellaneous': U98P3S13,
    'Investment': U98P3S14,
    'U98P4S01': U98P4S01_cleaned,
    'U98P4S02': U98P4S02_cleaned,
    'U98P4S03': U98P4S03_cleaned,
    'U98P4S04': U98P4S04_cleaned
}

In [150]:

with pd.ExcelWriter('cleaned_data_final_u98.xlsx') as writer:
    for sheet_name, df in data_frames.items():
        df.to_excel(writer, sheet_name=sheet_name, index=False)