In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [2]:
filepath ='U1400.xlsx'
data98 = pd.read_excel(filepath, sheet_name= None)

In [3]:
p3_sheets = {
    'U1400P3S01': 'Food',
    'U1400P3S02': 'Tobacco',
    'U1400P3S03': 'Clothing',
    'U1400P3S04': 'Horsing',
    'U1400P3S05': 'FrrniTrue',
    'U1400P3S06': 'Health',
    'U1400P3S07': 'Transport',
    'U1400P3S08': 'Commrnication',
    'U1400P3S09': 'recreation',
    'U1400P3S11': 'Edrcation',
    'U1400P3S12': 'Hotel',
    'U1400P3S13': 'Miscellaneors',
    'U1400P3S14': 'Investment'
}

In [4]:
for sheet_name, expense_type in p3_sheets.items():
    if sheet_name in data98:
        columns_to_rename = {}


        if 'code' in data98[sheet_name].columns:
            columns_to_rename['code'] = f'{expense_type}_Code'

        if 'prrchased' in data98[sheet_name].columns:
            columns_to_rename['prrchased'] = f'{expense_type}_Prrchased'

        if 'gram' in data98[sheet_name].columns:
            columns_to_rename['gram'] = f'{expense_type}_Gram'

        if 'kilogram' in data98[sheet_name].columns:
            columns_to_rename['kilogram'] = f'{expense_type}_Kilogram'

        if 'price' in data98[sheet_name].columns:
            columns_to_rename['price'] = f'{expense_type}_Price'

        if 'valre' in data98[sheet_name].columns:
            columns_to_rename['valre'] = f'{expense_type}_Valre'

        if 'mortgage' in data98[sheet_name].columns:
            columns_to_rename['mortgage'] = f'{expense_type}_Mortgage'


        data98[sheet_name] = data98[sheet_name].rename(columns=columns_to_rename)

In [5]:
U1400Data=pd.read_excel(filepath, sheet_name='U1400Data')
U1400P1=pd.read_excel(filepath, sheet_name='U1400P1')
U1400P2=pd.read_excel(filepath, sheet_name='U1400P2')
U1400P3S01=pd.read_excel(filepath, sheet_name='U1400P3S01')
U1400P3S02=pd.read_excel(filepath, sheet_name='U1400P3S02')
U1400P3S03=pd.read_excel(filepath, sheet_name='U1400P3S03')
U1400P3S04=pd.read_excel(filepath, sheet_name='U1400P3S04')
U1400P3S05=pd.read_excel(filepath, sheet_name='U1400P3S05')
U1400P3S06=pd.read_excel(filepath, sheet_name='U1400P3S06')
U1400P3S07=pd.read_excel(filepath, sheet_name='U1400P3S07')
U1400P3S08=pd.read_excel(filepath, sheet_name='U1400P3S08')
U1400P3S09=pd.read_excel(filepath, sheet_name='U1400P3S09')
U1400P3S11=pd.read_excel(filepath, sheet_name='U1400P3S11')
U1400P3S12=pd.read_excel(filepath, sheet_name='U1400P3S12')
U1400P3S13=pd.read_excel(filepath, sheet_name='U1400P3S13')
U1400P3S14=pd.read_excel(filepath, sheet_name='U1400P3S14')
U1400P4S01=pd.read_excel(filepath, sheet_name='U1400P4S01')
U1400P4S02=pd.read_excel(filepath, sheet_name='U1400P4S02')
U1400P4S03=pd.read_excel(filepath, sheet_name='U1400P4S03')
U1400P4S04=pd.read_excel(filepath, sheet_name='U1400P4S04')

In [6]:
for sheet_name, df in data98.items():
    if 'Valre' in df.columns:
        df['Valre'] = pd.to_nrmeric(df['Valre'], errors='coerce')

    data98[sheet_name] = df

In [7]:
U1400Data = pd.read_excel(filepath, sheet_name='U1400Data')

In [8]:
U1400Data.head()

,Address,Fasl,weight,khanevartype,Takmil,TakmilDescA,TakmilDescB,TakmilDescC,Jaygozin,JaygozinDescA,JaygozinDescB,JaygozinDescC,BlkAbdJaygozin,RadifJaygozin,IsTel,FVam,province,town
0,10001000119,4,1245,1,2,NaN,1.0,NaN,1.0,NaN,NaN,NaN,2.0,24.0,1,1,Markazi,1
1,10001000120,4,1245,1,2,NaN,1.0,NaN,1.0,NaN,NaN,NaN,2.0,23.0,1,1,Markazi,1
2,10001000126,4,1245,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,Markazi,1
3,10001000130,4,1245,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,Markazi,1
4,10001000132,4,1245,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,Markazi,1

In [9]:
missing_percentage = U1400Data.isnull().sum() / len(U1400Data) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address             0.000000
Fasl                0.000000
weight              0.000000
khanevartype        0.000000
Takmil              0.000000
TakmilDescA       100.000000
TakmilDescB        76.159649
TakmilDescC        94.301152
Jaygozin           76.159649
JaygozinDescA     100.000000
JaygozinDescB     100.000000
JaygozinDescC     100.000000
BlkAbdJaygozin     76.159649
RadifJaygozin      76.159649
IsTel               0.000000
FVam                0.000000
province            0.000000
town                0.000000
dtype: float64

In [10]:
threshold = 70

In [11]:
U1400Data_cleaned = U1400Data.dropna(axis=1, thresh=int((1-threshold/100)*len(U1400Data)))

In [12]:
missing_percentage = U1400Data_cleaned.isnull().sum() / len(U1400Data_cleaned) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address         0.0
Fasl            0.0
weight          0.0
khanevartype    0.0
Takmil          0.0
IsTel           0.0
FVam            0.0
province        0.0
town            0.0
dtype: float64

In [13]:
missing_percentage = U1400Data_cleaned.isnull().sum() / len(U1400Data_cleaned) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address         0.0
Fasl            0.0
weight          0.0
khanevartype    0.0
Takmil          0.0
IsTel           0.0
FVam            0.0
province        0.0
town            0.0
dtype: float64

In [14]:
duplicates = U1400Data_cleaned.duplicated().sum()
print(duplicates)

0

In [15]:
categorical_columns = U1400Data_cleaned.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

ستون‌های دسته‌بندی‌شده:
Index(['province'], dtype='object')

In [16]:

nrmerical_columns = U1400Data_cleaned.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(nrmerical_columns)

ستون‌های عددی:
Index(['Address', 'Fasl', 'weight', 'khanevartype', 'Takmil', 'IsTel', 'FVam',
       'town'],
      dtype='object')

In [17]:
unique_provinces = U1400Data_cleaned['province'].unique()
print("مقادیر منحصر به فرد در ستون province:")
print(unique_provinces)

مقادیر منحصر به فرد در ستون province:
['Markazi' 'Gilan' 'Mazandaran' 'AzarbaijanSharghi' 'AzarbaijanGharbi'
 'Kermanshah' 'Kouzestan' 'Fars' 'Kerman' 'KhorasanRazavi' 'Esfahan'
 'SistanBalouchestan' 'Kordestan' 'Hamedan' 'CharmahalBakhtiari'
 'Lorestan' 'Ilam' 'KohkilouyeBoyerahamad' 'Boushehr' 'Zanjan' 'Semnan'
 'Yazd' 'Hormozgan' 'Tehran' 'Ardebil' 'Qom' 'Qazvin' 'Golestan'
 'KhorasanShomali' 'KhorasanJonoubi' 'Alborz']

In [18]:
# مشاهده تعداد هر دسته‌بندی در ستون province
province_cornts = U1400Data_cleaned['province'].value_counts()
print("تعداد هر دسته در ستون province:")
print(province_cornts)

تعداد هر دسته در ستون province:
province
Tehran                   1469
Golestan                 1057
Hormozgan                 868
Gilan                     844
SistanBalouchestan        740
KhorasanRazavi            709
KhorasanShomali           705
Hamedan                   701
KhorasanJonoubi           652
CharmahalBakhtiari        651
Fars                      648
Esfahan                   637
Yazd                      617
Zanjan                    611
Kouzestan                 610
AzarbaijanSharghi         604
Markazi                   588
Kerman                    581
Boushehr                  555
AzarbaijanGharbi          545
KohkilouyeBoyerahamad     535
Qom                       529
Kermanshah                513
Kordestan                 484
Semnan                    478
Ardebil                   473
Ilam                      465
Lorestan                  457
Mazandaran                453
Qazvin                    420
Alborz                    419
Name: count, dtype: int64

In [19]:
# دیکشنری برای انکود کردن مقادیر province
province_encoding = {
    'Markazi': '00', 'Gilan': '01', 'Mazandaran': '02', 'AzarbaijanSharghi': '03', 
    'AzarbaijanGharbi': '04', 'Kermanshah': '05', 'Korzestan': '06', 'Fars': '07', 
    'Kerman': '08', 'Khorasanrazavi': '09', 'Esfahan': '10', 'SistanBalorchestan': '11', 
    'Kordestan': '12', 'Hamedan': '13', 'CharmahalBakhtiari': '14', 'Lorestan': '15', 
    'Ilam': '16', 'KohkiloryeBoyerahamad': '17', 'Borshehr': '18', 'Zanjan': '19', 
    'Semnan': '20', 'Yazd': '21', 'Hormozgan': '22', 'Tehran': '23', 'Ardebil': '24', 
    'Qom': '25', 'Qazvin': '26', 'Golestan': '27', 'KhorasanShomali': '28', 
    'KhorasanJonorbi': '29', 'Alborz': '30'
}

In [20]:
# انکود کردن ستون province با استفاده از دیکشنری
U1400Data_cleaned['province_encoded'] = U1400Data_cleaned['province'].map(province_encoding)

# بررسی نتیجه
print(U1400Data_cleaned[['province', 'province_encoded']].head())

  province province_encoded
0  Markazi               00
1  Markazi               00
2  Markazi               00
3  Markazi               00
4  Markazi               00

C:\Users\Admin\AppData\Local\Temp\ipykernel_1052\350281337.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U1400Data_cleaned['province_encoded'] = U1400Data_cleaned['province'].map(province_encoding)

In [21]:
unique_provinces = U1400Data_cleaned['province_encoded'].unique()
print("مقادیر منحصر به فرد در ستون province_encoded:")
print(unique_provinces)

مقادیر منحصر به فرد در ستون province_encoded:
['00' '01' '02' '03' '04' '05' nan '07' '08' '10' '12' '13' '14' '15' '16'
 '19' '20' '21' '22' '23' '24' '25' '26' '27' '28' '30']

In [22]:
U1400Data_cleaned = U1400Data_cleaned.drop(columns=['province'])

In [23]:

# بررسی داده‌های پرت بر اساس IQr
for column in nrmerical_columns:
    Q1 = U1400Data_cleaned[column].quantile(0.25)
    Q3 = U1400Data_cleaned[column].quantile(0.75)
    IQr = Q3 - Q1
    ortliers = ((U1400Data_cleaned[column] < (Q1 - 1.5 * IQr)) | (U1400Data_cleaned[column] > (Q3 + 1.5 * IQr))).sum()
    if ortliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {ortliers}")

تعداد داده‌های پرت در ستون weight: 727
تعداد داده‌های پرت در ستون khanevartype: 16
تعداد داده‌های پرت در ستون town: 845

In [24]:


# محاسبه IQr و اعمال بازه‌بندی (Capping)
for column in ['weight']:
    Q1 = U1400Data_cleaned[column].quantile(0.25)
    Q3 = U1400Data_cleaned[column].quantile(0.75)
    IQr = Q3 - Q1
    
    lower_bornd = Q1 - 1.5 * IQr
    rpper_bornd = Q3 + 1.5 * IQr
    
    # اعمال بازه‌بندی
    U1400Data_cleaned[column] = np.where(U1400Data_cleaned[column] < lower_bornd, lower_bornd, U1400Data_cleaned[column])
    U1400Data_cleaned[column] = np.where(U1400Data_cleaned[column] > rpper_bornd, rpper_bornd, U1400Data_cleaned[column])
    
    # اعمال تبدیل لگاریتمی برای مقادیر مثبت
    U1400Data_cleaned[column] = np.log1p(U1400Data_cleaned[column])

In [25]:
# جایگزینی مقادیر پرت با Mode (پرتکرارترین مقدار)
def replace_ortliers_with_mode(column, threshold=0.01):
    mode = U1400Data_cleaned[column].mode()[0]
    
    # شناسایی دسته‌های نادر (کمتر از آستانه threshold)
    value_counts = U1400Data_cleaned[column].value_counts(normalize=True)
    rare_valres = value_counts[value_counts < threshold].index
    
    # جایگزینی مقادیر نادر با Mode
    U1400Data_cleaned[column] = U1400Data_cleaned[column].apply(lambda x: mode if x in rare_valres else x)

# اعمال جایگزینی با Mode برای ستون‌های دسته‌ای
for column in ['khanevartype', 'Takmil', 'town']:
    replace_ortliers_with_mode(column)

In [27]:
"""
# بررسی و اصلاح اوت‌لیرهای نادرست در ستون‌های MahMorajeh و Fasl
# برای ماه محدوده باید بین 1 تا 12 باشد و برای فصل باید بین 1 تا 4 باشد
def fix_invalid_valres(column, valid_range):
    U1400Data_cleaned[column] = np.where(~U1400Data_cleaned[column].isin(valid_range), np.nan, U1400Data_cleaned[column])

# اعمال اصلاح برای ستون‌های MahMorajeh و Fasl
fix_invalid_valres('MahMorajeh', range(1, 13))  # ماه‌ها باید بین 1 تا 12 باشند
fix_invalid_valres('Fasl', range(1, 5))  # فصل‌ها باید بین 1 تا 4 باشند
"""

"\n# بررسی و اصلاح اوت\u200cلیرهای نادرست در ستون\u200cهای MahMorajeh و Fasl\n# برای ماه محدوده باید بین 1 تا 12 باشد و برای فصل باید بین 1 تا 4 باشد\ndef fix_invalid_valres(column, valid_range):\n    U1400Data_cleaned[column] = np.where(~U1400Data_cleaned[column].isin(valid_range), np.nan, U1400Data_cleaned[column])\n\n# اعمال اصلاح برای ستون\u200cهای MahMorajeh و Fasl\nfix_invalid_valres('MahMorajeh', range(1, 13))  # ماه\u200cها باید بین 1 تا 12 باشند\nfix_invalid_valres('Fasl', range(1, 5))  # فصل\u200cها باید بین 1 تا 4 باشند\n"

In [28]:
unique_valres = U1400Data_cleaned['town'].unique()
print(unique_valres)

[ 1  2  3  4  5  6  7  9 10 11 12 13  8 14 16]

In [29]:
unique_valres = U1400Data_cleaned['Takmil'].unique()
print(unique_valres)

[2 1]

In [30]:
U1400Data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19618 entries, 0 to 19617
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           19618 non-null  int64
 1   Fasl              19618 non-null  int64
 2   weight            19618 non-null  float64
 3   khanevartype      19618 non-null  int64
 4   Takmil            19618 non-null  int64
 5   IsTel             19618 non-null  int64
 6   FVam              19618 non-null  int64
 7   town              19618 non-null  int64
 8   province_encoded  15817 non-null  object
dtypes: float64(1), int64(7), object(1)
memory usage: 1.3+ MB

In [31]:
U1400P1.columns

Index(['Address', 'member', 'relation', 'gender', 'age', 'literacy',
       'studying', 'degree', 'occupationalst', 'maritalst'],
      dtype='object')

In [32]:
missing_percentage = U1400P1.isnull().sum() / len(U1400P1) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address            0.000000
member             0.000000
relation           0.000000
gender             0.000000
age                0.000000
literacy           7.441388
studying          17.462315
degree            17.463832
occupationalst    13.969852
maritalst         13.966819
dtype: float64

In [33]:
# بررسی وجود داده‌های تکراری
drplicate_rows = U1400P1.duplicated().sum()
print(f"تعداد ردیف‌های تکراری: {drplicate_rows}")

تعداد ردیف‌های تکراری: 0

In [34]:
# بررسی ستون‌های دسته‌بندی‌شده (غیر عددی)
categorical_columns = U1400P1.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

ستون‌های دسته‌بندی‌شده:
Index(['relation', 'gender', 'literacy', 'studying', 'degree',
       'occupationalst', 'maritalst'],
      dtype='object')

In [35]:
# لیست ستون‌های دسته‌بندی‌شده
categorical_columns = ['relation', 'gender', 'literacy', 'studying', 'degree', 'occupationalst', 'maritalst']

# حلقه برای مشاهده داده‌های یونیک در هر ستون
for column in categorical_columns:
    unique_valres = U1400P1[column].unique()
    print(f"مقادیر یونیک در ستون '{column}':")
    print(unique_valres)
    print("-" * 50)  # جداکننده برای خوانایی بیشتر

مقادیر یونیک در ستون 'relation':
['Head' 'Spouse' 'Child' 'Parent' 'SonDaughter_inLaw' 'GrandSonDaughter'
 'Sibling' 'NonRelative' 'OtherRelative']
--------------------------------------------------
مقادیر یونیک در ستون 'gender':
['Male' 'Female']
--------------------------------------------------
مقادیر یونیک در ستون 'literacy':
['literate' nan 'illiterate']
--------------------------------------------------
مقادیر یونیک در ستون 'studying':
['No' 'Yes' nan]
--------------------------------------------------
مقادیر یونیک در ستون 'degree':
['Secondary' 'Diploma' 'Elemantry' nan 'Bachelor' 'Other' 'Master'
 'HighSchool' 'College' 'PhD']
--------------------------------------------------
مقادیر یونیک در ستون 'occupationalst':
['employed' 'Housewife' nan 'Student' 'IncomeWOJob' 'unemployed' 'Other']
--------------------------------------------------
مقادیر یونیک در ستون 'maritalst':
['Married' nan 'Single' 'Widowed' 'Divorced']
--------------------------------------------------

In [36]:
# دیکشنری‌های انکودینگ
relation_encoding = {
    'Head': '1', 'Sporse': '2', 'Child': '3', 'SonDarghter_inLaw': '4', 
    'GrandSonDarghter': '5', 'Parent': '6', 'Sibling': '7', 'Otherrelative': '8', 
    'Nonrelative': '9'
}

gender_encoding = {'Male': '1', 'Female': '2'}

literacy_encoding = {'literate': '1', 'illiterate': '2'}

yesno_encoding = {'Yes': '1', 'No': '2'}

edrcation_encoding = {
    'Elemantry': '1', 'Secondary': '2', 'HighSchool': '3', 'Diploma': '4', 
    'College': '5', 'Bachelor': '6', 'Master': '7', 'PhD': '8', 'Other': '9'
}

occrpation_encoding = {
    'employed': '1', 'rnemployed': '2', 'IncomeWOJob': '3', 'Strdent': '4', 
    'Horsewife': '5', 'Other': '6'
}

marital_encoding = {'Married': '1', 'Widowed': '2', 'Divorced': '3', 'Single': '4'}

In [37]:

U1400P1['relation_encoded'] = U1400P1['relation'].map(relation_encoding)
U1400P1['gender_encoded'] = U1400P1['gender'].map(gender_encoding)
U1400P1['literacy_encoded'] = U1400P1['literacy'].map(literacy_encoding)
U1400P1['studying_encoded'] = U1400P1['studying'].map(yesno_encoding)
U1400P1['degree_encoded'] = U1400P1['degree'].map(edrcation_encoding)
U1400P1['occupationalst_encoded'] = U1400P1['occupationalst'].map(occrpation_encoding)
U1400P1['maritalst_encoded'] = U1400P1['maritalst'].map(marital_encoding)

In [38]:
U1400P1 = U1400P1.drop(columns=['relation', 'gender', 'literacy', 'studying', 'degree', 'occupationalst', 'maritalst'])

In [39]:
U1400P1.head()

,Address,member,age,relation_encoded,gender_encoded,literacy_encoded,studying_encoded,degree_encoded,occupationalst_encoded,maritalst_encoded
0,10011009725,1,28,1,1,1,2,2,1,1
1,10011009725,2,18,NaN,2,1,2,4,NaN,1
2,10011009720,1,38,1,1,1,2,2,1,1
3,10011009720,2,31,NaN,2,1,2,1,NaN,1
4,10011009720,3,7,3,1,1,1,1,NaN,NaN

In [40]:
# نمایش نوع داده‌ها برای هر ستون
print("نوع داده‌های هر ستون:")
print(U1400P1.dtypes)

نوع داده‌های هر ستون:
Address                    int64
member                     int64
age                        int64
relation_encoded          object
gender_encoded            object
literacy_encoded          object
studying_encoded          object
degree_encoded            object
occupationalst_encoded    object
maritalst_encoded         object
dtype: object

In [41]:
# بررسی مقادیر یونیک در هر ستون انکود شده
print("مقادیر یونیک در ستون 'relation_encoded':", U1400P1['relation_encoded'].unique())
print("مقادیر یونیک در ستون 'gender_encoded':", U1400P1['gender_encoded'].unique())
print("مقادیر یونیک در ستون 'literacy_encoded':", U1400P1['literacy_encoded'].unique())
print("مقادیر یونیک در ستون 'studying_encoded':", U1400P1['studying_encoded'].unique())
print("مقادیر یونیک در ستون 'degree_encoded':", U1400P1['degree_encoded'].unique())
print("مقادیر یونیک در ستون 'occupationalst_encoded':", U1400P1['occupationalst_encoded'].unique())
print("مقادیر یونیک در ستون 'maritalst_encoded':", U1400P1['maritalst_encoded'].unique())

مقادیر یونیک در ستون 'relation_encoded': ['1' nan '3' '6' '7']
مقادیر یونیک در ستون 'gender_encoded': ['1' '2']
مقادیر یونیک در ستون 'literacy_encoded': ['1' nan '2']
مقادیر یونیک در ستون 'studying_encoded': ['2' '1' nan]
مقادیر یونیک در ستون 'degree_encoded': ['2' '4' '1' nan '6' '9' '7' '3' '5' '8']
مقادیر یونیک در ستون 'occupationalst_encoded': ['1' nan '3' '6']
مقادیر یونیک در ستون 'maritalst_encoded': ['1' nan '4' '2' '3']

In [42]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, recall_score, f1_score, classification_report

In [43]:
df_encoded = U1400P1.copy()

In [44]:
# بررسی ستون‌ها و جدا کردن داده‌های مفقود و غیر مفقود
df_not_null = df_encoded[df_encoded['studying_encoded'].notnull()]
df_null = df_encoded[df_encoded['studying_encoded'].isnull()]

In [45]:
X = df_not_null.drop(['studying_encoded'], axis=1)
y = df_not_null['studying_encoded']

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [47]:

model = RandomForestClassifier()


model.fit(X_train, y_train)


y_pred = model.predict(X_test)


y_test_nrmeric = y_test.astype(int)
y_pred_nrmeric = y_pred.astype(int)

# محاسبه دقت (accuracy)
accuracy = accuracy_score(y_test_nrmeric, y_pred_nrmeric)
print(f'accuracy: {accuracy}')

# محاسبه recall و F1 Score
recall = recall_score(y_test_nrmeric, y_pred_nrmeric)
f1 = f1_score(y_test_nrmeric, y_pred_nrmeric)

print(f'recall: {recall}')
print(f'F1 Score: {f1}')

accuracy: 0.9683079184273379
recall: 0.9328214971209213
F1 Score: 0.9441476444876153

In [48]:

X_null = df_null.drop(['studying_encoded'], axis=1)


df_null.loc[:, 'studying_encoded'] = model.predict(X_null)


U1400P1_filled = pd.concat([df_not_null, df_null])


U1400P1_filled.sort_index(inplace=True)


print(U1400P1_filled.head())

       Address  member  age relation_encoded gender_encoded literacy_encoded  \
0  10011009725       1   28                1              1                1
1  10011009725       2   18              NaN              2                1
2  10011009720       1   38                1              1                1
3  10011009720       2   31              NaN              2                1
4  10011009720       3    7                3              1                1

  studying_encoded degree_encoded occupationalst_encoded maritalst_encoded
0                2              2                      1                 1
1                2              4                    NaN                 1
2                2              2                      1                 1
3                2              1                    NaN                 1
4                1              1                    NaN               NaN

In [49]:
missing_percentage = U1400P1_filled.isnull().sum() / len(U1400P1) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address                    0.000000
member                     0.000000
age                        0.000000
relation_encoded          25.856055
gender_encoded             0.000000
literacy_encoded           7.441388
studying_encoded           0.000000
degree_encoded            17.463832
occupationalst_encoded    60.415213
maritalst_encoded         13.966819
dtype: float64

In [50]:
df_encoded2 = U1400P1_filled.copy()

In [51]:

df_not_null = df_encoded2[df_encoded2['literacy_encoded'].notnull()]
df_null = df_encoded2[df_encoded2['literacy_encoded'].isnull()]


X = df_not_null.drop(['literacy_encoded'], axis=1)
y = df_not_null['literacy_encoded']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = RandomForestClassifier()


model.fit(X_train, y_train)


y_pred = model.predict(X_test)




accuracy = accuracy_score(y_test_nrmeric, y_pred_nrmeric)
print(f'accuracy: {accuracy}')





X_null = df_null.drop(['literacy_encoded'], axis=1)


df_null.loc[:, 'literacy_encoded'] = model.predict(X_null)


U1400P1_filled = pd.concat([df_not_null, df_null])


U1400P1_filled.sort_index(inplace=True)


print(U1400P1_filled.head())

accuracy: 0.9683079184273379
       Address  member  age relation_encoded gender_encoded literacy_encoded  \
0  10011009725       1   28                1              1                1
1  10011009725       2   18              NaN              2                1
2  10011009720       1   38                1              1                1
3  10011009720       2   31              NaN              2                1
4  10011009720       3    7                3              1                1

  studying_encoded degree_encoded occupationalst_encoded maritalst_encoded
0                2              2                      1                 1
1                2              4                    NaN                 1
2                2              2                      1                 1
3                2              1                    NaN                 1
4                1              1                    NaN               NaN

In [52]:
missing_percentage = U1400P1_filled.isnull().sum() / len(U1400P1) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address                    0.000000
member                     0.000000
age                        0.000000
relation_encoded          25.856055
gender_encoded             0.000000
literacy_encoded           0.000000
studying_encoded           0.000000
degree_encoded            17.463832
occupationalst_encoded    60.415213
maritalst_encoded         13.966819
dtype: float64

In [53]:
df_encoded3 = U1400P1_filled.copy()

In [54]:

df_not_null = df_encoded3[df_encoded3['degree_encoded'].notnull()]
df_null = df_encoded3[df_encoded3['degree_encoded'].isnull()]


X = df_not_null.drop(['degree_encoded'], axis=1)
y = df_not_null['degree_encoded']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = RandomForestClassifier()


model.fit(X_train, y_train)


y_pred = model.predict(X_test)


print(f'accuracy for degree_encoded: {accuracy_score(y_test, y_pred)}')


X_null = df_null.drop(['degree_encoded'], axis=1)


df_null.loc[:, 'degree_encoded'] = model.predict(X_null)


U1400P1_filled = pd.concat([df_not_null, df_null])


U1400P1_filled.sort_index(inplace=True)


print(U1400P1_filled.head())

accuracy for degree_encoded: 0.44855778063567886
       Address  member  age relation_encoded gender_encoded literacy_encoded  \
0  10011009725       1   28                1              1                1
1  10011009725       2   18              NaN              2                1
2  10011009720       1   38                1              1                1
3  10011009720       2   31              NaN              2                1
4  10011009720       3    7                3              1                1

  studying_encoded degree_encoded occupationalst_encoded maritalst_encoded
0                2              2                      1                 1
1                2              4                    NaN                 1
2                2              2                      1                 1
3                2              1                    NaN                 1
4                1              1                    NaN               NaN

In [55]:
missing_percentage = U1400P1_filled.isnull().sum() / len(U1400P1) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address                    0.000000
member                     0.000000
age                        0.000000
relation_encoded          25.856055
gender_encoded             0.000000
literacy_encoded           0.000000
studying_encoded           0.000000
degree_encoded             0.000000
occupationalst_encoded    60.415213
maritalst_encoded         13.966819
dtype: float64

In [56]:
df_encoded4 = U1400P1_filled.copy()

In [57]:

df_not_null = df_encoded4[df_encoded4['occupationalst_encoded'].notnull()]
df_null = df_encoded4[df_encoded4['occupationalst_encoded'].isnull()]


X = df_not_null.drop(['occupationalst_encoded'], axis=1)
y = df_not_null['occupationalst_encoded']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = RandomForestClassifier()


model.fit(X_train, y_train)


y_pred = model.predict(X_test)


print(f'accuracy for occupationalst_encoded : {accuracy_score(y_test, y_pred)}')


X_null = df_null.drop(['occupationalst_encoded'], axis=1)


df_null.loc[:, 'occupationalst_encoded'] = model.predict(X_null)


U1400P1_filled = pd.concat([df_not_null, df_null])


U1400P1_filled.sort_index(inplace=True)


print(U1400P1_filled.head())

accuracy for occupationalst_encoded : 0.8142118368128711
       Address  member  age relation_encoded gender_encoded literacy_encoded  \
0  10011009725       1   28                1              1                1
1  10011009725       2   18              NaN              2                1
2  10011009720       1   38                1              1                1
3  10011009720       2   31              NaN              2                1
4  10011009720       3    7                3              1                1

  studying_encoded degree_encoded occupationalst_encoded maritalst_encoded
0                2              2                      1                 1
1                2              4                      1                 1
2                2              2                      1                 1
3                2              1                      1                 1
4                1              1                      1               NaN

In [58]:
missing_percentage = U1400P1_filled.isnull().sum() / len(U1400P1) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address                    0.000000
member                     0.000000
age                        0.000000
relation_encoded          25.856055
gender_encoded             0.000000
literacy_encoded           0.000000
studying_encoded           0.000000
degree_encoded             0.000000
occupationalst_encoded     0.000000
maritalst_encoded         13.966819
dtype: float64

In [59]:
df_encoded5 = U1400P1_filled.copy()

In [60]:

df_not_null = df_encoded5[df_encoded5['maritalst_encoded'].notnull()]
df_null = df_encoded5[df_encoded5['maritalst_encoded'].isnull()]


X = df_not_null.drop(['maritalst_encoded'], axis=1)
y = df_not_null['maritalst_encoded']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = RandomForestClassifier()


model.fit(X_train, y_train)


y_pred = model.predict(X_test)


print(f'Accuracy for maritalst_encoded : {accuracy_score(y_test, y_pred)}')


X_null = df_null.drop(['maritalst_encoded'], axis=1)


df_null.loc[:, 'maritalst_encoded'] = model.predict(X_null)


U1400P1_filled = pd.concat([df_not_null, df_null])


U1400P1_filled.sort_index(inplace=True)


print(U1400P1_filled.head())

Accuracy for maritalst_encoded : 0.9434211685908169
       Address  member  age relation_encoded gender_encoded literacy_encoded  \
0  10011009725       1   28                1              1                1
1  10011009725       2   18              NaN              2                1
2  10011009720       1   38                1              1                1
3  10011009720       2   31              NaN              2                1
4  10011009720       3    7                3              1                1

  studying_encoded degree_encoded occupationalst_encoded maritalst_encoded
0                2              2                      1                 1
1                2              4                      1                 1
2                2              2                      1                 1
3                2              1                      1                 1
4                1              1                      1                 4

In [61]:
missing_percentage = U1400P3S01.isnull().sum() / len(U1400P3S01) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address       0.000000
code          0.000000
purchased     0.000000
gram         73.106829
kilogram     24.583824
price         8.997146
value         0.000162
dtype: float64

In [62]:
U1400P3S01_cleaned = U1400P3S01.dropna(subset=['price', 'value'])

In [63]:

U1400P3S01_cleaned['calculated_amount'] = U1400P3S01_cleaned['value'] / U1400P3S01_cleaned['price']


U1400P3S01_cleaned['calculated_kg'] = U1400P3S01_cleaned['calculated_amount'].apply(np.floor)
U1400P3S01_cleaned['calculated_gram'] = (U1400P3S01_cleaned['calculated_amount'] % 1) * 1000


U1400P3S01_cleaned['kilogram'] = U1400P3S01_cleaned['kilogram'].fillna(U1400P3S01_cleaned['calculated_kg'])
U1400P3S01_cleaned['gram'] = U1400P3S01_cleaned['gram'].fillna(U1400P3S01_cleaned['calculated_gram'])

C:\Users\Admin\AppData\Local\Temp\ipykernel_1052\1356400674.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U1400P3S01_cleaned['calculated_amount'] = U1400P3S01_cleaned['value'] / U1400P3S01_cleaned['price']
C:\Users\Admin\AppData\Local\Temp\ipykernel_1052\1356400674.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U1400P3S01_cleaned['calculated_kg'] = U1400P3S01_cleaned['calculated_amount'].apply(np.floor)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1052\1356400674.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U1400P3S01_cleaned['calculated_gram'] = (U1400P3S01_cleaned['calculated_amount'] % 1) * 1000
C:\Users\Admin\AppData\Local\Temp\ipykernel_1052\1356400674.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U1400P3S01_cleaned['kilogram'] = U1400P3S01_cleaned['kilogram'].fillna(U1400P3S01_cleaned['calculated_kg'])
C:\Users\Admin\AppData\Local\Temp\ipykernel_1052\1356400674.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U1400P3S01_cleaned['gram'] = U1400P3S01_cleaned['gram'].fillna(U1400P3S01_cleaned['calculated_gram'])

In [64]:
missing_percentage = U1400P3S01_cleaned.isnull().sum() / len(U1400P3S01_cleaned) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address              0.0
code                 0.0
purchased            0.0
gram                 0.0
kilogram             0.0
price                0.0
value                0.0
calculated_amount    0.0
calculated_kg        0.0
calculated_gram      0.0
dtype: float64

In [65]:

numerical_columns = U1400P3S01_cleaned.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)

ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'kilogram', 'price', 'value',
       'calculated_amount', 'calculated_kg', 'calculated_gram'],
      dtype='object')

In [66]:
missing_percentage = U1400P3S02.isnull().sum() / len(U1400P3S02) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address        0.00000
code           0.00000
purchased      0.00000
gram         100.00000
kilogram      17.24353
price         17.24353
value          0.00000
dtype: float64

In [67]:
U1400P3S02_cleaned = U1400P3S02.dropna(subset=['price'])

In [68]:

U1400P3S02_cleaned['calculated_amount'] = U1400P3S02_cleaned['value'] / U1400P3S02_cleaned['price']


U1400P3S02_cleaned['calculated_kg'] = U1400P3S02_cleaned['calculated_amount'].apply(np.floor)
U1400P3S02_cleaned['calculated_gram'] = (U1400P3S02_cleaned['calculated_amount'] % 1) * 1000


U1400P3S02_cleaned['kilogram'] = U1400P3S02_cleaned['kilogram'].fillna(U1400P3S02_cleaned['calculated_kg'])
U1400P3S02_cleaned['gram'] = U1400P3S02_cleaned['gram'].fillna(U1400P3S02_cleaned['calculated_gram'])

C:\Users\Admin\AppData\Local\Temp\ipykernel_1052\1800257632.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U1400P3S02_cleaned['calculated_amount'] = U1400P3S02_cleaned['value'] / U1400P3S02_cleaned['price']
C:\Users\Admin\AppData\Local\Temp\ipykernel_1052\1800257632.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U1400P3S02_cleaned['calculated_kg'] = U1400P3S02_cleaned['calculated_amount'].apply(np.floor)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1052\1800257632.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U1400P3S02_cleaned['calculated_gram'] = (U1400P3S02_cleaned['calculated_amount'] % 1) * 1000
C:\Users\Admin\AppData\Local\Temp\ipykernel_1052\1800257632.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U1400P3S02_cleaned['kilogram'] = U1400P3S02_cleaned['kilogram'].fillna(U1400P3S02_cleaned['calculated_kg'])
C:\Users\Admin\AppData\Local\Temp\ipykernel_1052\1800257632.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U1400P3S02_cleaned['gram'] = U1400P3S02_cleaned['gram'].fillna(U1400P3S02_cleaned['calculated_gram'])

In [69]:
missing_percentage = U1400P3S01_cleaned.isnull().sum() / len(U1400P3S01_cleaned) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address              0.0
code                 0.0
purchased            0.0
gram                 0.0
kilogram             0.0
price                0.0
value                0.0
calculated_amount    0.0
calculated_kg        0.0
calculated_gram      0.0
dtype: float64

In [70]:

numerical_columns = U1400P3S01_cleaned.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)

ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'kilogram', 'price', 'value',
       'calculated_amount', 'calculated_kg', 'calculated_gram'],
      dtype='object')

In [71]:
missing_percentage = U1400P3S02.isnull().sum() / len(U1400P3S02) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address        0.00000
code           0.00000
purchased      0.00000
gram         100.00000
kilogram      17.24353
price         17.24353
value          0.00000
dtype: float64

In [72]:
U1400P3S02_cleaned = U1400P3S02.dropna(subset=['price'])

In [73]:

U1400P3S02_cleaned['calculated_amount'] = U1400P3S02_cleaned['value'] / U1400P3S02_cleaned['price']


U1400P3S02_cleaned['calculated_kg'] = U1400P3S02_cleaned['calculated_amount'].apply(np.floor)
U1400P3S02_cleaned['calculated_gram'] = (U1400P3S02_cleaned['calculated_amount'] % 1) * 1000


U1400P3S02_cleaned['kilogram'] = U1400P3S02_cleaned['kilogram'].fillna(U1400P3S02_cleaned['calculated_kg'])
U1400P3S02_cleaned['gram'] = U1400P3S02_cleaned['gram'].fillna(U1400P3S02_cleaned['calculated_gram'])

C:\Users\Admin\AppData\Local\Temp\ipykernel_1052\1800257632.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U1400P3S02_cleaned['calculated_amount'] = U1400P3S02_cleaned['value'] / U1400P3S02_cleaned['price']
C:\Users\Admin\AppData\Local\Temp\ipykernel_1052\1800257632.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U1400P3S02_cleaned['calculated_kg'] = U1400P3S02_cleaned['calculated_amount'].apply(np.floor)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1052\1800257632.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U1400P3S02_cleaned['calculated_gram'] = (U1400P3S02_cleaned['calculated_amount'] % 1) * 1000
C:\Users\Admin\AppData\Local\Temp\ipykernel_1052\1800257632.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U1400P3S02_cleaned['kilogram'] = U1400P3S02_cleaned['kilogram'].fillna(U1400P3S02_cleaned['calculated_kg'])
C:\Users\Admin\AppData\Local\Temp\ipykernel_1052\1800257632.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  U1400P3S02_cleaned['gram'] = U1400P3S02_cleaned['gram'].fillna(U1400P3S02_cleaned['calculated_gram'])

In [74]:
missing_percentage = U1400P3S02_cleaned.isnull().sum() / len(U1400P3S02_cleaned) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address              0.0
code                 0.0
purchased            0.0
gram                 0.0
kilogram             0.0
price                0.0
value                0.0
calculated_amount    0.0
calculated_kg        0.0
calculated_gram      0.0
dtype: float64

In [75]:
missing_percentage = U1400P3S03.isnull().sum() / len(U1400P3S03) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [76]:
categorical_columns = U1400P3S03.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')

In [77]:
duplicates = U1400P3S03.duplicated().sum()
print(duplicates)

0

In [78]:
categorical_columns = U1400P3S03.select_dtypes(include=['object']).columns
print(categorical_columns)

Index([], dtype='object')

In [79]:
numerical_columns = U1400P3S03.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)

ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')

In [80]:
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = U1400P3S03[column].quantile(0.25)
    Q3 = U1400P3S03[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((U1400P3S03[column] < (Q1 - 1.5 * IQR)) | (U1400P3S03[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

تعداد داده‌های پرت در ستون code: 4438
تعداد داده‌های پرت در ستون purchased: 171
تعداد داده‌های پرت در ستون value: 1531

In [81]:
missing_percentage = U1400P3S04.isnull().sum() / len(U1400P3S04) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address       0.000000
code          0.000000
mortgage     96.203047
purchased    16.233283
value         0.000000
dtype: float64

In [82]:
U1400P3S04_cleaned = U1400P3S04.dropna(subset=['mortgage'])

In [83]:
missing_percentage = U1400P3S04_cleaned.isnull().sum() / len(U1400P3S04_cleaned) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
mortgage     0.0
purchased    0.0
value        0.0
dtype: float64

In [84]:
duplicates = U1400P3S04_cleaned.duplicated().sum()
print(duplicates)

0

In [85]:
categorical_columns = U1400P3S04_cleaned.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

ستون‌های دسته‌بندی‌شده:
Index(['purchased'], dtype='object')

In [86]:
numerical_columns = U1400P3S04_cleaned.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)

ستون‌های عددی:
Index(['Address', 'code', 'mortgage', 'value'], dtype='object')

In [87]:
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = U1400P3S04_cleaned[column].quantile(0.25)
    Q3 = U1400P3S04_cleaned[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((U1400P3S04_cleaned[column] < (Q1 - 1.5 * IQR)) | (U1400P3S04_cleaned[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

تعداد داده‌های پرت در ستون mortgage: 172
تعداد داده‌های پرت در ستون value: 184

In [88]:
missing_percentage = U1400P3S05.isnull().sum() / len(U1400P3S05) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [89]:
duplicates = U1400P3S05.duplicated().sum()
duplicates

0

In [90]:

categorical_columns = U1400P3S05.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')

In [91]:


numerical_columns = U1400P3S05.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = U1400P3S05[column].quantile(0.25)
    Q3 = U1400P3S05[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((U1400P3S05[column] < (Q1 - 1.5 * IQR)) | (U1400P3S05[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون code: 10130
تعداد داده‌های پرت در ستون purchased: 906
تعداد داده‌های پرت در ستون value: 6550

In [92]:
missing_percentage = U1400P3S06.isnull().sum() / len(U1400P3S06) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [93]:
duplicates = U1400P3S06.duplicated().sum()
print(duplicates)
categorical_columns = U1400P3S06.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = U1400P3S06.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = U1400P3S06[column].quantile(0.25)
    Q3 = U1400P3S06[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((U1400P3S06[column] < (Q1 - 1.5 * IQR)) | (U1400P3S06[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

0
ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون code: 5
تعداد داده‌های پرت در ستون purchased: 2754
تعداد داده‌های پرت در ستون value: 3499

In [94]:
missing_percentage = U1400P3S07.isnull().sum() / len(U1400P3S07) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [95]:
duplicates = U1400P3S07.duplicated().sum()
print(duplicates)

0

In [96]:
categorical_columns = U1400P3S07.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = U1400P3S07.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = U1400P3S07[column].quantile(0.25)
    Q3 = U1400P3S07[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((U1400P3S07[column] < (Q1 - 1.5 * IQR)) | (U1400P3S07[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون purchased: 201
تعداد داده‌های پرت در ستون value: 2090

In [97]:
missing_percentage = U1400P3S05.isnull().sum() / len(U1400P3S05) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [98]:
duplicates = U1400P3S05.duplicated().sum()
duplicates

0

In [99]:

categorical_columns = U1400P3S05.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')

In [100]:


numerical_columns = U1400P3S05.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = U1400P3S05[column].quantile(0.25)
    Q3 = U1400P3S05[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((U1400P3S05[column] < (Q1 - 1.5 * IQR)) | (U1400P3S05[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون code: 10130
تعداد داده‌های پرت در ستون purchased: 906
تعداد داده‌های پرت در ستون value: 6550

In [101]:
missing_percentage = U1400P3S06.isnull().sum() / len(U1400P3S06) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [102]:
duplicates = U1400P3S06.duplicated().sum()
print(duplicates)
categorical_columns = U1400P3S06.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = U1400P3S06.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = U1400P3S06[column].quantile(0.25)
    Q3 = U1400P3S06[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((U1400P3S06[column] < (Q1 - 1.5 * IQR)) | (U1400P3S06[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

0
ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون code: 5
تعداد داده‌های پرت در ستون purchased: 2754
تعداد داده‌های پرت در ستون value: 3499

In [103]:
missing_percentage = U1400P3S07.isnull().sum() / len(U1400P3S07) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [104]:
duplicates = U1400P3S07.duplicated().sum()
print(duplicates)

0

In [105]:
categorical_columns = U1400P3S07.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = U1400P3S07.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = U1400P3S07[column].quantile(0.25)
    Q3 = U1400P3S07[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((U1400P3S07[column] < (Q1 - 1.5 * IQR)) | (U1400P3S07[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون purchased: 201
تعداد داده‌های پرت در ستون value: 2090

In [106]:
missing_percentage = U1400P3S08.isnull().sum() / len(U1400P3S08) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [107]:
duplicates = U1400P3S08.duplicated().sum()
print(duplicates)

0

In [108]:
categorical_columns = U1400P3S08.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = U1400P3S08.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = U1400P3S08[column].quantile(0.25)
    Q3 = U1400P3S08[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((U1400P3S08[column] < (Q1 - 1.5 * IQR)) | (U1400P3S08[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون code: 10513
تعداد داده‌های پرت در ستون purchased: 15
تعداد داده‌های پرت در ستون value: 2312

In [109]:
missing_percentage = U1400P3S09.isnull().sum() / len(U1400P3S09) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [110]:
duplicates = U1400P3S09.duplicated().sum()
print(duplicates)

0

In [111]:
categorical_columns = U1400P3S09.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = U1400P3S09.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = U1400P3S09[column].quantile(0.25)
    Q3 = U1400P3S09[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((U1400P3S09[column] < (Q1 - 1.5 * IQR)) | (U1400P3S09[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون code: 3190
تعداد داده‌های پرت در ستون purchased: 37
تعداد داده‌های پرت در ستون value: 1047

In [112]:
missing_percentage = U1400P3S11.isnull().sum() / len(U1400P3S11) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [113]:
duplicates = U1400P3S11.duplicated().sum()
print(duplicates)

0

In [114]:
categorical_columns = U1400P3S11.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = U1400P3S11.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = U1400P3S11[column].quantile(0.25)
    Q3 = U1400P3S11[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((U1400P3S11[column] < (Q1 - 1.5 * IQR)) | (U1400P3S11[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون code: 192
تعداد داده‌های پرت در ستون purchased: 302
تعداد داده‌های پرت در ستون value: 1807

In [115]:
duplicates = U1400P3S12.duplicated().sum()
print(duplicates)

0

In [116]:
categorical_columns = U1400P3S12.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = U1400P3S12.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = U1400P3S12[column].quantile(0.25)
    Q3 = U1400P3S12[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((U1400P3S12[column] < (Q1 - 1.5 * IQR)) | (U1400P3S12[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های دسته‌بندی‌شده:
Index([], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'purchased', 'value'], dtype='object')
تعداد داده‌های پرت در ستون code: 819
تعداد داده‌های پرت در ستون purchased: 671
تعداد داده‌های پرت در ستون value: 5701

In [117]:
missing_percentage = U1400P3S13.isnull().sum() / len(U1400P3S13) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address    0.000000
code       0.000000
value      0.263589
dtype: float64

In [118]:
U1400P3S13 = U1400P3S13.dropna(subset=['value'])

In [119]:
duplicates = U1400P3S13.duplicated().sum()
print(duplicates)

410

In [120]:
U1400P3S13 = U1400P3S13.drop_duplicates()

In [121]:
duplicates = U1400P3S13.duplicated().sum()
print(duplicates)

0

In [122]:
categorical_columns = U1400P3S13.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = U1400P3S13.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = U1400P3S13[column].quantile(0.25)
    Q3 = U1400P3S13[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((U1400P3S13[column] < (Q1 - 1.5 * IQR)) | (U1400P3S13[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های دسته‌بندی‌شده:
Index(['value'], dtype='object')
ستون‌های عددی:
Index(['Address', 'code'], dtype='object')

In [123]:
missing_percentage = U1400P3S14.isnull().sum() / len(U1400P3S14) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.000000
code         0.000000
purchased    4.468169
value        4.784500
dtype: float64

In [124]:
U1400P3S14 = U1400P3S14.dropna(subset=['purchased','value'])

In [125]:
missing_percentage = U1400P3S14.isnull().sum() / len(U1400P3S14) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address      0.0
code         0.0
purchased    0.0
value        0.0
dtype: float64

In [126]:
duplicates = U1400P3S14.duplicated().sum()
print(duplicates)

0

In [127]:
categorical_columns = U1400P3S14.select_dtypes(include=['object']).columns
print("ستون‌های دسته‌بندی‌شده:")
print(categorical_columns)

numerical_columns = U1400P3S14.select_dtypes(include=['number']).columns
print("ستون‌های عددی:")
print(numerical_columns)
# بررسی داده‌های پرت بر اساس IQR
for column in numerical_columns:
    Q1 = U1400P3S14[column].quantile(0.25)
    Q3 = U1400P3S14[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((U1400P3S14[column] < (Q1 - 1.5 * IQR)) | (U1400P3S14[column] > (Q3 + 1.5 * IQR))).sum()
    if outliers > 0:
        print(f"تعداد داده‌های پرت در ستون {column}: {outliers}")

ستون‌های دسته‌بندی‌شده:
Index(['purchased'], dtype='object')
ستون‌های عددی:
Index(['Address', 'code', 'value'], dtype='object')
تعداد داده‌های پرت در ستون value: 394

In [128]:
missing_percentage = U1400P4S01.isnull().sum() / len(U1400P4S01) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address            0.000000
member             0.000000
employed_w         0.000000
ISCO_w             0.000000
ISIC_w             0.000000
status_w           0.000000
hours_w            4.774579
days_w             4.758448
income_w_m         0.000000
income_w_y         0.000000
wage_w_m           0.024195
wage_w_y           0.008065
perk_w_m           0.008065
perk_w_y           0.008065
netincome_w_m      0.000000
netincome_w_y      0.000000
Fasl               0.000000
year               0.000000
DYCOL00          100.000000
dtype: float64

In [129]:
U1400P4S01 = U1400P4S01.drop(columns='DYCOL00')

In [130]:

U1400P4S01_cleaned = U1400P4S01.dropna(subset=['hours_w','days_w','wage_w_m','wage_w_y','perk_w_m','perk_w_y'])

In [131]:
missing_percentage = U1400P4S01_cleaned.isnull().sum() / len(U1400P4S01_cleaned) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address          0.0
member           0.0
employed_w       0.0
ISCO_w           0.0
ISIC_w           0.0
status_w         0.0
hours_w          0.0
days_w           0.0
income_w_m       0.0
income_w_y       0.0
wage_w_m         0.0
wage_w_y         0.0
perk_w_m         0.0
perk_w_y         0.0
netincome_w_m    0.0
netincome_w_y    0.0
Fasl             0.0
year             0.0
dtype: float64

In [132]:
missing_percentage = U1400P4S02.isnull().sum() / len(U1400P4S02) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address              0.000000
member               0.000000
employed_s           0.000000
ISCO_s               0.015684
ISIC_s               0.015684
status_s             0.000000
agriculture          0.000000
hours_s              1.505646
days_s               1.505646
cost_employment     15.040778
cost_raw             4.548306
cost_machinery       9.190715
cost_others          6.618570
cost_tax            15.824969
sale                 1.270389
income_s_y           0.000000
Fasl                 0.000000
year                 0.000000
DYCOL00            100.000000
dtype: float64

In [133]:
U1400P4S02 = U1400P4S02.drop(columns='DYCOL00')

In [134]:
U1400P4S02_cleaned = U1400P4S02.dropna(subset=['member','employed_s','ISCO_s','ISIC_s','hours_s','cost_raw','cost_others','sale'])

In [135]:
missing_percentage = U1400P4S02_cleaned.isnull().sum() / len(U1400P4S02_cleaned) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address            0.000000
member             0.000000
employed_s         0.000000
ISCO_s             0.000000
ISIC_s             0.000000
status_s           0.000000
agriculture        0.000000
hours_s            0.000000
days_s             0.000000
cost_employment    9.156627
cost_raw           0.000000
cost_machinery     3.769363
cost_others        0.000000
cost_tax           9.432014
sale               0.000000
income_s_y         0.000000
Fasl               0.000000
year               0.000000
dtype: float64

In [136]:
U1400P4S02_cleaned = U1400P4S02.dropna(subset=['cost_employment','cost_machinery','cost_tax'])

In [137]:
missing_percentage = U1400P4S03.isnull().sum() / len(U1400P4S03) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address              0.000000
member               0.004108
income_pension      58.907373
income_rent         73.555145
income_interest     36.463339
income_aid          28.186486
income_resale       76.023824
income_transfer     64.481413
Fasl                 0.000000
year                 0.000000
DYCOL00            100.000000
dtype: float64

In [138]:
U1400P4S03 = U1400P4S03.drop(columns='DYCOL00')

In [139]:
U1400P4S03_cleaned = U1400P4S03.dropna(subset=['member'])

In [140]:
print(U1400P4S03_cleaned.dtypes)

Address              int64
member             float64
income_pension      object
income_rent        float64
income_interest    float64
income_aid         float64
income_resale      float64
income_transfer    float64
Fasl                 int64
year                 int64
dtype: object

In [141]:
U1400P4S03_cleaned = U1400P4S03_cleaned.apply(pd.to_numeric, errors='coerce')

In [142]:
df_encoded7 = U1400P4S03_cleaned.copy()

In [143]:
df_not_null = df_encoded7[df_encoded7['income_aid'].notnull()]
df_null = df_encoded7[df_encoded7['income_aid'].isnull()]


X = df_not_null.drop(['income_aid'], axis=1)
y = df_not_null['income_aid']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = RandomForestClassifier()


model.fit(X_train, y_train)


y_pred = model.predict(X_test)


print(f'Accuracy for income_aid : {accuracy_score(y_test, y_pred)}')


X_null = df_null.drop(['income_aid'], axis=1)


df_null.loc[:, 'income_aid'] = model.predict(X_null)


U1400P4S03_filled = pd.concat([df_not_null, df_null])


U1400P4S03_filled.sort_index(inplace=True)


#print(U1400P4S031_filled.head())

Accuracy for income_aid : 0.21332570774949958

In [144]:
missing_percentage = U1400P4S04.isnull().sum() / len(U1400P4S04) * 100
missing_percentage.sort_values(ascending=False)  
missing_percentage

Address             0.000000
member              0.000000
subsidy_number      0.006239
subsidy_month       0.006239
subsidy             0.000000
Fasl                0.000000
year                0.000000
DYCOL00           100.000000
dtype: float64

In [145]:
U1400P4S04 = U1400P4S04.drop(columns='DYCOL00')

In [146]:
U1400P4S04_cleaned = U1400P4S04.dropna(subset=['subsidy_number','subsidy_month','subsidy'])

In [147]:

data_frames = {
    'U1400Data': U1400Data_cleaned,
    'U1400P1': U1400P1_filled,
    'U1400P2': U1400P2,
    'Food': U1400P3S01_cleaned,
    'Tobacco': U1400P3S02_cleaned,
    'Clothing': U1400P3S03,
    'Housing': U1400P3S04_cleaned,
    'Furniture': U1400P3S05,
    'Health': U1400P3S06,
    'Transport': U1400P3S07,
    'Communication': U1400P3S08,
    'Recreation': U1400P3S09,
    'Education': U1400P3S11,
    'Hotel': U1400P3S12,
    'Miscellaneous': U1400P3S13,
    'Investment': U1400P3S14,
    'U1400P4S01': U1400P4S01_cleaned,
    'U1400P4S02': U1400P4S02_cleaned,
    'U1400P4S03': U1400P4S03_cleaned,
    'U1400P4S04': U1400P4S04_cleaned
}

In [148]:

with pd.ExcelWriter('cleaned_data_final_U1400.xlsx') as writer:
    for sheet_name, df in data_frames.items():
        df.to_excel(writer, sheet_name=sheet_name, index=False)