In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd

# مسیر فایل در گوگل درایو
file_path1 = '/content/drive/My Drive/Quera-Dataset/R99_cleaned.xlsx'
file_path2 = '/content/drive/My Drive/Quera-Dataset/U99_cleaned.xlsx'
file_path3 = '/content/drive/My Drive/Quera-Dataset/R1401_cleaned.xlsx'
file_path4 = '/content/drive/My Drive/Quera-Dataset/U1401_cleaned.xlsx'


# بارگذاری فایل اکسل
R99 = pd.read_excel(file_path1, sheet_name= None)
U99 = pd.read_excel(file_path2, sheet_name= None)
R1401 = pd.read_excel(file_path3, sheet_name= None)
U1401 = pd.read_excel(file_path4, sheet_name= None)

In [4]:
file_path5 = '/content/drive/My Drive/Quera-Dataset/cleaned_data_final_u98.xlsx'
file_path7 = '/content/drive/My Drive/Quera-Dataset/cleaned_data_final_R1400.xlsx'
file_path8 = '/content/drive/My Drive/Quera-Dataset/cleaned_data_final_U1400.xlsx'

In [5]:
dataR99 = pd.read_excel(file_path1, sheet_name='R99Data', index_col=0)
P1R99 = pd.read_excel(file_path1, sheet_name='R99P1', index_col=0)
P2R99 = pd.read_excel(file_path1, sheet_name='R99P2', index_col=0)

FoodR99 = pd.read_excel(file_path1, sheet_name='Food', index_col=0)
TobaccoR99 = pd.read_excel(file_path1, sheet_name='Tobacco', index_col=0)
ClothingR99 = pd.read_excel(file_path1, sheet_name='Clothing', index_col=0)
HousingR99 = pd.read_excel(file_path1, sheet_name='Housing', index_col=0)
FurnitureR99 = pd.read_excel(file_path1, sheet_name='Furniture', index_col=0)
HealthR99 = pd.read_excel(file_path1, sheet_name='Health', index_col=0)
TransportR99 = pd.read_excel(file_path1, sheet_name='Transport', index_col=0)
CommR99 = pd.read_excel(file_path1, sheet_name='Communication', index_col=0)
RecrR99 = pd.read_excel(file_path1, sheet_name='Recreation', index_col=0)
EducationR99 = pd.read_excel(file_path1, sheet_name='Education', index_col=0)
HotelR99 = pd.read_excel(file_path1, sheet_name='Hotel', index_col=0)
MiscR99 = pd.read_excel(file_path1, sheet_name='Miscellaneous', index_col=0)
InvesR99 = pd.read_excel(file_path1, sheet_name='Investment', index_col=0)

P4S1R99 = pd.read_excel(file_path1, sheet_name='R99P4S01', index_col=0)
P4S2R99 = pd.read_excel(file_path1, sheet_name='R99P4S02', index_col=0)
P4S3R99 = pd.read_excel(file_path1, sheet_name='R99P4S03', index_col=0)
P4S4R99 = pd.read_excel(file_path1, sheet_name='R99P4S04', index_col=0)

In [6]:
dataU99 = pd.read_excel(file_path2, sheet_name='U99Data', index_col=0)
P1U99 = pd.read_excel(file_path2, sheet_name='U99P1', index_col=0)
P2U99 = pd.read_excel(file_path2, sheet_name='U99P2', index_col=0)

FoodU99 = pd.read_excel(file_path2, sheet_name='Food', index_col=0)
TobaccoU99 = pd.read_excel(file_path2, sheet_name='Tobacco', index_col=0)
ClothingU99 = pd.read_excel(file_path2, sheet_name='Clothing', index_col=0)
HousingU99 = pd.read_excel(file_path2, sheet_name='Housing', index_col=0)
FurnitureU99 = pd.read_excel(file_path2, sheet_name='Furniture', index_col=0)
HealthU99 = pd.read_excel(file_path2, sheet_name='Health', index_col=0)
TransportU99 = pd.read_excel(file_path2, sheet_name='Transport', index_col=0)
CommU99 = pd.read_excel(file_path2, sheet_name='Communication', index_col=0)
RecrU99 = pd.read_excel(file_path2, sheet_name='Recreation', index_col=0)
EducationU99 = pd.read_excel(file_path2, sheet_name='Education', index_col=0)
HotelU99 = pd.read_excel(file_path2, sheet_name='Hotel', index_col=0)
MiscU99 = pd.read_excel(file_path2, sheet_name='Miscellaneous', index_col=0)
InvesU99 = pd.read_excel(file_path2, sheet_name='Investment', index_col=0)

P4S1U99 = pd.read_excel(file_path2, sheet_name='U99P4S01', index_col=0)
P4S2U99 = pd.read_excel(file_path2, sheet_name='U99P4S02', index_col=0)
P4S3U99 = pd.read_excel(file_path2, sheet_name='U99P4S03', index_col=0)
P4S4U99 = pd.read_excel(file_path2, sheet_name='U99P4S04', index_col=0)

In [7]:
dataR1401 = pd.read_excel(file_path3, sheet_name='R1401Data', index_col=0)
P1R1401 = pd.read_excel(file_path3, sheet_name='R1401P1', index_col=0)
P2R1401 = pd.read_excel(file_path3, sheet_name='R1401P2', index_col=0)

FoodR1401 = pd.read_excel(file_path3, sheet_name='Food', index_col=0)
TobaccoR1401 = pd.read_excel(file_path3, sheet_name='Tobacco', index_col=0)
ClothingR1401 = pd.read_excel(file_path3, sheet_name='Clothing', index_col=0)
HousingR1401 = pd.read_excel(file_path3, sheet_name='Housing', index_col=0)
FurnitureR1401 = pd.read_excel(file_path3, sheet_name='Furniture', index_col=0)
HealthR1401 = pd.read_excel(file_path3, sheet_name='Health', index_col=0)
TransportR1401 = pd.read_excel(file_path3, sheet_name='Transport', index_col=0)
CommR1401 = pd.read_excel(file_path3, sheet_name='Communication', index_col=0)
RecrR1401 = pd.read_excel(file_path3, sheet_name='Recreation', index_col=0)
EducationR1401 = pd.read_excel(file_path3, sheet_name='Education', index_col=0)
HotelR1401 = pd.read_excel(file_path3, sheet_name='Hotel', index_col=0)
MiscR1401 = pd.read_excel(file_path3, sheet_name='Miscellaneous', index_col=0)
InvesR1401 = pd.read_excel(file_path3, sheet_name='Investment', index_col=0)

P4S1R1401 = pd.read_excel(file_path3, sheet_name='R1401P4S01', index_col=0)
P4S2R1401= pd.read_excel(file_path3, sheet_name='R1401P4S02', index_col=0)
P4S3R1401 = pd.read_excel(file_path3, sheet_name='R1401P4S03', index_col=0)
P4S4R1401 = pd.read_excel(file_path3, sheet_name='R1401P4S04', index_col=0)

In [8]:
dataU1401 = pd.read_excel(file_path4, sheet_name='U1401Data', index_col=0)
P1U1401 = pd.read_excel(file_path4, sheet_name='U1401P1', index_col=0)
P2U1401 = pd.read_excel(file_path4, sheet_name='U1401P2', index_col=0)

FoodU1401 = pd.read_excel(file_path4, sheet_name='Food', index_col=0)
TobaccoU1401 = pd.read_excel(file_path4, sheet_name='Tobacco', index_col=0)
ClothingU1401 = pd.read_excel(file_path4, sheet_name='Clothing', index_col=0)
HousingU1401 = pd.read_excel(file_path4, sheet_name='Housing', index_col=0)
FurnitureU1401 = pd.read_excel(file_path4, sheet_name='Furniture', index_col=0)
HealthU1401 = pd.read_excel(file_path4, sheet_name='Health', index_col=0)
TransportU1401 = pd.read_excel(file_path4, sheet_name='Transport', index_col=0)
CommU1401 = pd.read_excel(file_path4, sheet_name='Communication', index_col=0)
RecrU1401 = pd.read_excel(file_path4, sheet_name='Recreation', index_col=0)
EducationU1401 = pd.read_excel(file_path4, sheet_name='Education', index_col=0)
HotelU1401 = pd.read_excel(file_path4, sheet_name='Hotel', index_col=0)
MiscU1401 = pd.read_excel(file_path4, sheet_name='Miscellaneous', index_col=0)
InvesU1401 = pd.read_excel(file_path4, sheet_name='Investment', index_col=0)

P4S1U1401 = pd.read_excel(file_path4, sheet_name='U1401P4S01', index_col=0)
P4S2U1401= pd.read_excel(file_path4, sheet_name='U1401P4S02', index_col=0)
P4S3U1401 = pd.read_excel(file_path4, sheet_name='U1401P4S03', index_col=0)
P4S4U1401 = pd.read_excel(file_path4, sheet_name='U1401P4S04', index_col=0)

In [ ]:
'''
dataU98 = pd.read_excel(file_path5, sheet_name='U98Data', index_col=0)
#P1U98 = pd.read_excel(file_path5, sheet_name='', index_col=0)
#P2U98 = pd.read_excel(file_path5, sheet_name='', index_col=0)
#این دوتا اسمشون داخل شیت R99 خورده و ممکنه اشتباه باشن
FoodU98 = pd.read_excel(file_path5, sheet_name='Food', index_col=0)
TobaccoU98 = pd.read_excel(file_path5, sheet_name='Tobacco', index_col=0)
ClothingU98 = pd.read_excel(file_path5, sheet_name='Clothing', index_col=0)
HousingU98 = pd.read_excel(file_path5, sheet_name='Housing', index_col=0)
FurnitureU98 = pd.read_excel(file_path5, sheet_name='Furniture', index_col=0)
HealthU98 = pd.read_excel(file_path5, sheet_name='Health', index_col=0)
TransportU98 = pd.read_excel(file_path5, sheet_name='Transport', index_col=0)
CommU98 = pd.read_excel(file_path5, sheet_name='Communication', index_col=0)
RecrU98 = pd.read_excel(file_path5, sheet_name='Recreation', index_col=0)
EducationU98 = pd.read_excel(file_path5, sheet_name='Education', index_col=0)
HotelU98 = pd.read_excel(file_path5, sheet_name='Hotel', index_col=0)
MiscU98 = pd.read_excel(file_path5, sheet_name='Miscellaneous', index_col=0)
InvesU98 = pd.read_excel(file_path5, sheet_name='Investment', index_col=0)

P4S1U98 = pd.read_excel(file_path5, sheet_name='U98P4S01', index_col=0)
P4S2U98= pd.read_excel(file_path5, sheet_name='U98P4S02', index_col=0)
P4S3U98 = pd.read_excel(file_path5, sheet_name='U98P4S03', index_col=0)
P4S4U98 = pd.read_excel(file_path5, sheet_name='U98P4S04', index_col=0)
'''

ValueError: Worksheet named 'U98P1' not found

In [9]:
'''فایل خرابه
dataR400 = pd.read_excel(file_path7, sheet_name='R400Data', index_col=0)
P1R400 = pd.read_excel(file_path7, sheet_name='R400P1', index_col=0)
P2R400 = pd.read_excel(file_path7, sheet_name='R400P2', index_col=0)

FoodR400 = pd.read_excel(file_path7, sheet_name='Food', index_col=0)
TobaccoR400 = pd.read_excel(file_path7, sheet_name='Tobacco', index_col=0)
ClothingR400 = pd.read_excel(file_path7, sheet_name='Clothing', index_col=0)
HousingR400 = pd.read_excel(file_path7, sheet_name='Housing', index_col=0)
FurnitureR400 = pd.read_excel(file_path7, sheet_name='Furniture', index_col=0)
HealthR400 = pd.read_excel(file_path7, sheet_name='Health', index_col=0)
TransportR400 = pd.read_excel(file_path7, sheet_name='Transport', index_col=0)
CommR400 = pd.read_excel(file_path7, sheet_name='Communication', index_col=0)
RecrR400 = pd.read_excel(file_path7, sheet_name='Recreation', index_col=0)
EducationR400 = pd.read_excel(file_path7, sheet_name='Education', index_col=0)
HotelR400 = pd.read_excel(file_path7, sheet_name='Hotel', index_col=0)
MiscR400 = pd.read_excel(file_path7, sheet_name='Miscellaneous', index_col=0)
InvesR400 = pd.read_excel(file_path7, sheet_name='Investment', index_col=0)

P4S1R400 = pd.read_excel(file_path7, sheet_name='R400P4S01', index_col=0)
P4S2R400= pd.read_excel(file_path7, sheet_name='R400P4S02', index_col=0)
P4S3R400 = pd.read_excel(file_path7, sheet_name='R400P4S03', index_col=0)
P4S4R400 = pd.read_excel(file_path7, sheet_name='R400P4S04', index_col=0)
'''

FileNotFoundError: [Errno 2] No such file or directory: '/content/drive/My Drive/Quera-Dataset/cleaned_data_final_R1400.xlsx'

In [10]:
'''
dataU400 = pd.read_excel(file_path8, sheet_name='U400Data', index_col=0)
P1U400 = pd.read_excel(file_path8, sheet_name='U400P1', index_col=0)
P2U400 = pd.read_excel(file_path8, sheet_name='U400P2', index_col=0)

FoodU400 = pd.read_excel(file_path8, sheet_name='Food', index_col=0)
TobaccoU400 = pd.read_excel(file_path8, sheet_name='Tobacco', index_col=0)
ClothingU400 = pd.read_excel(file_path8, sheet_name='Clothing', index_col=0)
HousingU400 = pd.read_excel(file_path8, sheet_name='Housing', index_col=0)
FurnitureU400 = pd.read_excel(file_path8, sheet_name='Furniture', index_col=0)
HealthU400 = pd.read_excel(file_path8, sheet_name='Health', index_col=0)
TransportU400 = pd.read_excel(file_path8, sheet_name='Transport', index_col=0)
CommU400 = pd.read_excel(file_path8, sheet_name='Communication', index_col=0)
RecrU400 = pd.read_excel(file_path8, sheet_name='Recreation', index_col=0)
EducationU400 = pd.read_excel(file_path8, sheet_name='Education', index_col=0)
HotelU400 = pd.read_excel(file_path8, sheet_name='Hotel', index_col=0)
MiscU400 = pd.read_excel(file_path8, sheet_name='Miscellaneous', index_col=0)
InvesU400 = pd.read_excel(file_path8, sheet_name='Investment', index_col=0)

P4S1U400 = pd.read_excel(file_path8, sheet_name='U400P4S01', index_col=0)
P4S2U400= pd.read_excel(file_path8, sheet_name='U400P4S02', index_col=0)
P4S3U400 = pd.read_excel(file_path8, sheet_name='U400P4S03', index_col=0)
P4S4U400 = pd.read_excel(file_path8, sheet_name='U400P4S04', index_col=0)
'''

ValueError: Worksheet named 'U400Data' not found

In [11]:
ndaR99 = dataR99.merge(P1R99, on='Address', how='left')
ndaR99

,Address,MahMorajeh,Fasl,weight,khanevartype,Takmil,town,province_encoded,member,age,relation_encoded,gender_encoded,literacy_encoded,studying_encoded,degree_encoded,occupationalst_encoded,maritalst_encoded
0,20001383916,5,2,5.142311,1,1,1,0,1,41,1,1,1,2,1,1,1
1,20001383916,5,2,5.142311,1,1,1,0,2,29,2,2,1,2,1,5,1
2,20001383916,5,2,5.142311,1,1,1,0,3,14,3,2,1,1,3,4,4
3,20001383916,5,2,5.142311,1,1,1,0,4,11,3,2,1,1,1,4,4
4,20001383917,5,2,5.142311,1,1,1,0,1,38,1,1,1,2,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63284,23006709829,1,4,4.392163,1,2,6,30,2,40,2,2,1,2,1,5,1
63285,23006709829,1,4,4.392163,1,2,6,30,3,19,3,2,1,1,4,4,4
63286,23006709829,1,4,4.392163,1,2,6,30,4,14,3,2,1,1,3,4,4
63287,23006709829,1,4,4.392163,1,2,6,30,5,8,3,2,1,1,1,4,4
63288,23006709829,1,4,4.392163,1,2,6,30,6,4,3,1,2,1,1,4,4

In [12]:
ndaU99 = dataU99.merge(P1U99, on='Address', how='left')
ndaU99

,Address,MahMorajeh,Fasl,weight,khanevartype,Takmil,town,province_encoded,member,age,relation_encoded,gender_encoded,literacy_encoded,studying_encoded,degree_encoded,occupationalst_encoded,maritalst_encoded
0,10001000113,11,4,7.109056,1,2,1,0,1,71,1,1,1,2,6,3,2
1,10001000113,11,4,7.109056,1,2,1,0,2,41,3,2,1,2,6,5,4
2,10001000113,11,4,7.109056,1,2,1,0,3,37,3,1,1,2,6,1,4
3,10001000113,11,4,7.109056,1,2,1,0,4,35,3,2,1,2,7,5,3
4,10001000116,11,4,7.109056,1,1,1,0,1,54,1,1,1,2,4,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65661,13006383826,7,2,7.626608,1,1,6,30,3,17,3,1,1,1,4,4,4
65662,13006383826,7,2,7.626608,1,1,6,30,4,13,3,2,1,1,2,4,4
65663,13006383826,7,2,7.626608,1,1,6,30,5,9,3,1,1,1,1,4,4
65664,13006383829,7,2,7.626608,1,2,6,30,1,63,1,1,2,2,2,3,1
65665,13006383829,7,2,7.626608,1,2,6,30,2,60,2,2,2,2,9,5,1

In [14]:
ndaR1401= dataR1401.merge(P1R1401, on='Address', how='left')
ndaR1401

,Address,Fasl,weight,khanevartype,Takmil,TakmilDescA,TakmilDescB,TakmilDescC,Jaygozin,JaygozinDescA,...,province_encoded,member,age,relation_encoded,gender_encoded,literacy_encoded,studying_encoded,degree_encoded,occupationalst_encoded,maritalst_encoded
0,20916495838,1,6.834084,1,1,,,,,,...,9,1,52,1,1,1,2,1,1,1
1,20916495838,1,6.834084,1,1,,,,,,...,9,2,46,2,2,1,2,1,5,1
2,20916495838,1,6.834084,1,1,,,,,,...,9,3,21,3,1,1,2,3,2,4
3,20916495838,1,6.834084,1,1,,,,,,...,9,4,21,3,2,1,2,3,5,4
4,20916495841,1,6.834084,1,1,,,,,,...,9,1,60,1,1,2,2,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61738,20916495832,1,6.834084,1,1,,,,,,...,9,3,16,3,1,1,1,3,3,4
61739,20916495832,1,6.834084,1,1,,,,,,...,9,4,10,3,1,1,1,1,4,4
61740,20916495832,1,6.834084,1,1,,,,,,...,9,5,3,3,2,2,1,1,3,4
61741,20916495836,1,6.834084,1,1,,,,,,...,9,1,57,1,1,1,2,1,6,1
61742,20916495836,1,6.834084,1,1,,,,,,...,9,2,56,2,2,2,2,1,5,1

In [16]:
ndaR1401 = ndaR1401.drop(columns=['TakmilDescA', 'TakmilDescB', 'TakmilDescC', 'Jaygozin', 'JaygozinDescA','JaygozinDescB'])

In [17]:
ndaR1401

,Address,Fasl,weight,khanevartype,Takmil,town,province_encoded,member,age,relation_encoded,gender_encoded,literacy_encoded,studying_encoded,degree_encoded,occupationalst_encoded,maritalst_encoded
0,20916495838,1,6.834084,1,1,16,9,1,52,1,1,1,2,1,1,1
1,20916495838,1,6.834084,1,1,16,9,2,46,2,2,1,2,1,5,1
2,20916495838,1,6.834084,1,1,16,9,3,21,3,1,1,2,3,2,4
3,20916495838,1,6.834084,1,1,16,9,4,21,3,2,1,2,3,5,4
4,20916495841,1,6.834084,1,1,16,9,1,60,1,1,2,2,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61738,20916495832,1,6.834084,1,1,16,9,3,16,3,1,1,1,3,3,4
61739,20916495832,1,6.834084,1,1,16,9,4,10,3,1,1,1,1,4,4
61740,20916495832,1,6.834084,1,1,16,9,5,3,3,2,2,1,1,3,4
61741,20916495836,1,6.834084,1,1,16,9,1,57,1,1,1,2,1,6,1
61742,20916495836,1,6.834084,1,1,16,9,2,56,2,2,2,2,1,5,1

In [15]:
ndaU1401= dataU1401.merge(P1U1401, on='Address', how='left')
ndaU1401

,Address,Fasl,weight,khanevartype,Takmil,TakmilDescA,TakmilDescB,TakmilDescC,Jaygozin,JaygozinDescA,...,province_encoded,member,age,relation_encoded,gender_encoded,literacy_encoded,studying_encoded,degree_encoded,occupationalst_encoded,maritalst_encoded
0,10416057935,3,6.638586,1,1,,,,,,...,4,1,39,1,1.0,1,2,2,1,1
1,10416057935,3,6.638586,1,1,,,,,,...,4,2,28,2,2.0,1,2,2,5,1
2,10416057935,3,6.638586,1,1,,,,,,...,4,3,8,3,2.0,1,1,1,4,4
3,10416057935,3,6.638586,1,1,,,,,,...,4,4,3,3,2.0,2,1,1,3,4
4,10417058327,3,6.411419,1,1,,,,,,...,4,1,40,1,1.0,1,2,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64730,13006383838,2,7.675848,1,2,,,1,1,,...,30,2,51,2,2.0,1,2,1,5,1
64731,13006383838,2,7.675848,1,2,,,1,1,,...,30,3,23,3,1.0,1,2,1,1,4
64732,13006383841,2,7.675848,1,1,,,,,,...,30,1,34,1,1.0,1,2,4,1,1
64733,13006383841,2,7.675848,1,1,,,,,,...,30,2,30,2,2.0,1,2,4,5,1
64734,13006383841,2,7.675848,1,1,,,,,,...,30,3,3,3,1.0,2,1,1,1,4

In [18]:
ndaU1401 = ndaU1401.drop(columns=['TakmilDescA', 'TakmilDescB', 'TakmilDescC', 'Jaygozin', 'JaygozinDescA','JaygozinDescB'])

In [19]:
ndaU1401

,Address,Fasl,weight,khanevartype,Takmil,town,province_encoded,member,age,relation_encoded,gender_encoded,literacy_encoded,studying_encoded,degree_encoded,occupationalst_encoded,maritalst_encoded
0,10416057935,3,6.638586,1,1,16,4,1,39,1,1.0,1,2,2,1,1
1,10416057935,3,6.638586,1,1,16,4,2,28,2,2.0,1,2,2,5,1
2,10416057935,3,6.638586,1,1,16,4,3,8,3,2.0,1,1,1,4,4
3,10416057935,3,6.638586,1,1,16,4,4,3,3,2.0,2,1,1,3,4
4,10417058327,3,6.411419,1,1,1,4,1,40,1,1.0,1,2,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64730,13006383838,2,7.675848,1,2,6,30,2,51,2,2.0,1,2,1,5,1
64731,13006383838,2,7.675848,1,2,6,30,3,23,3,1.0,1,2,1,1,4
64732,13006383841,2,7.675848,1,1,6,30,1,34,1,1.0,1,2,4,1,1
64733,13006383841,2,7.675848,1,1,6,30,2,30,2,2.0,1,2,4,5,1
64734,13006383841,2,7.675848,1,1,6,30,3,3,3,1.0,2,1,1,1,4

In [21]:
P2R99.dropna(axis=1, inplace=True)
#یسری ستون غیر انکد شده بوده ک دراپ شدن

In [22]:
P2U99.dropna(axis=1, inplace=True)

In [23]:
P2R1401.dropna(axis=1, inplace=True)

In [24]:
P2U1401.dropna(axis=1, inplace=True)

In [25]:
daR99 = ndaR99.merge(P2R99, on='Address', how='left')
daR99

,Address,MahMorajeh,Fasl,weight,khanevartype,Takmil,town,province_encoded,member,age,...,centralcooling,centralheating,package,split,wastewater,tenure_encoded,Material_encoded,cookingFuel_encoded,HeatingFuel_encoded,waterheatingfuel_encoded
0,20001383916,5,2,5.142311,1,1,1,0,1,41,...,0.0,0.0,0.0,0.0,0.0,3.0,6.0,1.0,1.0,1.0
1,20001383916,5,2,5.142311,1,1,1,0,2,29,...,0.0,0.0,0.0,0.0,0.0,3.0,6.0,1.0,1.0,1.0
2,20001383916,5,2,5.142311,1,1,1,0,3,14,...,0.0,0.0,0.0,0.0,0.0,3.0,6.0,1.0,1.0,1.0
3,20001383916,5,2,5.142311,1,1,1,0,4,11,...,0.0,0.0,0.0,0.0,0.0,3.0,6.0,1.0,1.0,1.0
4,20001383917,5,2,5.142311,1,1,1,0,1,38,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63284,23006709829,1,4,4.392163,1,2,6,30,2,40,...,0.0,0.0,1.0,0.0,0.0,4.0,1.0,1.0,1.0,1.0
63285,23006709829,1,4,4.392163,1,2,6,30,3,19,...,0.0,0.0,1.0,0.0,0.0,4.0,1.0,1.0,1.0,1.0
63286,23006709829,1,4,4.392163,1,2,6,30,4,14,...,0.0,0.0,1.0,0.0,0.0,4.0,1.0,1.0,1.0,1.0
63287,23006709829,1,4,4.392163,1,2,6,30,5,8,...,0.0,0.0,1.0,0.0,0.0,4.0,1.0,1.0,1.0,1.0
63288,23006709829,1,4,4.392163,1,2,6,30,6,4,...,0.0,0.0,1.0,0.0,0.0,4.0,1.0,1.0,1.0,1.0

In [26]:
daU99 = ndaU99.merge(P2U99, on='Address', how='left')
daU99

,Address,MahMorajeh,Fasl,weight,khanevartype,Takmil,town,province_encoded,member,age,...,centralcooling,centralheating,package,split,wastewater,tenure_encoded,Material_encoded,cookingFuel_encoded,HeatingFuel_encoded,waterheatingfuel_encoded
0,10001000113,11,4,7.109056,1,2,1,0,1,71,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
1,10001000113,11,4,7.109056,1,2,1,0,2,41,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
2,10001000113,11,4,7.109056,1,2,1,0,3,37,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
3,10001000113,11,4,7.109056,1,2,1,0,4,35,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
4,10001000116,11,4,7.109056,1,1,1,0,1,54,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65661,13006383826,7,2,7.626608,1,1,6,30,3,17,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
65662,13006383826,7,2,7.626608,1,1,6,30,4,13,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
65663,13006383826,7,2,7.626608,1,1,6,30,5,9,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
65664,13006383829,7,2,7.626608,1,2,6,30,1,63,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
65665,13006383829,7,2,7.626608,1,2,6,30,2,60,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0

In [27]:
daR1401 = ndaR1401.merge(P2R1401, on='Address', how='left')
daR1401

,Address,Fasl,weight,khanevartype,Takmil,town,province_encoded,member,age,relation_encoded,...,evapcooling,centralcooling,centralheating,package,split,wastewater,tenure_encoded,Material_encoded,cookingFuel_encoded,waterheatingfuel_encoded
0,20916495838,1,6.834084,1,1,16,9,1,52,1,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0
1,20916495838,1,6.834084,1,1,16,9,2,46,2,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0
2,20916495838,1,6.834084,1,1,16,9,3,21,3,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0
3,20916495838,1,6.834084,1,1,16,9,4,21,3,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0
4,20916495841,1,6.834084,1,1,16,9,1,60,1,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61738,20916495832,1,6.834084,1,1,16,9,3,16,3,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0
61739,20916495832,1,6.834084,1,1,16,9,4,10,3,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0
61740,20916495832,1,6.834084,1,1,16,9,5,3,3,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0
61741,20916495836,1,6.834084,1,1,16,9,1,57,1,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0
61742,20916495836,1,6.834084,1,1,16,9,2,56,2,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0

In [28]:
daU1401 = ndaU1401.merge(P2U1401, on='Address', how='left')
daU1401

,Address,Fasl,weight,khanevartype,Takmil,town,province_encoded,member,age,relation_encoded,...,centralcooling,centralheating,package,split,wastewater,tenure_encoded,Material_encoded,cookingFuel_encoded,HeatingFuel_encoded,waterheatingfuel_encoded
0,10416057935,3,6.638586,1,1,16,4,1,39,1,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
1,10416057935,3,6.638586,1,1,16,4,2,28,2,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
2,10416057935,3,6.638586,1,1,16,4,3,8,3,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
3,10416057935,3,6.638586,1,1,16,4,4,3,3,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
4,10417058327,3,6.411419,1,1,1,4,1,40,1,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64730,13006383838,2,7.675848,1,2,6,30,2,51,2,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
64731,13006383838,2,7.675848,1,2,6,30,3,23,3,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
64732,13006383841,2,7.675848,1,1,6,30,1,34,1,...,0.0,0.0,0.0,0.0,0.0,3.0,1.0,1.0,1.0,1.0
64733,13006383841,2,7.675848,1,1,6,30,2,30,2,...,0.0,0.0,0.0,0.0,0.0,3.0,1.0,1.0,1.0,1.0
64734,13006383841,2,7.675848,1,1,6,30,3,3,3,...,0.0,0.0,0.0,0.0,0.0,3.0,1.0,1.0,1.0,1.0

In [29]:
daR99.isna().sum()

Address                        0
MahMorajeh                     0
Fasl                           0
weight                         0
khanevartype                   0
                            ...
tenure_encoded              2484
Material_encoded            2484
cookingFuel_encoded         2484
HeatingFuel_encoded         2484
waterheatingfuel_encoded    2484
Length: 61, dtype: int64

In [33]:
for column in daR99.columns:
    mode_value = daR99[column].mode()
    if not mode_value.empty:  # مطمئن شوید که مد وجود دارد
        daR99[column].fillna(mode_value[0], inplace=True)

In [34]:
for column in daU99.columns:
    mode_value = daU99[column].mode()
    if not mode_value.empty:  # مطمئن شوید که مد وجود دارد
        daU99[column].fillna(mode_value[0], inplace=True)

In [35]:
for column in daR1401.columns:
    mode_value = daR1401[column].mode()
    if not mode_value.empty:  # مطمئن شوید که مد وجود دارد
        daR1401[column].fillna(mode_value[0], inplace=True)

In [36]:
for column in daU1401.columns:
    mode_value = daU1401[column].mode()
    if not mode_value.empty:  # مطمئن شوید که مد وجود دارد
        daU1401[column].fillna(mode_value[0], inplace=True)

In [37]:
foodgR99 = FoodR99.groupby('Address').agg({'value': 'sum'}).reset_index()
foodgR99.rename({'value': 'foodR99_value'}, axis=1, inplace=True)

In [40]:
foodgU99 = FoodU99.groupby('Address').agg({'value': 'sum'}).reset_index()
foodgR99.rename({'value': 'foodU99_value'}, axis=1, inplace=True)

In [41]:
foodgR1401 = FoodR1401.groupby('Address').agg({'value': 'sum'}).reset_index()
foodgR1401.rename({'value': 'foodR1401_value'}, axis=1, inplace=True)

In [42]:
foodgU1401 = FoodU1401.groupby('Address').agg({'value': 'sum'}).reset_index()
foodgU1401.rename({'value': 'foodU1401_value'}, axis=1, inplace=True)

In [43]:
daR99 = daR99.merge(foodgR99, how='left', on='Address')

In [48]:
daU99 = daU99.merge(foodgU99, how='left', on='Address')

In [49]:
daR1401 = daR99.merge(foodgR1401, how='left', on='Address')

In [50]:
daU1401 = daU99.merge(foodgU1401, how='left', on='Address')

In [46]:
daR99.fillna(daR99.mean(), inplace=True)

In [51]:
daU99.fillna(daU99.mean(), inplace=True)

In [52]:
daR1401.fillna(daR1401.mean(), inplace=True)

In [53]:
daU1401.fillna(daU1401.mean(), inplace=True)

In [47]:
daR99.isna().sum()

Address                     0
MahMorajeh                  0
Fasl                        0
weight                      0
khanevartype                0
                           ..
Material_encoded            0
cookingFuel_encoded         0
HeatingFuel_encoded         0
waterheatingfuel_encoded    0
foodR99_value               0
Length: 62, dtype: int64

In [54]:
tobgR99 = TobaccoR99.groupby('Address').agg({'value': 'sum'}).reset_index()
tobgR99.rename({'value': 'tobaR99_value'}, axis=1, inplace=True)

In [55]:
tobgU99 = TobaccoU99.groupby('Address').agg({'value': 'sum'}).reset_index()
tobgU99.rename({'value': 'tobaU99_value'}, axis=1, inplace=True)

In [56]:
tobgR1401 = TobaccoR1401.groupby('Address').agg({'value': 'sum'}).reset_index()
tobgR1401.rename({'value': 'tobaR1401_value'}, axis=1, inplace=True)

In [57]:
tobgU1401 = TobaccoU1401.groupby('Address').agg({'value': 'sum'}).reset_index()
tobgU1401.rename({'value': 'tobaU1401_value'}, axis=1, inplace=True)

In [58]:
daR99 = daR99.merge(tobgR99, how='left', on='Address')

In [59]:
daU99 = daU99.merge(tobgU99, how='left', on='Address')

In [60]:
daR1401 = daR1401.merge(tobgR1401, how='left', on='Address')

In [61]:
daU1401 = daU1401.merge(tobgU1401, how='left', on='Address')

In [62]:
daR99.fillna(0, inplace=True)

In [63]:
daU99.fillna(0, inplace=True)

In [64]:
daR1401.fillna(0, inplace=True)

In [65]:
daU1401.fillna(0, inplace=True)

In [66]:
clothgR99 = ClothingR99.groupby('Address').agg({'value': 'sum'}).reset_index()
clothgR99.rename({'value': 'clothR99_value'}, axis=1, inplace=True)

In [67]:
clothgU99 = ClothingU99.groupby('Address').agg({'value': 'sum'}).reset_index()
clothgU99.rename({'value': 'clothU99_value'}, axis=1, inplace=True)

In [68]:
clothgR1401 = ClothingR1401.groupby('Address').agg({'value': 'sum'}).reset_index()
clothgR1401.rename({'value': 'clothR1401_value'}, axis=1, inplace=True)

In [69]:
clothgU1401 = ClothingU1401.groupby('Address').agg({'value': 'sum'}).reset_index()
clothgU1401.rename({'value': 'clothU1401_value'}, axis=1, inplace=True)

In [70]:
daR99 = daR99.merge(clothgR99, how='left', on='Address')

In [71]:
daU99 = daU99.merge(clothgU99, how='left', on='Address')

In [72]:
daR1401 = daR1401.merge(clothgR1401, how='left', on='Address')

In [73]:
daU1401 = daU1401.merge(clothgU1401, how='left', on='Address')

In [74]:
for column in daR99.columns:
    mode_value = daR99[column].mode()
    if not mode_value.empty:  # مطمئن شوید که مد وجود دارد
        daR99[column].fillna(mode_value[0], inplace=True)

In [76]:
for column in daU99.columns:
    mode_value = daU99[column].mode()
    if not mode_value.empty:  # مطمئن شوید که مد وجود دارد
        daU99[column].fillna(mode_value[0], inplace=True)

In [77]:
for column in daR1401.columns:
    mode_value = daR1401[column].mode()
    if not mode_value.empty:  # مطمئن شوید که مد وجود دارد
        daR1401[column].fillna(mode_value[0], inplace=True)

In [78]:
for column in daU1401.columns:
    mode_value = daU1401[column].mode()
    if not mode_value.empty:  # مطمئن شوید که مد وجود دارد
        daU1401[column].fillna(mode_value[0], inplace=True)

In [79]:
housegR99 = HousingR99.groupby('Address').agg({'value': 'sum'}).reset_index()
housegR99.rename({'value': 'houseR99_value'}, axis=1, inplace=True)

In [80]:
housegU99 = HousingU99.groupby('Address').agg({'value': 'sum'}).reset_index()
housegU99.rename({'value': 'houseU99_value'}, axis=1, inplace=True)

In [81]:
housegR1401 = HousingR1401.groupby('Address').agg({'value': 'sum'}).reset_index()
housegR1401.rename({'value': 'houseR1401_value'}, axis=1, inplace=True)

In [82]:
housegU1401 = HousingU1401.groupby('Address').agg({'value': 'sum'}).reset_index()
housegU1401.rename({'value': 'houseU1401_value'}, axis=1, inplace=True)

In [83]:
daR99 = daR99.merge(housegR99, how='left', on='Address')

In [84]:
daU99 = daU99.merge(housegU99, how='left', on='Address')

In [85]:
daR1401 = daR1401.merge(housegR1401, how='left', on='Address')

In [86]:
daU1401 = daU1401.merge(housegU1401, how='left', on='Address')

In [ ]:
#da.fillna(-1, inplace=True)آدرسی هزینه رهن نداره نباید تاثیر منفی بزاره.معمولا خونه از پدر و مادر منوده شاید مثلا

In [87]:
daR99.isna().sum()

Address                         0
MahMorajeh                      0
Fasl                            0
weight                          0
khanevartype                    0
                            ...
waterheatingfuel_encoded        0
foodR99_value                   0
tobaR99_value                   0
clothR99_value                  0
houseR99_value              60935
Length: 65, dtype: int64

In [88]:
daR99.fillna(0, inplace=True)

In [89]:
daU99.fillna(0, inplace=True)

In [90]:
daR1401.fillna(0, inplace=True)

In [91]:
daU1401.fillna(0, inplace=True)

In [92]:
furngR99 = FurnitureR99.groupby('Address').agg({'value': 'sum'}).reset_index()
furngR99.rename({'value': 'furnitureR99_value'}, axis=1, inplace=True)

In [93]:
furngU99 = FurnitureU99.groupby('Address').agg({'value': 'sum'}).reset_index()
furngU99.rename({'value': 'furnitureU99_value'}, axis=1, inplace=True)

In [94]:
furngR1401 = FurnitureR1401.groupby('Address').agg({'value': 'sum'}).reset_index()
furngR1401.rename({'value': 'furnitureR1401_value'}, axis=1, inplace=True)

In [95]:
furngU1401 = FurnitureU1401.groupby('Address').agg({'value': 'sum'}).reset_index()
furngU1401.rename({'value': 'furnitureU1401_value'}, axis=1, inplace=True)

In [96]:
daR99 = daR99.merge(furngR99, how='left', on='Address')
daR99.fillna(0, inplace=True)

In [98]:
daU99 = daU99.merge(furngU99, how='left', on='Address')
daU99.fillna(0, inplace=True)

In [101]:
daR1401 = daR1401.merge(furngR1401, how='left', on='Address')
daR1401.fillna(0, inplace=True)

In [102]:
daU1401 = daU1401.merge(furngU1401, how='left', on='Address')
daU1401.fillna(0, inplace=True)

In [104]:
healthgR99 = HealthR99.groupby('Address').agg({'value': 'sum'}).reset_index()
healthgR99.rename({'value': 'healthR99_value'}, axis=1, inplace=True)

In [105]:
healthgU99 = HealthU99.groupby('Address').agg({'value': 'sum'}).reset_index()
healthgU99.rename({'value': 'healthU99_value'}, axis=1, inplace=True)

In [106]:
healthgR1401 = HealthR1401.groupby('Address').agg({'value': 'sum'}).reset_index()
healthgR1401.rename({'value': 'healthR1401_value'}, axis=1, inplace=True)

In [107]:
healthgU1401 = HealthU1401.groupby('Address').agg({'value': 'sum'}).reset_index()
healthgU1401.rename({'value': 'healthU1401_value'}, axis=1, inplace=True)

In [108]:
daR99 = daR99.merge(healthgR99, how='left', on='Address')
daR99.fillna(0, inplace=True)

In [113]:
daU99 = daU99.merge(healthgU99, how='left', on='Address')
daU99.fillna(0, inplace=True)

In [112]:
daR1401 = daR1401.merge(healthgR1401, how='left', on='Address')
daR1401.fillna(0, inplace=True)

In [111]:
daU1401 = daU1401.merge(healthgU1401, how='left', on='Address')
daU1401.fillna(0, inplace=True)

In [117]:
transgR99 = TransportR99.groupby('Address').agg({'value': 'sum'}).reset_index()
transgR99.rename({'value': 'transportR99_value'}, axis=1, inplace=True)

In [118]:
transgU99 = TransportU99.groupby('Address').agg({'value': 'sum'}).reset_index()
transgU99.rename({'value': 'transportU99_value'}, axis=1, inplace=True)

In [119]:
transgR1401 = TransportR1401.groupby('Address').agg({'value': 'sum'}).reset_index()
transgR1401.rename({'value': 'transportR1401_value'}, axis=1, inplace=True)

In [120]:
transgU1401 = TransportU1401.groupby('Address').agg({'value': 'sum'}).reset_index()
transgU1401.rename({'value': 'transportU1401_value'}, axis=1, inplace=True)

In [121]:
daR99 = daR99.merge(transgR99, how='left', on='Address')

In [122]:
daU99 = daU99.merge(transgU99, how='left', on='Address')

In [123]:
daR1401 = daR1401.merge(transgR1401, how='left', on='Address')

In [124]:
daU1401 = daU1401.merge(transgU1401, how='left', on='Address')

In [132]:
def fill_na_with_mode(row, df, province_encoded, target_column):
    mode_value = df[df[province_encoded] == row[province_encoded]][target_column].mode()
    if not mode_value.empty:
        return mode_value[0]

    return row[target_column]


daR99 ['transportR99_value'] = daR99.apply(lambda row: fill_na_with_mode(row, daR99, 'province_encoded', 'transportR99_value') if pd.isna(row['transportR99_value']) else row['transportR99_value'], axis=1)

In [133]:
daU99 ['transportU99_value'] = daU99.apply(lambda row: fill_na_with_mode(row, daU99, 'province_encoded', 'transportU99_value') if pd.isna(row['transportU99_value']) else row['transportU99_value'], axis=1)

In [134]:
daR1401 ['transportR1401_value'] = daR1401.apply(lambda row: fill_na_with_mode(row, daR1401, 'province_encoded', 'transportR1401_value') if pd.isna(row['transportR1401_value']) else row['transportR1401_value'], axis=1)

In [135]:
daU1401 ['transportU1401_value'] = daU1401.apply(lambda row: fill_na_with_mode(row, daU1401, 'province_encoded', 'transportU1401_value') if pd.isna(row['transportU1401_value']) else row['transportU1401_value'], axis=1)

In [136]:
daR99.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63289 entries, 0 to 63288
Data columns (total 68 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Address                   63289 non-null  int64
 1   MahMorajeh                63289 non-null  int64
 2   Fasl                      63289 non-null  int64
 3   weight                    63289 non-null  float64
 4   khanevartype              63289 non-null  int64
 5   Takmil                    63289 non-null  int64
 6   town                      63289 non-null  int64
 7   province_encoded          63289 non-null  int64
 8   member                    63289 non-null  int64
 9   age                       63289 non-null  int64
 10  relation_encoded          63289 non-null  int64
 11  gender_encoded            63289 non-null  int64
 12  literacy_encoded          63289 non-null  int64
 13  studying_encoded          63289 non-null  int64
 14  degree_encoded            63289 non-null  int64
 15  occupationalst_encoded    63289 non-null  int64
 16  maritalst_encoded         63289 non-null  int64
 17  room                      63289 non-null  float64
 18  space                     63289 non-null  float64
 19  construction              63289 non-null  float64
 20  vehicle                   63289 non-null  float64
 21  motorcycle                63289 non-null  float64
 22  bicycle                   63289 non-null  float64
 23  radio                     63289 non-null  float64
 24  radiotape                 63289 non-null  float64
 25  TVbw                      63289 non-null  float64
 26  TV                        63289 non-null  float64
 27  VHS_VCD_DVD               63289 non-null  float64
 28  computer                  63289 non-null  float64
 29  cellphone                 63289 non-null  float64
 30  freezer                   63289 non-null  float64
 31  refridgerator             63289 non-null  float64
 32  fridge                    63289 non-null  float64
 33  stove                     63289 non-null  float64
 34  vacuum                    63289 non-null  float64
 35  washingmachine            63289 non-null  float64
 36  sewingmachine             63289 non-null  float64
 37  fan                       63289 non-null  float64
 38  evapcoolingportable       63289 non-null  float64
 39  splitportable             63289 non-null  float64
 40  dishwasher                63289 non-null  float64
 41  microwave                 63289 non-null  float64
 42  none                      63289 non-null  float64
 43  pipewater                 63289 non-null  float64
 44  electricity               63289 non-null  float64
 45  pipegas                   63289 non-null  float64
 46  telephone                 63289 non-null  float64
 47  internet                  63289 non-null  float64
 48  bathroom                  63289 non-null  float64
 49  kitchen                   63289 non-null  float64
 50  evapcooling               63289 non-null  float64
 51  centralcooling            63289 non-null  float64
 52  centralheating            63289 non-null  float64
 53  package                   63289 non-null  float64
 54  split                     63289 non-null  float64
 55  wastewater                63289 non-null  float64
 56  tenure_encoded            63289 non-null  float64
 57  Material_encoded          63289 non-null  float64
 58  cookingFuel_encoded       63289 non-null  float64
 59  HeatingFuel_encoded       63289 non-null  float64
 60  waterheatingfuel_encoded  63289 non-null  float64
 61  foodR99_value             63289 non-null  float64
 62  tobaR99_value             63289 non-null  float64
 63  clothR99_value            63289 non-null  float64
 64  houseR99_value            63289 non-null  float64
 65  furnitureR99_value        63289 non-null  float64
 66  healthR99_value           63289 non-null  float64
 67  transportR99_value        63289 non-null  float64
dtypes: float64(52), int64(16)
memory usage: 32.8 MB

In [137]:
commgR99 = CommR99.groupby('Address').agg({'value': 'sum'}).reset_index()
commgR99.rename({'value': 'commR99_value'}, axis=1, inplace=True)

In [138]:
commgU99 = CommU99.groupby('Address').agg({'value': 'sum'}).reset_index()
commgU99.rename({'value': 'commU99_value'}, axis=1, inplace=True)

In [139]:
commgR1401 = CommR1401.groupby('Address').agg({'value': 'sum'}).reset_index()
commgR1401.rename({'value': 'commR1401_value'}, axis=1, inplace=True)

In [140]:
commgU1401 = CommU1401.groupby('Address').agg({'value': 'sum'}).reset_index()
commgU1401.rename({'value': 'commU1401_value'}, axis=1, inplace=True)

In [141]:
daR99 = daR99.merge(commgR99, how='left', on='Address')

In [143]:
daR99.fillna(0, inplace=True)

In [144]:
daU99 = daU99.merge(commgU99, how='left', on='Address')

In [146]:
daU99.fillna(0, inplace=True)

In [147]:
daR1401 = daR1401.merge(commgR1401, how='left', on='Address')
daR1401.fillna(0, inplace=True)

In [148]:
daU1401 = daU1401.merge(commgU1401, how='left', on='Address')
daU1401.fillna(0, inplace=True)

In [149]:
recrgR99 = RecrR99.groupby('Address').agg({'value': 'sum'}).reset_index()
recrgR99.rename({'value': 'recrR99_value'}, axis=1, inplace=True)

In [150]:
recrgU99 = RecrU99.groupby('Address').agg({'value': 'sum'}).reset_index()
recrgU99.rename({'value': 'recrU99_value'}, axis=1, inplace=True)

In [151]:
recrgR1401 = RecrR1401.groupby('Address').agg({'value': 'sum'}).reset_index()
recrgR1401.rename({'value': 'recrR1401_value'}, axis=1, inplace=True)

In [152]:
recrgU1401 = RecrU1401.groupby('Address').agg({'value': 'sum'}).reset_index()
recrgU1401.rename({'value': 'recrU1401_value'}, axis=1, inplace=True)

In [153]:
daR99 = daR99.merge(recrgR99, how='left', on='Address')
daR99.fillna(0, inplace=True)

In [154]:
daU99 = daU99.merge(recrgU99, how='left', on='Address')
daU99.fillna(0, inplace=True)

In [155]:
daR1401 = daR1401.merge(recrgR1401, how='left', on='Address')
daR1401.fillna(0, inplace=True)

In [156]:
daU1401 = daU1401.merge(recrgU1401, how='left', on='Address')
daU1401.fillna(0, inplace=True)

توی نامگذاری شیت ها یه مشکلی که هست اینه که شیتی که اسمش شده تحصیلات درواقع خالی بوده. ps11 هتل هست

In [157]:
hotelgR99 = EducationR99.groupby('Address').agg({'value': 'sum'}).reset_index()
hotelgR99.rename({'value': 'hotelR99_value'}, axis=1, inplace=True)

In [158]:
hotelgU99 = EducationU99.groupby('Address').agg({'value': 'sum'}).reset_index()
hotelgU99.rename({'value': 'hotelU99_value'}, axis=1, inplace=True)

In [159]:
hotelgR1401 = EducationR1401.groupby('Address').agg({'value': 'sum'}).reset_index()
hotelgR1401.rename({'value': 'hotelR1401_value'}, axis=1, inplace=True)

In [160]:
hotelgU1401 = EducationU1401.groupby('Address').agg({'value': 'sum'}).reset_index()
hotelgU1401.rename({'value': 'hotelU1401_value'}, axis=1, inplace=True)

In [161]:
daR99 = daR99.merge(hotelgR99, how='left', on='Address')
daR99.fillna(0, inplace=True)

In [162]:
daU99 = daU99.merge(hotelgU99, how='left', on='Address')
daU99.fillna(0, inplace=True)

In [163]:
daR1401 = daR1401.merge(hotelgR1401, how='left', on='Address')
daR1401.fillna(0, inplace=True)

In [164]:
daU1401 = daU1401.merge(hotelgU1401, how='left', on='Address')
daU1401.fillna(0, inplace=True)

In [165]:
miscgR99 = HotelR99.groupby('Address').agg({'value': 'sum'}).reset_index()
miscgR99.rename({'value': 'miscellaneousR99_value'}, axis=1, inplace=True)

In [166]:
miscgU99 = HotelU99.groupby('Address').agg({'value': 'sum'}).reset_index()
miscgU99.rename({'value': 'miscellaneousU99_value'}, axis=1, inplace=True)

In [167]:
miscgR1401 = HotelR1401.groupby('Address').agg({'value': 'sum'}).reset_index()
miscgR1401.rename({'value': 'miscellaneousR1401_value'}, axis=1, inplace=True)

In [168]:
miscgU1401 = HotelU1401.groupby('Address').agg({'value': 'sum'}).reset_index()
miscgU1401.rename({'value': 'miscellaneousU1401_value'}, axis=1, inplace=True)

In [169]:
daR99 = daR99.merge(miscgR99, how='left', on='Address')
daR99.fillna(0, inplace=True)

In [170]:
daU99 = daU99.merge(miscgU99, how='left', on='Address')
daU99.fillna(0, inplace=True)

In [171]:
daR1401 = daR1401.merge(miscgR1401, how='left', on='Address')
daR1401.fillna(0, inplace=True)

In [172]:
daU1401 = daU1401.merge(miscgU1401, how='left', on='Address')
daU1401.fillna(0, inplace=True)

In [173]:
expendgR99 = MiscR99.groupby('Address').agg({'value': 'sum'}).reset_index()
expendgR99.rename({'value': 'expenditureR99_value'}, axis=1, inplace=True)

In [174]:
expendgU99 = MiscU99.groupby('Address').agg({'value': 'sum'}).reset_index()
expendgU99.rename({'value': 'expenditureU99_value'}, axis=1, inplace=True)

In [175]:
expendgR1401 = MiscR1401.groupby('Address').agg({'value': 'sum'}).reset_index()
expendgR1401.rename({'value': 'expenditureR1401_value'}, axis=1, inplace=True)

In [176]:
expendgU1401 = MiscU1401.groupby('Address').agg({'value': 'sum'}).reset_index()
expendgU1401.rename({'value': 'expenditureU1401_value'}, axis=1, inplace=True)

In [177]:
daR99 = daR99.merge(expendgR99, how='left', on='Address')

In [184]:
for column in daR99.columns:
    mode_value = daR99[column].mode()
    if not mode_value.empty:
        daR99[column].fillna(mode_value[0], inplace=True)

In [178]:
daU99 = daU99.merge(expendgU99, how='left', on='Address')

In [186]:
for column in daU99.columns:
    mode_value = daU99[column].mode()
    if not mode_value.empty:
        daU99[column].fillna(mode_value[0], inplace=True)

In [179]:
daR1401 = daR1401.merge(expendgR1401, how='left', on='Address')

In [187]:
for column in daR1401.columns:
    mode_value = daR1401[column].mode()
    if not mode_value.empty:
        daR1401[column].fillna(mode_value[0], inplace=True)

In [180]:
daU1401 = daU1401.merge(expendgU1401, how='left', on='Address')

In [188]:
for column in daU1401.columns:
    mode_value = daU1401[column].mode()
    if not mode_value.empty:
        daU1401[column].fillna(mode_value[0], inplace=True)

In [189]:
invgR99 = InvesR99.groupby('Address').agg({'value': 'sum'}).reset_index()
invgR99.rename({'value': 'investR99_value'}, axis=1, inplace=True)

In [190]:
invgU99 = InvesU99.groupby('Address').agg({'value': 'sum'}).reset_index()
invgU99.rename({'value': 'investU99_value'}, axis=1, inplace=True)

In [191]:
invgR1401 = InvesR1401.groupby('Address').agg({'value': 'sum'}).reset_index()
invgR1401.rename({'value': 'investR1401_value'}, axis=1, inplace=True)

In [192]:
invgU1401 = InvesU1401.groupby('Address').agg({'value': 'sum'}).reset_index()
invgU1401.rename({'value': 'investU1401_value'}, axis=1, inplace=True)

In [193]:
daR99 = daR99.merge(invgR99, how='left', on='Address')
daR99.fillna(0, inplace=True)

In [194]:
daU99 = daU99.merge(invgU99, how='left', on='Address')
daU99.fillna(0, inplace=True)

In [195]:
daR1401 = daR1401.merge(invgR1401, how='left', on='Address')
daR1401.fillna(0, inplace=True)

In [196]:
daU1401 = daU1401.merge(invgU1401, how='left', on='Address')
daU1401.fillna(0, inplace=True)

In [203]:
yR99 = daR99.transportR99_value
XR99 = daR99.drop(columns=['transportR99_value', 'Address'])

In [204]:
yU99 = daU99.transportU99_value
XU99 = daU99.drop(columns=['transportU99_value', 'Address'])

In [205]:
yR1401 = daR1401.transportR1401_value
XR1401 = daR1401.drop(columns=['transportR1401_value', 'Address'])

In [206]:
yU1401 = daU1401.transportU1401_value
XU1401 = daU1401.drop(columns=['transportU1401_value', 'Address'])

In [207]:
import numpy as np

In [208]:
XR99 = XR99.replace(' ', np.nan).dropna()

In [209]:
XU99 = XU99.replace(' ', np.nan).dropna()

In [210]:
XR1401 = XR1401.replace(' ', np.nan).dropna()

In [211]:
XU1401 = XU1401.replace(' ', np.nan).dropna()

In [212]:
XR99 = XR99.apply(pd.to_numeric, errors='coerce')

In [213]:
XU99 = XU99.apply(pd.to_numeric, errors='coerce')

In [214]:
XR1401 = XR1401.apply(pd.to_numeric, errors='coerce')

In [215]:
XU1401 = XU1401.apply(pd.to_numeric, errors='coerce')

In [217]:
XR99 = XR99.dropna()

In [218]:
XU99 = XU99.dropna()

In [219]:
XR1401 = XR1401.dropna()

In [220]:
XU1401 = XU1401.dropna()

In [223]:
from sklearn.feature_selection import VarianceThreshold

sel = VarianceThreshold(threshold=(.8 * (1 - .8)))
X_varR99 = sel.fit_transform(XR99)

/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:88: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

In [224]:
sel = VarianceThreshold(threshold=(.8 * (1 - .8)))
X_varU99 = sel.fit_transform(XU99)

/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:88: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

In [225]:
sel = VarianceThreshold(threshold=(.8 * (1 - .8)))
X_varR1401 = sel.fit_transform(XR1401)

/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:88: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

In [226]:
sel = VarianceThreshold(threshold=(.8 * (1 - .8)))
X_varU1401 = sel.fit_transform(XU1401)

/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:88: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

In [234]:
from sklearn.feature_selection import VarianceThreshold


threshold_value = .8 * (1 - .8)


sel = VarianceThreshold(threshold=threshold_value)
X_varR99 = sel.fit_transform(XR99)


mask = sel.get_support()


print("طول ماسک:", len(mask))
print("طول ستون‌های XR99:", len(XR99.columns))

if len(mask) == len(XR99.columns):
    selected_featuresR99 = XR99.columns[mask]
    print("ویژگی‌های انتخاب شده بر اساس آستانه واریانس:", selected_featuresR99)
else:
    print("اختلاف در طول‌ها: اطمینان حاصل کنید که داده‌ها سازگار هستند.")

طول ماسک: 72
طول ستون‌های XR99: 72
ویژگی‌های انتخاب شده بر اساس آستانه واریانس: Index(['MahMorajeh', 'Fasl', 'weight', 'Takmil', 'town', 'province_encoded',
       'member', 'age', 'relation_encoded', 'gender_encoded',
       'literacy_encoded', 'studying_encoded', 'degree_encoded',
       'occupationalst_encoded', 'maritalst_encoded', 'room', 'space',
       'construction', 'vehicle', 'motorcycle', 'refridgerator', 'fridge',
       'vacuum', 'washingmachine', 'sewingmachine', 'fan', 'telephone',
       'internet', 'evapcooling', 'tenure_encoded', 'Material_encoded',
       'cookingFuel_encoded', 'HeatingFuel_encoded',
       'waterheatingfuel_encoded', 'foodR99_value', 'tobaR99_value',
       'clothR99_value', 'houseR99_value', 'furnitureR99_value',
       'healthR99_value', 'commR99_value', 'recrR99_value', 'hotelR99_value',
       'miscellaneousR99_value', 'expenditureR99_value', 'investR99_value'],
      dtype='object')

/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:88: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

In [235]:
threshold_value = .8 * (1 - .8)


sel = VarianceThreshold(threshold=threshold_value)
X_varU99 = sel.fit_transform(XU99)


mask = sel.get_support()


print("طول ماسک:", len(mask))
print("طول ستون‌های XU99:", len(XU99.columns))

if len(mask) == len(XU99.columns):
    selected_featuresU99 = XU99.columns[mask]
    print("ویژگی‌های انتخاب شده بر اساس آستانه واریانس:", selected_featuresU99)
else:
    print("اختلاف در طول‌ها: اطمینان حاصل کنید که داده‌ها سازگار هستند.")

طول ماسک: 72
طول ستون‌های XU99: 72
ویژگی‌های انتخاب شده بر اساس آستانه واریانس: Index(['MahMorajeh', 'Fasl', 'weight', 'Takmil', 'town', 'province_encoded',
       'member', 'age', 'relation_encoded', 'gender_encoded',
       'studying_encoded', 'degree_encoded', 'occupationalst_encoded',
       'maritalst_encoded', 'room', 'space', 'construction', 'vehicle',
       'computer', 'refridgerator', 'fridge', 'sewingmachine', 'fan',
       'telephone', 'evapcooling', 'wastewater', 'tenure_encoded',
       'Material_encoded', 'HeatingFuel_encoded', 'waterheatingfuel_encoded',
       'value', 'tobaU99_value', 'clothU99_value', 'houseU99_value',
       'furnitureU99_value', 'healthU99_value', 'commU99_value',
       'recrU99_value', 'hotelU99_value', 'miscellaneousU99_value',
       'expenditureU99_value', 'investU99_value'],
      dtype='object')

/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:88: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

In [236]:
threshold_value = .8 * (1 - .8)


sel = VarianceThreshold(threshold=threshold_value)
X_varR1401 = sel.fit_transform(XR1401)


mask = sel.get_support()


print("طول ماسک:", len(mask))
print("طول ستون‌های XR1401:", len(XR1401.columns))

if len(mask) == len(XR1401.columns):
    selected_featuresR1401 = XR1401.columns[mask]
    print("ویژگی‌های انتخاب شده بر اساس آستانه واریانس:", selected_featuresR1401)
else:
    print("اختلاف در طول‌ها: اطمینان حاصل کنید که داده‌ها سازگار هستند.")

طول ماسک: 73
طول ستون‌های XR1401: 73
ویژگی‌های انتخاب شده بر اساس آستانه واریانس: Index(['MahMorajeh', 'Fasl', 'weight', 'Takmil', 'town', 'province_encoded',
       'member', 'age', 'relation_encoded', 'gender_encoded',
       'literacy_encoded', 'studying_encoded', 'degree_encoded',
       'occupationalst_encoded', 'maritalst_encoded', 'room', 'space',
       'construction', 'vehicle', 'motorcycle', 'refridgerator', 'fridge',
       'vacuum', 'washingmachine', 'sewingmachine', 'fan', 'telephone',
       'internet', 'evapcooling', 'tenure_encoded', 'Material_encoded',
       'cookingFuel_encoded', 'HeatingFuel_encoded',
       'waterheatingfuel_encoded', 'foodR99_value', 'foodR1401_value',
       'tobaR1401_value', 'clothR1401_value', 'houseR1401_value',
       'furnitureR1401_value', 'healthR1401_value', 'commR1401_value',
       'recrR1401_value', 'hotelR1401_value', 'miscellaneousR1401_value',
       'expenditureR1401_value', 'investR1401_value'],
      dtype='object')

/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:88: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

In [237]:
threshold_value = .8 * (1 - .8)


sel = VarianceThreshold(threshold=threshold_value)
X_varU1401 = sel.fit_transform(XU1401)


mask = sel.get_support()


print("طول ماسک:", len(mask))
print("طول ستون‌های XU1401:", len(XU1401.columns))

if len(mask) == len(XU1401.columns):
    selected_featuresU1401 = XU1401.columns[mask]
    print("ویژگی‌های انتخاب شده بر اساس آستانه واریانس:", selected_featuresU1401)
else:
    print("اختلاف در طول‌ها: اطمینان حاصل کنید که داده‌ها سازگار هستند.")

طول ماسک: 73
طول ستون‌های XU1401: 73
ویژگی‌های انتخاب شده بر اساس آستانه واریانس: Index(['MahMorajeh', 'Fasl', 'weight', 'Takmil', 'town', 'province_encoded',
       'member', 'age', 'relation_encoded', 'gender_encoded',
       'studying_encoded', 'degree_encoded', 'occupationalst_encoded',
       'maritalst_encoded', 'room', 'space', 'construction', 'vehicle',
       'computer', 'refridgerator', 'fridge', 'sewingmachine', 'fan',
       'telephone', 'evapcooling', 'wastewater', 'tenure_encoded',
       'Material_encoded', 'HeatingFuel_encoded', 'waterheatingfuel_encoded',
       'value', 'foodU1401_value', 'tobaU1401_value', 'clothU1401_value',
       'houseU1401_value', 'furnitureU1401_value', 'healthU1401_value',
       'commU1401_value', 'recrU1401_value', 'hotelU1401_value',
       'miscellaneousU1401_value', 'expenditureU1401_value',
       'investU1401_value'],
      dtype='object')

/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:88: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

In [238]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor, GradientBoostingRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR

In [239]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.model_selection import KFold, train_test_split, cross_val_score, GridSearchCV, RandomizedSearchCV
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.pipeline import Pipeline

In [240]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

def calculate_vif(X):
    vif_data = pd.DataFrame()
    vif_data["Feature"] = X.columns
    vif_data["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
    return vif_data

vif_data = calculate_vif(pd.DataFrame(X_varR99))
print("Initial VIF values:")
print(vif_data)

def feature_selection_by_vif(X, threshold=6.0):
    high_vif = True
    while high_vif:
        vif_data = calculate_vif(X)
        max_vif = vif_data['VIF'].max()
        if max_vif > threshold:
            max_vif_feature = vif_data.loc[vif_data['VIF'].idxmax(), 'Feature']
            print(f'Removing feature: {max_vif_feature} with VIF: {max_vif}')
            X = X.drop(columns=[max_vif_feature])
        else:
            high_vif = False
    return X, vif_data


XR99_selected, final_vif_dataR99 = feature_selection_by_vif(pd.DataFrame(X_varR99))

print("\nSelected features after VIF reduction:")
print(XR99_selected.columns)

print("\nFinal VIF values:")
print(final_vif_dataR99)

/usr/local/lib/python3.10/dist-packages/statsmodels/regression/linear_model.py:1785: RuntimeWarning: invalid value encountered in scalar divide
  return 1 - self.ssr/self.uncentered_tss

Initial VIF values:
    Feature       VIF
0         0  0.216133
1         1  0.166031
2         2  0.018442
3         3  0.102674
4         4  0.362266
5         5  0.274683
6         6  0.230624
7         7  0.295752
8         8  0.180192
9         9  0.100124
10       10  0.109504
11       11  0.069488
12       12  0.390705
13       13  0.200807
14       14  0.273557
15       15  0.061903
16       16  0.116260
17       17  0.043149
18       18  0.622832
19       19  0.696191
20       20  0.549157
21       21  0.432821
22       22  0.260530
23       23  0.357273
24       24  0.684657
25       25  0.575191
26       26  0.587851
27       27  0.369806
28       28  0.619326
29       29  0.459426
30       30  0.437310
31       31  0.110959
32       32  0.280980
33       33  0.386725
34       34  0.319616
35       35  0.889651
36       36  0.820305
37       37  0.983209
38       38  0.895836
39       39  0.881440
40       40  0.420366
41       41  0.957440
42       42  0.987102
43       43  0.547465
44       44       NaN
45       45  0.978768

/usr/local/lib/python3.10/dist-packages/statsmodels/regression/linear_model.py:1785: RuntimeWarning: invalid value encountered in scalar divide
  return 1 - self.ssr/self.uncentered_tss

Selected features after VIF reduction:
RangeIndex(start=0, stop=46, step=1)

Final VIF values:
    Feature       VIF
0         0  0.216133
1         1  0.166031
2         2  0.018442
3         3  0.102674
4         4  0.362266
5         5  0.274683
6         6  0.230624
7         7  0.295752
8         8  0.180192
9         9  0.100124
10       10  0.109504
11       11  0.069488
12       12  0.390705
13       13  0.200807
14       14  0.273557
15       15  0.061903
16       16  0.116260
17       17  0.043149
18       18  0.622832
19       19  0.696191
20       20  0.549157
21       21  0.432821
22       22  0.260530
23       23  0.357273
24       24  0.684657
25       25  0.575191
26       26  0.587851
27       27  0.369806
28       28  0.619326
29       29  0.459426
30       30  0.437310
31       31  0.110959
32       32  0.280980
33       33  0.386725
34       34  0.319616
35       35  0.889651
36       36  0.820305
37       37  0.983209
38       38  0.895836
39       39  0.881440
40       40  0.420366
41       41  0.957440
42       42  0.987102
43       43  0.547465
44       44       NaN
45       45  0.978768

In [241]:
vif_dataU99 = calculate_vif(pd.DataFrame(X_varU99))
print("Initial VIF values:")
print(vif_dataU99)


XU99_selected, final_vif_dataU99 = feature_selection_by_vif(pd.DataFrame(X_varU99))

print("\nSelected features after VIF reduction:")
print(XU99_selected.columns)

print("\nFinal VIF values:")
print(final_vif_dataU99)

/usr/local/lib/python3.10/dist-packages/statsmodels/regression/linear_model.py:1785: RuntimeWarning: invalid value encountered in scalar divide
  return 1 - self.ssr/self.uncentered_tss

Initial VIF values:
    Feature       VIF
0         0  0.217058
1         1  0.165907
2         2  0.022682
3         3  0.108874
4         4  0.389478
5         5  0.242709
6         6  0.224042
7         7  0.272934
8         8  0.174418
9         9  0.099730
10       10  0.070122
11       11  0.327319
12       12  0.188892
13       13  0.274949
14       14  0.053157
15       15  0.121749
16       16  0.082779
17       17  0.459046
18       18  0.739271
19       19  0.655708
20       20  0.318619
21       21  0.595013
22       22  0.571623
23       23  0.418690
24       24  0.515726
25       25  0.668138
26       26  0.396602
27       27  0.382835
28       28  0.262768
29       29  0.388039
30       30  0.315904
31       31  0.912198
32       32  0.830944
33       33  0.961499
34       34  0.764358
35       35  0.940824
36       36  0.420915
37       37  0.928622
38       38  0.977641
39       39  0.633390
40       40       NaN
41       41  0.993477

/usr/local/lib/python3.10/dist-packages/statsmodels/regression/linear_model.py:1785: RuntimeWarning: invalid value encountered in scalar divide
  return 1 - self.ssr/self.uncentered_tss

Selected features after VIF reduction:
RangeIndex(start=0, stop=42, step=1)

Final VIF values:
    Feature       VIF
0         0  0.217058
1         1  0.165907
2         2  0.022682
3         3  0.108874
4         4  0.389478
5         5  0.242709
6         6  0.224042
7         7  0.272934
8         8  0.174418
9         9  0.099730
10       10  0.070122
11       11  0.327319
12       12  0.188892
13       13  0.274949
14       14  0.053157
15       15  0.121749
16       16  0.082779
17       17  0.459046
18       18  0.739271
19       19  0.655708
20       20  0.318619
21       21  0.595013
22       22  0.571623
23       23  0.418690
24       24  0.515726
25       25  0.668138
26       26  0.396602
27       27  0.382835
28       28  0.262768
29       29  0.388039
30       30  0.315904
31       31  0.912198
32       32  0.830944
33       33  0.961499
34       34  0.764358
35       35  0.940824
36       36  0.420915
37       37  0.928622
38       38  0.977641
39       39  0.633390
40       40       NaN
41       41  0.993477

In [242]:
vif_dataR1401 = calculate_vif(pd.DataFrame(X_varR1401))
print("Initial VIF values:")
print(vif_dataR1401)


XR1401_selected, final_vif_dataR1401 = feature_selection_by_vif(pd.DataFrame(X_varR1401))

print("\nSelected features after VIF reduction:")
print(XR1401_selected.columns)

print("\nFinal VIF values:")
print(final_vif_dataR1401)

/usr/local/lib/python3.10/dist-packages/numpy/core/_methods.py:49: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/usr/local/lib/python3.10/dist-packages/statsmodels/regression/linear_model.py:1783: RuntimeWarning: invalid value encountered in scalar divide
  return 1 - self.ssr/self.centered_tss

Initial VIF values:
    Feature       VIF
0         0  0.215554
1         1  0.165827
2         2  0.018452
3         3  0.102777
4         4  0.361846
5         5  0.275271
6         6  0.230678
7         7  0.295875
8         8  0.180255
9         9  0.100127
10       10  0.109497
11       11  0.069536
12       12  0.390452
13       13  0.200771
14       14  0.273555
15       15  0.062743
16       16  0.123259
17       17  0.043232
18       18  0.621989
19       19  0.696496
20       20  0.548878
21       21  0.433015
22       22  0.260593
23       23  0.357222
24       24  0.685038
25       25  0.575364
26       26  0.587377
27       27  0.369616
28       28  0.618656
29       29  0.459425
30       30  0.437400
31       31  0.110952
32       32  0.280804
33       33  0.386726
34       34  0.319956
35       35  0.081839
36       36  0.983503
37       37  0.650743
38       38  0.885252
39       39  0.950168
40       40  0.973208
41       41  0.885690
42       42  0.980200
43       43  0.993869
44       44  0.913457
45       45       NaN
46       46  0.999921

/usr/local/lib/python3.10/dist-packages/numpy/core/_methods.py:49: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/usr/local/lib/python3.10/dist-packages/statsmodels/regression/linear_model.py:1783: RuntimeWarning: invalid value encountered in scalar divide
  return 1 - self.ssr/self.centered_tss

Selected features after VIF reduction:
RangeIndex(start=0, stop=47, step=1)

Final VIF values:
    Feature       VIF
0         0  0.215554
1         1  0.165827
2         2  0.018452
3         3  0.102777
4         4  0.361846
5         5  0.275271
6         6  0.230678
7         7  0.295875
8         8  0.180255
9         9  0.100127
10       10  0.109497
11       11  0.069536
12       12  0.390452
13       13  0.200771
14       14  0.273555
15       15  0.062743
16       16  0.123259
17       17  0.043232
18       18  0.621989
19       19  0.696496
20       20  0.548878
21       21  0.433015
22       22  0.260593
23       23  0.357222
24       24  0.685038
25       25  0.575364
26       26  0.587377
27       27  0.369616
28       28  0.618656
29       29  0.459425
30       30  0.437400
31       31  0.110952
32       32  0.280804
33       33  0.386726
34       34  0.319956
35       35  0.081839
36       36  0.983503
37       37  0.650743
38       38  0.885252
39       39  0.950168
40       40  0.973208
41       41  0.885690
42       42  0.980200
43       43  0.993869
44       44  0.913457
45       45       NaN
46       46  0.999921

In [243]:
vif_dataU1401 = calculate_vif(pd.DataFrame(X_varU1401))
print("Initial VIF values:")
print(vif_dataU1401)


XU1401_selected, final_vif_dataU1401 = feature_selection_by_vif(pd.DataFrame(X_varU1401))

print("\nSelected features after VIF reduction:")
print(XU1401_selected.columns)

print("\nFinal VIF values:")
print(final_vif_dataU1401)

/usr/local/lib/python3.10/dist-packages/numpy/core/_methods.py:49: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/usr/local/lib/python3.10/dist-packages/statsmodels/regression/linear_model.py:1783: RuntimeWarning: invalid value encountered in scalar divide
  return 1 - self.ssr/self.centered_tss

Initial VIF values:
    Feature       VIF
0         0  0.217384
1         1  0.166173
2         2  0.022649
3         3  0.108910
4         4  0.389539
5         5  0.243018
6         6  0.223899
7         7  0.272809
8         8  0.174133
9         9  0.099739
10       10  0.070164
11       11  0.327080
12       12  0.188980
13       13  0.274856
14       14  0.053161
15       15  0.121738
16       16  0.082831
17       17  0.456770
18       18  0.737241
19       19  0.655293
20       20  0.318600
21       21  0.593839
22       22  0.570515
23       23  0.418075
24       24  0.516021
25       25  0.667360
26       26  0.396313
27       27  0.382550
28       28  0.262974
29       29  0.388029
30       30  0.319224
31       31  0.069593
32       32  0.985643
33       33  0.953908
34       34  0.899235
35       35  0.954444
36       36  0.983268
37       37  0.890648
38       38  0.981030
39       39  0.994608
40       40  0.971236
41       41       NaN
42       42  0.999939

/usr/local/lib/python3.10/dist-packages/numpy/core/_methods.py:49: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/usr/local/lib/python3.10/dist-packages/statsmodels/regression/linear_model.py:1783: RuntimeWarning: invalid value encountered in scalar divide
  return 1 - self.ssr/self.centered_tss

Selected features after VIF reduction:
RangeIndex(start=0, stop=43, step=1)

Final VIF values:
    Feature       VIF
0         0  0.217384
1         1  0.166173
2         2  0.022649
3         3  0.108910
4         4  0.389539
5         5  0.243018
6         6  0.223899
7         7  0.272809
8         8  0.174133
9         9  0.099739
10       10  0.070164
11       11  0.327080
12       12  0.188980
13       13  0.274856
14       14  0.053161
15       15  0.121738
16       16  0.082831
17       17  0.456770
18       18  0.737241
19       19  0.655293
20       20  0.318600
21       21  0.593839
22       22  0.570515
23       23  0.418075
24       24  0.516021
25       25  0.667360
26       26  0.396313
27       27  0.382550
28       28  0.262974
29       29  0.388029
30       30  0.319224
31       31  0.069593
32       32  0.985643
33       33  0.953908
34       34  0.899235
35       35  0.954444
36       36  0.983268
37       37  0.890648
38       38  0.981030
39       39  0.994608
40       40  0.971236
41       41       NaN
42       42  0.999939